<h3 mat-dialog-title>{{ this.getDialogTitle() }}</h3>
<mat-dialog-content>
    <app-aircraft-wnb-edit-envelope-coordinate-form
        class="weight-item-form"
        [isNewCoordinate]="this.data.isNewCoordinate"
        [coordinate]="this.data.coordinate"
        [coordinateList]="this.data.coordinateList"
        [weightUnit]="this.data.weightUnit"
        [lengthUnit]="this.data.lengthUnit"
        (onAddCoordinateClick)="this.onAddClicked($event)"
        (onEditCoordinateClick)="this.onUpdateClicked($event)"
        (onDeleteCoordinateClick)="this.onDeleteClicked($event)"
        (onCancelClick)="this.onCancelClicked()"
    />
</mat-dialog-content>
