<app-form-dialog
    [title]="this.getDialogTitle()"
    [isFormValid]="this.editCoordinateForm?.valid"
    [saveButtonText]="this.getSaveButtonText()"
    cancelButtonText="Cancel"
    deleteButtonText="Delete"
    [showDeleteButton]="!this.data.isNewCoordinate"
    (saveClicked)="this.onSaveClicked()"
    (cancelClicked)="this.onCancelClicked()"
    (deleteClicked)="this.onDeleteClicked()"
>
    <form [formGroup]="editCoordinateForm">
        <div class="coordinate-form-content">
            <mat-form-field class="flex-row-100">
                <mat-label>Arm</mat-label>
                <input
                    matInput
                    type="number"
                    formControlName="arm"
                    required
                    min="-99999"
                    max="99999"
                >
                <span matTextSuffix>{{ Length.getUnitString(this.data.lengthUnit) }}</span>
                <mat-error>Value must be a positive or negative number!</mat-error>
            </mat-form-field>
            <mat-form-field class="flex-row-100">
                <mat-label>Weight</mat-label>
                <input
                    matInput
                    type="number"
                    formControlName="weight"
                    required
                    min="1"
                    max="99999"
                >
                <span matTextSuffix>{{ Weight.getUnitString(this.data.weightUnit) }}</span>
                <mat-error>Value must be a positive number between 1 and 99999!</mat-error>
            </mat-form-field>
            @if (this.data.isNewCoordinate && this.data.coordinateList && this.data.coordinateList.length > 0) {
                <mat-form-field
                    class="flex-row-100"
                >
                    <mat-label>Position</mat-label>
                    <mat-select formControlName="insertAtIndex">
                        <mat-option value="0">at the beginning</mat-option>
                        @for (coord of this.data.coordinateList; track coord; let idx = $index) {
                            <mat-option
                                [value]="idx + 1"
                            >
                                {{ this.getInsertAtIndexText(coord) }}
                            </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            }
        </div>
    </form>
</app-form-dialog>
