RewriteEngine On
#RewriteBase /v2/api/
RewriteBase /api/

# Define the php base path
#RewriteRule ^ - [E=BASEPATH:/v2/php/Navplan/]
RewriteRule ^ - [E=BASEPATH:/php/Navplan/]


### aerodromes ###

# Rewrite for /api/aerodromes
RewriteRule ^aerodromes$ %{ENV:BASEPATH}Aerodrome/Aerodrome.php [L,QSA]

# Rewrite for /api/aerodromes/{id}
RewriteRule ^aerodromes/(\d+)$ %{ENV:BASEPATH}Aerodrome/Aerodrome.php?id=$1 [L,QSA]

# Rewrite for /api/aerodromes/circuits
RewriteRule ^aerodromes/circuits$ %{ENV:BASEPATH}Aerodrome/AdCircuit.php [L,QSA]

# Rewrite for /api/aerodromes/reportingpoints
RewriteRule ^aerodromes/reportingpoints$ %{ENV:BASEPATH}Aerodrome/AdReportingPoint.php [L,QSA]

# Rewrite for /api/aerodromes/charts/{id}
RewriteRule ^aerodromes/charts/(\d+)$ %{ENV:BASEPATH}Aerodrome/AdChart.php?id=$1 [L,QSA]


### aircrafts ###

# Rewrite for /api/aircrafts
RewriteRule ^aircrafts$ %{ENV:BASEPATH}Aircraft/Aircraft.php [L,QSA]

# Rewrite for /api/aircrafts/{id}
RewriteRule ^aircrafts/(\d+)$ %{ENV:BASEPATH}Aircraft/Aircraft.php?id=$1 [L,QSA]

# Rewrite for /api/aircrafts/{id}/{action}
RewriteCond %{REQUEST_METHOD} ^(POST|PUT)$
RewriteRule ^aircrafts/(\d+)/([^/]+)$ %{ENV:BASEPATH}Aircraft/Aircraft.php?id=$1&action=$2 [L,QSA]

# Rewrite for /api/aircrafts/typedesignators
RewriteRule ^aircrafts/typedesignators$ %{ENV:BASEPATH}Aircraft/AircraftTypeDesignator.php [L,QSA]

### airspaces ###
# Rewrite for /api/airspaces
RewriteRule ^airspaces$ %{ENV:BASEPATH}Airspace/Airspace.php [L,QSA]


### flight routes ###

# Rewrite for /api/flightroutes
RewriteRule ^flightroutes$ %{ENV:BASEPATH}Flightroute/Flightroute.php [L,QSA]

# Rewrite for /api/flightroutes/{id}
RewriteRule ^flightroutes/(\d+)$ %{ENV:BASEPATH}Flightroute/Flightroute.php?id=$1 [L,QSA]

# Rewrite for /api/flightroutes/{id}/{action}
RewriteCond %{REQUEST_METHOD} ^(POST|PUT)$
RewriteRule ^flightroutes/(\d+)/([^/]+)$ %{ENV:BASEPATH}Flightroute/Flightroute.php?id=$1&action=$2 [L,QSA]


### meteograms ###
# Rewrite for /api/meteograms
RewriteRule ^meteograms$ %{ENV:BASEPATH}MeteoGram/Rest/Service/ReadCloudMeteogram.php [L,QSA]


### meteo SMA ###
# Rewrite for /api/meteosma
RewriteRule ^meteosma$ %{ENV:BASEPATH}MeteoSma/MeteoSma.php [L,QSA]


### navaids ###
# Rewrite for /api/navaids
RewriteRule ^navaids$ %{ENV:BASEPATH}Navaid/Navaid.php [L,QSA]


### notams ###
# Rewrite for /api/notams
RewriteRule ^notams$ %{ENV:BASEPATH}Notam/Notam.php [L,QSA]


### webcams ###
# Rewrite for /api/webcams
RewriteRule ^webcams$ %{ENV:BASEPATH}Webcam/Webcam.php [L,QSA]
