<mat-form-field>
    <mat-label><ng-content /></mat-label>
    <input
        matInput
        [formControl]="this.valueControl"
        type="number"
        [min]="this.minValue"
        [max]="this.maxValue"
        (change)="this.onValueChanged()"
    />
    <button
        matSuffix
        mat-button
        [matMenuTriggerFor]="unitMenu"
        type="button"
    >{{ Speed.getUnitString(this.selectedUnit) }}</button>
    <mat-error>Value must be a positive integer between {{ this.minValue }} and {{ this.maxValue }}!</mat-error>
</mat-form-field>

<mat-menu #unitMenu="matMenu">
    @for (unit of this.availableUnits; track unit) {
        <button
            mat-menu-item
            [class.active-unit]="unit === this.selectedUnit"
            (click)="this.onUnitSelected(unit)"
        >{{ Speed.getUnitString(unit) }}</button>
    }
</mat-menu>



