<p *ngIf="this.notamList && this.notamList.length > 0">
    <button type="button" class="btn btn-sm btn-danger" (click)="onShowAirportNotams()"><i
            class="fa fa-exclamation-triangle" aria-hidden="true"></i></button> NOTAM
</p>
<!--
            <p ng-show="globalData.selectedWp.airport.notams.length > 0">
                <button type="button" class="btn btn-danger btn-circle" ng-click="onShowAirportNotams()"><i
                        class="fa fa-exclamation-triangle" aria-hidden="true"></i></button>
                NOTAM
            </p>
-->
