@if (this.buttonFormat === 'large') {
  <button mat-fab
    [matTooltip]="this.tooltipText"
    [matTooltipPosition]="this.tooltipPosition"
    [color]="this.getColor()"
    (click)="this.onButtonClick()"
    class="map-button-large"
    >
    <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
  </button>
}
@if (this.buttonFormat === 'small_round') {
  <button mat-mini-fab
    [matTooltip]="this.tooltipText"
    [matTooltipPosition]="this.tooltipPosition"
    [color]="this.getColor()"
    (click)="this.onButtonClick()"
    >
    <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
  </button>
}
@if (this.buttonFormat === 'small_square') {
  <button mat-mini-fab
    [matTooltip]="this.tooltipText"
    [matTooltipPosition]="this.tooltipPosition"
    [color]="this.getColor()"
    (click)="this.onButtonClick()"
    class="button-small-square"
    >
    <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
  </button>
}
<ng-template #contentTpl>
  <ng-content></ng-content>
</ng-template>
