<form class="weather-factors-form" [formGroup]="this.weatherFactorsForm">
    <div class="weather-factors-form-content">
        <div>
            <!-- Elevation -->
            <mat-form-field class="input-field">
                <mat-label>ELEV</mat-label>
                <input
                    matInput
                    formControlName="elevation"
                    type="number"
                    required
                    min="0"
                    (change)="this.onElevationChanged()"
                >
                <span matTextSuffix>{{ Length.getUnitString(this.altitudeUnit) }}</span>
                <mat-error>Value must be a positive number!</mat-error>
            </mat-form-field>
            &nbsp;
            <span class="calc-field">AMSL</span>
        </div>
        <div>
            <!-- QNH -->
            <mat-form-field class="input-field">
                <mat-label>QNH</mat-label>
                <input
                    matInput
                    formControlName="qnh"
                    type="number"
                    required
                    min="0"
                    (change)="this.onQnhChanged()"
                >
                <span matTextSuffix>{{ Pressure.getUnitString(this.pressureUnit) }}</span>
                <mat-error>Value must be a positive number!</mat-error>
            </mat-form-field>

            <!-- PA -->
            &nbsp;
            <span class="calc-field">PA: {{ this.getPaValue() }}</span>
        </div>
        <div>
            <!-- OAT -->
            <mat-form-field class="input-field">
                <mat-label>OAT</mat-label>
                <input
                    matInput
                    formControlName="oat"
                    type="number"
                    required
                    (change)="this.onOatChanged()"
                >
                <span matTextSuffix>{{ Temperature.getUnitString(this.temperatureUnit) }}</span>
                <mat-error>Value is mandatory!</mat-error>
            </mat-form-field>

            <!-- DA -->
            &nbsp;
            <span class="calc-field">DA: {{ this.getDaValue() }}</span>

            <!-- ISA temp -->
            &nbsp;
            <span class="calc-field">ISA Std Temp: {{ this.getIsaTempValue() }}</span>
        </div>
    </div>
</form>
