<form class="weather-factors-form" [formGroup]="this.weatherFactorsForm">
    <div class="weather-factors-form-content">
        <div>
            <!-- Elevation -->
            <app-altitude-input
                class="input-field"
                [length]="this.elevation"
                [defaultLengthUnit]="this.altitudeUnit"
                [isRequired]="true"
                [minValue]="0"
                (lengthChanged)="this.onElevationChanged($event)"
            >ELEV</app-altitude-input>
            &nbsp;
            <span class="calc-field">AMSL</span>
        </div>
        <div>
            <!-- QNH -->
            <app-air-pressure-input
                class="input-field"
                [pressure]="this.qnh"
                [defaultPressureUnit]="this.pressureUnit"
                [isRequired]="true"
                [minValue]="0"
                (pressureChanged)="this.onQnhChanged($event)"
            >QNH</app-air-pressure-input>

            <!-- PA -->
            &nbsp;
            <span class="calc-field">PA: {{ this.getPaValue() }}</span>
        </div>
        <div>
            <!-- OAT -->
            <app-temperature-input
                class="input-field"
                [temperature]="this.oat"
                [defaultTemperatureUnit]="this.temperatureUnit"
                [isRequired]="true"
                [minValue]="-99"
                [maxValue]="99"
                (temperatureChanged)="this.onOatChanged($event)"
            >OAT</app-temperature-input>

            <!-- DA -->
            &nbsp;
            <span class="calc-field">DA: {{ this.getDaValue() }}</span>

            <!-- ISA temp -->
            &nbsp;
            <span class="calc-field">ISA Std Temp: {{ this.getIsaTempValue() }}</span>
        </div>
    </div>
</form>
