.mat-mdc-fab {
    height: 45px !important;
    width: 50px !important;
}

.zoom-in-button {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    font-size: large;
}

.zoom-out-button {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    font-size: large;
}

.mat-mdc-fab.mat-mapbutton-primary {
    color: white;
    background-color: rgba(84, 110, 122, 0.7);
}

.mat-mdc-fab.mat-mapbutton-primary:hover {
    color: rgba(51, 51, 51, 0.7);;
}
