.mat-mdc-fab {
    height: 45px !important;
    width: 50px !important;
}

.zoom-in-button {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    font-size: large;
}

.zoom-out-button {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    font-size: large;
}
