<div class="tabs-container">
    <mat-tab-group
        #tabGroup
        mat-stretch-tabs="false"
        animationDuration="0ms"
        (selectedTabChange)="onTabChange($event)"
    >
        <mat-tab>
            <ng-template matTabLabel>
                <i class="fa-brands fa-stack-overflow"></i><span class="tab-text">&nbsp;&nbsp;Routes</span>
            </ng-template>
            <ng-template matTabContent>
                <app-route-list-page />
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template matTabLabel>
                <i class="fa-solid fa-route"></i><span class="tab-text">&nbsp;&nbsp;Waypoints</span>
            </ng-template>
            <ng-template matTabContent>
                <app-flightroute-container />
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template matTabLabel>
                <i class="fa-solid fa-tint"></i><span class="tab-text">&nbsp;&nbsp;Fuel</span>
            </ng-template>
            <ng-template matTabContent>
                <app-fuel-calc-container />
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template matTabLabel>
                <i class="fa-solid fa-balance-scale"></i><span class="tab-text">&nbsp;&nbsp;W&B</span>
            </ng-template>
            <ng-template matTabContent>
                <app-plan-wnb-container />
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template matTabLabel>
                <i class="fa-solid fa-plane-departure"></i><span class="tab-text">&nbsp;&nbsp;Performance</span>
            </ng-template>
            <ng-template matTabContent>
                <app-plan-perf-container />
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template matTabLabel>
                <i class="fa-solid fa-cloud-sun-rain"></i><span class="tab-text">&nbsp;&nbsp;Meteo</span>
            </ng-template>
            <ng-template matTabContent>
                <app-route-meteo-container />
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template matTabLabel>
                <i class="fa-solid fa-exclamation-triangle"></i><span class="tab-text">&nbsp;&nbsp;Notams</span>
            </ng-template>
            <ng-template matTabContent>
                TODO
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>

