<div class="aircraft-selected-container">
    @if (this.showIcon) {
        <i class="fa-solid fa-route icon"></i>&nbsp;&nbsp;
    }
    <span class="label-text">{{ this.labelText }}</span>&nbsp;
    @if (this.currentRoute && this.showRouteName) {
        <span>{{ this.currentRoute.title }}</span>
    }
    @if (!this.currentRoute && this.showRouteName) {
        <span><i>(not selected)</i></span>
    }
    <app-icon-button
        [color]="ButtonColor.GRAY"
        tooltipText="Select Flightroute"
        tooltipPosition="above"
        (buttonClicked)="this.pickFlightrouteClicked.emit(null)"
    >
        <i class="fa-solid fa-search"></i>
    </app-icon-button>
</div>
