<div class="aircraft-selected-container">
    @if (this.showIcon) {
        <i class="fa-solid fa-route icon"></i>&nbsp;&nbsp;
    }
    <span class="label-text">{{ this.labelText }}</span>&nbsp;
    @if (this.showRouteName) {
        @if (this.currentRoute && this.currentRoute.title && this.currentRoute.title.length > 0) {
            <span>{{ this.currentRoute.title }}</span>
        } @else if (this.currentRoute && this.currentRoute.waypoints.length > 0) {
            <span><i>(no name)</i></span>
        } @else {
            <span><i>(not selected)</i></span>
        }
    }
    <app-icon-button
        [color]="ButtonColor.GRAY"
        tooltipText="Select Flightroute"
        tooltipPosition="above"
        (buttonClicked)="this.pickFlightrouteClicked.emit(null)"
    >
        <i class="fa-solid fa-search"></i>
    </app-icon-button>
</div>
