<mat-toolbar color="primary" class="mat-elevation-z6">
    <span><a mat-button href="/"><h1>NAVPLAN.CH</h1></a></span>
    <a mat-button routerLink="./map" title="Map">Map</a>
    <a mat-button routerLink="./route" title="Route & Fuel Calc">Route</a>
    <a mat-button *ngIf="this.currentUser$ | async" routerLink="./tracks" title="Recorded Tracks">Tracks</a>
    <button mat-button routerLink="./map" title="Clear current Route and Track"><i class="fas fa-eraser"></i></button>
    <button mat-button title="Search" (click)="this.onShowSearchClicked()"><i class="fas fa-search"></i></button>
    <a mat-button routerLink="./chartmap" title="Chart Map">Chart Map</a>
    <span class="fill-remaining-space"></span>
    <a mat-icon-button *ngIf="(this.currentUser$ | async) as currentUser; else noCurrentUser" routerLink="./userprofile"
       title="User Profile">
        <i class="fas fa-user"></i>
    </a>
    <ng-template #noCurrentUser>
        <a mat-icon-button routerLink="./login" title="Login or Register">
            <i class="fas fa-user"></i>
        </a>
    </ng-template>
    <a mat-icon-button routerLink="./settings" title="Edit Settings"><i class="fas fa-cog"></i></a>
    <a mat-icon-button routerLink="./about" title="About"><i class="fas fa-info-circle"></i></a>
</mat-toolbar>
