<!-- download pdf / excel buttons -->
<div class="flex-row export-buttons">
    <a mat-raised-button
       color="accent"
       class="button-pdf"
       matTooltip="Print Navigation Log as PDF"
       (click)="this.onExportFlightroutePdfClick()">
        <i class="fa-solid fa-print"></i>&nbsp;
        Print PDF
    </a>&nbsp;
    <a mat-raised-button
       color="accent"
       class="button-excel"
       matTooltip="Export Navigation Log as Excel"
       (click)="this.onExportFlightrouteExcelClick()">
        <i class="fa-solid fa-file-excel"></i>&nbsp;
        Excel Export
    </a>&nbsp;
</div>
