<div class="main-container">
    @if (this.isAddable$ | async) {
        <app-map-popup-waypoint-button-add-to-route
            [waypoint]="this.waypoint$ | async"
            [flightroute]="this.flightroute$ | async"
            (insertWaypointClick)="this.onInsertWaypointAt($event)"
        />
    }
    @if (this.isWaypointInFlightroute$ | async) {
        <app-map-popup-waypoint-button-edit-waypoint
            class="spacer-bottom"
            [waypoint]="this.waypoint$ | async"
            (editWaypointClick)="this.onEditWaypoint($event)"
        />
    }
    @if (this.isWaypointInFlightroute$ | async) {
        <app-map-popup-waypoint-button-remove-from-route
            class="spacer-bottom"
            [waypoint]="this.waypoint$ | async"
            (removeWaypointClick)="this.onDeleteWaypoint($event)"
        />
    }
    @if (!(this.isAlternateWaypoint$ | async) && (this.isAlternateEligible$ | async)) {
        <app-map-popup-waypoint-button-set-alternate
            class="spacer-bottom"
            [waypoint]="this.waypoint$ | async"
            (setAlternateClick)="this.onSetAlternate($event)"
        />
    }
    @if ((this.isAlternateWaypoint$ | async)) {
        <app-map-popup-waypoint-button-remove-alternate
            class="spacer-bottom"
            (removeAlternateClick)="this.onSetAlternate(undefined)"
        />
    }
</div>
