.aircraft-selected-container {
    display: inline-flex;
    align-items: center;
    //margin-bottom: 10px;
}

.icon {
    color: dodgerblue;
    width: 15px;
}

.label-text {
    color: darkgray;
}
