<div class="aircraft-selected-container">
  {{ this.labelText }}&nbsp;
  @if (this.currentAircraft && this.showRegistration) {
    <span>
      {{ this.currentAircraft.registration }}
    </span>
  }
  @if (!this.currentAircraft && this.showRegistration) {
    <span>
      <i>(not selected)</i>
    </span>
  }
  <app-icon-button
    [color]="ButtonColor.BLUE"
    tooltipText="Select Aircraft"
    tooltipPosition="above"
    (buttonClicked)="this.searchAircraftClicked.emit(null)"
    >
    <i class="fa-solid fa-search"></i>
  </app-icon-button>
</div>
