<div #container class="ol-popup">
    <mat-card appearance="outlined">
        <app-map-popup-airport-header *ngIf="this.airport" [airport]="this.airport"></app-map-popup-airport-header>
        <app-map-popup-reportingpoint-header *ngIf="this.reportingPoint" [reportingpoint]="this.reportingPoint"></app-map-popup-reportingpoint-header>
        <app-map-popup-reportingsector-header *ngIf="this.reportingSector" [reportingsector]="this.reportingSector"></app-map-popup-reportingsector-header>
        <app-map-popup-navaid-header *ngIf="this.navaid" [navaid]="this.navaid"></app-map-popup-navaid-header>
        <app-map-popup-geoname-header *ngIf="this.geoname" [geoname]="this.geoname"></app-map-popup-geoname-header>
        <app-map-popup-userpoint-header *ngIf="this.userPoint" [userpoint]="this.userPoint"></app-map-popup-userpoint-header>
        <app-map-popup-waypoint-header *ngIf="this.waypointItem" [waypoint]="this.waypointItem"></app-map-popup-waypoint-header>

        <mat-card-content>
            <mat-tab-group #tabGroup mat-stretch-tabs="false" headerPosition="below" animationDuration="0ms">
                <!-- info tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fa-solid fa-info"></i>
                    </ng-template>
                    <app-map-popup-airport-info-tab *ngIf="this.airport" [airport]="this.airport"></app-map-popup-airport-info-tab>
                    <app-map-popup-reportingpoint-info-tab *ngIf="this.reportingPoint" [reportingpoint]="this.reportingPoint"></app-map-popup-reportingpoint-info-tab>
                    <app-map-popup-reportingsector-info-tab *ngIf="this.reportingSector" [reportingsector]="this.reportingSector"></app-map-popup-reportingsector-info-tab>
                    <app-map-popup-navaid-info-tab *ngIf="this.navaid" [navaid]="this.navaid"></app-map-popup-navaid-info-tab>
                    <app-map-popup-geoname-info-tab *ngIf="this.geoname" [geoname]="this.geoname"></app-map-popup-geoname-info-tab>
                    <app-map-popup-userpoint-info-tab *ngIf="this.userPoint" [userpoint]="this.userPoint"></app-map-popup-userpoint-info-tab>
                    <app-map-popup-waypoint-info-tab *ngIf="this.waypointItem" [waypoint]="this.waypointItem"></app-map-popup-waypoint-info-tab>
                </mat-tab>

                <!-- airport runway tab -->
                <mat-tab *ngIf="this.airport">
                    <ng-template mat-tab-label>
                        <i class="fa-solid fa-road"></i>
                    </ng-template>
                    <app-map-popup-airport-runway-tab [airport]="this.airport"></app-map-popup-airport-runway-tab>
                </mat-tab>

                <!-- airport radio tab -->
                <mat-tab *ngIf="this.airport">
                    <ng-template mat-tab-label>
                        <i class="fa-solid fa-broadcast-tower"></i>
                    </ng-template>
                    <app-map-popup-airport-radio-tab [airport]="this.airport"></app-map-popup-airport-radio-tab>
                </mat-tab>

                <!-- meteo tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fa-solid fa-cloud-sun-rain"></i>
                    </ng-template>
                    <ng-template matTabContent>
                        <app-map-popup-meteogram [position]="this.position"></app-map-popup-meteogram>
                        <app-map-popup-precip-temp-graph [position]="this.position"></app-map-popup-precip-temp-graph>
                        <app-map-popup-metar-taf *ngIf="this.airport" [metarTaf]="this.metarTaf"></app-map-popup-metar-taf>
                    </ng-template>
                </mat-tab>

                <!-- notam tab -->
                <mat-tab *ngIf="this.notams && this.notams.length > 0">
                    <ng-template mat-tab-label>
                        <i class="fa-solid fa-exclamation-triangle"></i>
                    </ng-template>
                    <app-map-popup-notam-tab [notams]="this.notams"></app-map-popup-notam-tab>
                </mat-tab>

                <!-- charts tab -->
                <mat-tab *ngIf="this.airport">
                    <ng-template mat-tab-label>
                        <i class="fa-solid fa-map"></i>
                    </ng-template>
                    <app-map-popup-airport-chart-tab [airport]="this.airport"></app-map-popup-airport-chart-tab>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
        <app-map-popup-waypoint-button-container></app-map-popup-waypoint-button-container>
    </mat-card>
</div>
