<form [formGroup]="this.flightrouteForm" class="flightroute-form">
    <app-aircraft-picker-container/>

    <app-flightroute-aircraft-speed
        [speedUnit]="this.speedUnit$ | async"
        [aircraftSpeed]="this.aircraftSpeed$ | async"
        (aircraftSpeedChanged)="this.onAircraftSpeedChanged($event)"
    />

    <app-flightroute-name-load-save
        [flightrouteName]="this.flightrouteName$ | async"
        [flightrouteId]="this.flightrouteId$ | async"
        [isUserLoggedIn]="this.isUserLoggedIn$ | async"
        (flightrouteNameChange)="this.onFlightrouteNameChanged($event)"
        (loadFlightrouteClick)="this.onLoadFlightrouteClick()"
        (saveFlightrouteClick)="this.onSaveFlightrouteClick()"
        (saveFlightrouteCopyClick)="this.onSaveFlightrouteCopyClick()"
    />

    <app-flightroute-waypoint-list
        [flightroute]="this.currentFlightroute$ | async"
        [altitudeUnit]="this.altitudeUnit$ | async"
        (onEditWaypointClick)="this.onEditWaypointClick($event)"
        (onRemoveWaypointClick)="this.onRemoveWaypointClick($event)"
        (onReverseWaypointsClick)="this.onReverseWaypointsClick()"
    />

    <app-flightroute-comments
        [routeComments]="this.routeComments$ | async"
        (routeCommentsChanged)="this.onFlightrouteCommentsChanged($event)"
    />
</form>
