<form [formGroup]="this.flightrouteForm" class="tab-page-container">
    <div class="route-speed-row">
        <app-flightroute-aircraft-speed
            [speedUnit]="this.speedUnit$ | async"
            [routeSpeed]="this.routeSpeed$ | async"
            [useAircraftValue]="this.useAircraftSpeedValue$ | async"
            (routeSpeedChanged)="this.onRouteSpeedChanged($event)"
        />
        <app-aircraft-manual-toggle
            class="manual-aircraft-toggle"
            [selectedAircraft]="this.selectedAircraft$ | async"
            [useAircraft]="this.useAircraftSpeedValue$ | async"
            (useAircraftValueChanged)="this.onUseAircraftSpeedChanged($event)"
        />
        <app-aircraft-picker-container
            [showRegistration]="false"
        />
    </div>

    <app-flightroute-name-load-save
        [flightrouteName]="this.flightrouteName$ | async"
        [flightrouteId]="this.flightrouteId$ | async"
        [isUserLoggedIn]="this.isUserLoggedIn$ | async"
        (flightrouteNameChange)="this.onFlightrouteNameChanged($event)"
        (loadFlightrouteClick)="this.onLoadFlightrouteClick()"
        (saveFlightrouteClick)="this.onSaveFlightrouteClick()"
        (saveFlightrouteCopyClick)="this.onSaveFlightrouteCopyClick()"
    />

    <app-flightroute-waypoint-list
        [flightroute]="this.currentFlightroute$ | async"
        [altitudeUnit]="this.altitudeUnit$ | async"
        (onEditWaypointClick)="this.onEditWaypointClick($event)"
        (onRemoveWaypointClick)="this.onRemoveWaypointClick($event)"
        (onReverseWaypointsClick)="this.onReverseWaypointsClick()"
    />

    <app-flightroute-comments
        [routeComments]="this.routeComments$ | async"
        (routeCommentsChanged)="this.onFlightrouteCommentsChanged($event)"
    />
</form>
