@use '../../../../../../../node_modules/@angular/material/index' as mat;

.flightroute-form {
    margin-top: 20px;
}

.route-speed-line {
    display: inline-flex;
    align-items: baseline;
}

.route-comments {
    margin-top: 20px;
    width: 100%;
}

.button-load {
    background-color: var(--navplan-color-green);
    color: white;
}

.button-delete {
    background-color: var(--navplan-color-red);
    color: white;
}

.button-save {
    background-color: var(--navplan-color-blue);
    color: white;
}

.button-copy {
    background-color: var(--navplan-color-blue);
    color: white;
}
