@use '../../../../../../../node_modules/@angular/material/index' as mat;

.fuel-table {
    width: 100%;
}

.form-field {
    width: 100px;
    margin-top: 10px;
    margin-bottom: -0.75em;
    @include mat.form-field-density(-5);
}
