<div class="single-page-container">
    <mat-accordion>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title><strong>Log In</strong></mat-panel-title>
            </mat-expansion-panel-header>
            <app-login-form
                [currentUser]="this.currentUser$ | async"
                (onLoginClick)="this.onLoginClick($event)">
            </app-login-form>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title><strong>Create New Account</strong></mat-panel-title>
            </mat-expansion-panel-header>
            <app-register-step1-form
                [registerEmailSentTo]="this.registerEmailSentTo$ | async"
                (onSendRegisterEmailClick)="this.onSendRegisterEmailClick($event)">
            </app-register-step1-form>
        </mat-expansion-panel>
    </mat-accordion>
</div>
