<div class="flex-row-100" [formGroup]="this.flightrouteNameFormGroup">
    <!-- flightroute name  -->
    <mat-form-field class="route-name-field">
        <mat-label>Route Name</mat-label>
        <input
            matInput
            formControlName="flightrouteNameInput"
            #routeName
            required
            type="text"
            maxlength="50"
            [value]="this.flightrouteName"
            (change)="this.onFlightrouteNameChange(routeName.value)"
        />
        <mat-error>Name must be between 1 and 50 characters!</mat-error>
    </mat-form-field>

    <!-- load / save / save copy buttons -->
    <app-mini-fab-button
        class="inline-button"
        [color]="ButtonColor.GREEN"
        [tooltipText]="'Load Route'"
        [tooltipPosition]="'above'"
        [disabled]="!this.isLoadButtonEnabled()"
        (buttonClicked)="this.onLoadFlightrouteClick()"
    >
        <i class="fa-solid fa-folder-open"></i>
    </app-mini-fab-button>
    <app-mini-fab-button
        class="inline-button"
        [color]="ButtonColor.BLUE"
        [tooltipText]="'Save Route'"
        [tooltipPosition]="'above'"
        [disabled]="!this.isSaveButtonEnabled()"
        (buttonClicked)="this.onSaveFlightrouteClick()"
    >
        <i class="fa-solid fa-download"></i>
    </app-mini-fab-button>
    <app-mini-fab-button
        class="inline-button"
        [color]="ButtonColor.BLUE"
        [tooltipText]="'Save Copy of Route'"
        [tooltipPosition]="'above'"
        [disabled]="!this.isSaveCopyButtonEnabled()"
        (buttonClicked)="this.onSaveFlightrouteCopyClick()"
    >
        <i class="fa-solid fa-copy"></i>
    </app-mini-fab-button>
</div>
