<!-- base map -->
<div class="base-map-container">
    <app-ol-map-container></app-ol-map-container>
</div>
<!-- map overlays -->
<div style="display: none">
    <!--<app-ol-overlay-waypoint (close)="this.onOverlayClosed()"></app-ol-overlay-waypoint>-->
    <app-ol-map-overlay></app-ol-map-overlay>
    <app-ol-overlay-traffic></app-ol-overlay-traffic>
    <app-ol-overlay-airspace-structure></app-ol-overlay-airspace-structure>
</div>
<!-- search box -->
<app-search-container></app-search-container>
<!-- buttons -->
<app-zoom-buttons
        class="zoom-buttons-pos"
        (zoomInClick)="this.onZoomInClicked()"
        (zoomOutClick)="this.onZoomOutClicked()">
</app-zoom-buttons>
<app-location-button class="location-button-pos"></app-location-button>
<app-traffic-button class="traffic-button-pos"></app-traffic-button>
<app-layer-button class="layer-button-pos"></app-layer-button>
<app-layer-selection class="layer-selection-pos" *ngIf="this.showBaseMapSelection$ | async"></app-layer-selection>
<app-meteo-button class="meteo-button-pos"></app-meteo-button>
<app-meteo-container class="meteo-container-pos" *ngIf="this.showMeteoLayer$ | async"></app-meteo-container>
<app-vertical-map-button class="vertical-map-button-pos" *ngIf="this.showVerticalMapButton$ | async"></app-vertical-map-button>
<app-vertical-map class="vertical-map-pos" *ngIf="(this.showVerticalMap$ | async)"></app-vertical-map>
<app-flighttimer></app-flighttimer>
