<app-aircraft-list
    [aircraftList]="this.aircraftList$ | async"
    [currentAircraft]="this.currentAircraft$ | async"
    [speedUnit]="this.speedUnit$ | async"
    [consumptionUnit]="this.consumptionUnit$ | async"
    (aircraftAdded)="this.onAddAircraft($event)"
    (onSelectAircraftClick)="this.onAircraftSelected($event)"
    (onEditAircraftClick)="this.onAircraftEdited($event)"
    (onDuplicateAircraftClick)="this.onAircraftDuplicated($event)"
    (onDeleteAircraftClick)="this.onAircraftDeleted($event)"
/>
