# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

# pw files
/src/php/config.php
/src/php/config_test.php
/src/php/config/
/navplan_backend/php-app/config/
.env
/secrets/

# data files
/src/data_import/openaip_airports/*
/src/data_import/openaip_airspace/*
/src/data_import/openaip_navaids/*
/src/data_import/icao_aircraft_types/*
/src/data_import/icao_telephony_designators/*
/src/data_import/lfr_ch/*
/src/data_import/basestation/*
/src/meteoretriever/data/*
/src/php/meteoretriever/data/*
/src/php/meteoretriever/tmp
*.grib2
/maptiles/
/terraintiles/
/logs/
/data_import/
/adcharts/
/meteo_dwd/

# 3rd party php
/navplan_backend/php-app/vendor/
composer.lock

# misc
devsbb/
navplan2.iml
/src/php/Navplan/MeteoDwd/asdf.php
/.phpunit.result.cache
/.browserslistrc
/src/tmp/
/src/logs/
/src/charts/
/src/data_import/ivao_sectorfile/
/.angular/cache/
