services:
    navplan_persistence:
        build:
            context: ./navplan_persistence
        container_name: navplan_persistence
        environment:
            MARIADB_ROOT_PASSWORD_FILE: /run/secrets/db_root_pw
            MARIADB_USER: tschanz_navfpl
            MARIADB_PASSWORD_FILE: /run/secrets/db_navplan_pw
        secrets:
            - db_root_pw
            - db_navplan_pw
        ports:
            - 3307:3306
        volumes:
            - navplan_data:/var/lib/mysql

    phpmyadmin:
        image: phpmyadmin
        container_name: phpmyadmin
        environment:
            PMA_HOST: navplan_persistence
            UPLOAD_LIMIT: 300M
        ports:
            - 8081:80
        depends_on:
            - navplan_persistence

    navplan_backend:
        build:
            context: ./navplan_backend
        container_name: navplan_backend
        ports:
            - 8080:80
        depends_on:
            - navplan_persistence
        volumes:
            - navplan_logs:/var/log/navplan
            - navplan_charts:/var/www/html/charts
            - navplan_meteo_forecast:/var/www/html/meteo_forecast

    navplan_frontend:
        build:
            context: ./navplan_frontend
        container_name: navplan_frontend
        ports:
            - 4200:80
        depends_on:
            - navplan_backend
volumes:
    navplan_data:
    navplan_logs:
    navplan_charts:
    navplan_meteo_forecast:

secrets:
    db_root_pw:
        file: ./secrets/db_root_pw.txt
    db_navplan_pw:
        file: ./secrets/db_navplan_pw.txt
