<form [formGroup]="this.airportPerformanceForm" *ngIf="this.airportPerfState && this.airportPerfState.airport">
    <mat-accordion displayMode="flat" multi="true">
        <mat-expansion-panel [expanded]="this.isDepartureAirport">
            <mat-expansion-panel-header>
                <mat-panel-title><i class="{{ this.getTitleIconClass() }}"></i></mat-panel-title>
                <mat-panel-description>{{ this.getTitleText() }}</mat-panel-description>
            </mat-expansion-panel-header>

            <!-- runway selector -->
            <div>
                <mat-form-field>
                    <mat-label>RWY</mat-label>
                    <mat-select
                        formControlName="runway"
                        required
                        [value]="this.airportPerfState.runway"
                        (selectionChange)="this.onRunwayChanged()"
                    >
                        <mat-option
                            *ngFor="let rwy of this.airportPerfState.airport.runways"
                            [value]="rwy"
                        >
                            {{ rwy.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <span>{{ getElevationString() }}</span>
            </div>


            <!-- weather factors -->
            <app-plan-perf-weather-factors
                [weatherFactors]="this.airportPerfState.weatherFactors"
                [pressureUnit]="this.pressureUnit"
                [temperatureUnit]="this.temperatureUnit"
                [altitudeUnit]="this.altitudeUnit"
                (weatherFactorsChanged)="this.onWeatherFactoresChanged($event)"
            />

            <!-- runway factors -->
            <app-plan-perf-runway-factors
                [runwayFactors]="this.airportPerfState.runwayFactors"
                [showWetRwy]="!this.isDepartureAirport"
                [speedUnit]="this.speedUnit"
                (runwayFactorChanged)="this.onRunwayFactorsChanged($event)"
            />

            <!-- performance calculation -->
            <app-plan-perf-departure-calculation/>
        </mat-expansion-panel>
    </mat-accordion>
</form>
