@if (this.airportPerfState && this.airportPerfState.airport) {
    <form [formGroup]="this.airportPerformanceForm">
        <mat-accordion displayMode="flat" multi="true">
            <mat-expansion-panel [expanded]="this.isDepartureAd()">
                <mat-expansion-panel-header>
                    <mat-panel-title><i class="{{ this.getTitleIconClass() }}"></i></mat-panel-title>
                    <mat-panel-description>{{ this.getTitleText() }}</mat-panel-description>
                </mat-expansion-panel-header>
                <!-- runway selector -->
                <div>
                    <mat-form-field>
                        <mat-label>RWY</mat-label>
                        <mat-select
                            formControlName="runway"
                            required
                            [value]="this.airportPerfState.runway"
                            (selectionChange)="this.onRunwayChanged()"
                        >
                            @for (rwy of this.airportPerfState.airport.runways; track rwy) {
                                <mat-option
                                    [value]="rwy"
                                >
                                    {{ this.getRwyText(rwy) }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <span>ELEV {{ this.getElevationValue() }}</span>
                </div>
                <!-- weather factors -->
                <app-plan-perf-weather-factors
                    [weatherFactors]="this.airportPerfState.weatherFactors"
                    [weatherCalculation]="this.airportPerfState.weatherCalculation"
                    [pressureUnit]="this.pressureUnit"
                    [temperatureUnit]="this.temperatureUnit"
                    [altitudeUnit]="this.altitudeUnit"
                    (weatherFactorsChanged)="this.onWeatherFactoresChanged($event)"
                />
                <!-- runway factors -->
                <app-plan-perf-runway-factors
                    [runwayFactors]="this.airportPerfState.runwayFactors"
                    [showWetRwy]="!this.isDepartureAd()"
                    [speedUnit]="this.speedUnit"
                    (runwayFactorChanged)="this.onRunwayFactorsChanged($event)"
                />
                <!-- performance calculation -->
                <app-plan-perf-calculation
                    [takeoffPerformance]="this.airportPerfState.tkofPerformance"
                    [landingPerformance]="this.airportPerfState.ldaPerformance"
                    [performanceDistanceUnit]="this.performanceDistanceUnit"
                />
            </mat-expansion-panel>
        </mat-accordion>
    </form>
}
