<h3 mat-dialog-title>{{ this.title }}</h3>
<div mat-dialog-content>
    <ng-content></ng-content>
</div>
<div mat-dialog-actions class="action-buttons">
    <button
        mat-raised-button
        type="submit"
        [color]="this.okButtonColor"
        (click)="this.onOkClicked()"
    >
        <span
            *ngIf="this.okButtonIconClass"
        ><i class="{{ this.okButtonIconClass }}"></i>&nbsp;</span>
        {{ this.okButtonText }}
    </button>
    <button
        mat-raised-button
        color="accent"
        type="button"
        (click)="this.onCancelClicked()"
    >
        {{ this.cancelButtonText }}
    </button>
</div>
