<div #container class="ol-popup card text-white bg-primary mb-3">
    <div *ngIf="this.geoname">
        <div class="card-header">
            {{ this.geoname.name }}
            <app-ol-overlay-button-close (click)="this.onCloseOverlay()"></app-ol-overlay-button-close>
        </div>
        <div class="card-body">
            <p>{{ this.geoname.name }} ({{ this.getAdminString() }})</p>
            <p>Type: {{ this.getTypeString() }}</p>
            <p>{{ this.getPositionString(this.geoname.position) }}</p>
            <p>VAR: {{ this.getVariationString(this.geoname.position) }}</p>
            <p>Elevation: {{ this.getElevationString(this.geoname.elevation_m) }}</p>
            <hr/>
            <app-ol-overlay-button-add-to-route></app-ol-overlay-button-add-to-route>
            <app-ol-overlay-button-edit-waypoint></app-ol-overlay-button-edit-waypoint>
            <app-ol-overlay-button-remove-from-route></app-ol-overlay-button-remove-from-route>
        </div>
    </div>
</div>
