.attributions-container {
}

.attributions-button {
    border-radius: 8px !important;
    scale: 70%;
}

.attributions-content {
    background-color: rgba(224, 224, 224, 0.9);
    padding: 5px;
    /*opacity: 90%;*/
    width: fit-content;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
