<div class="layer-selection-container">
    <label id="layer-selection-radio-group-label" class="layer-selection-label">Map Background</label>
    <mat-radio-group
        (change)="this.onLayerSelected($event)"
        aria-labelledby="layer-selection-radio-group-label"
        class="layer-selection-radio-group">
        <mat-radio-button class="layer-selection-radio-button" value="OPENTOPOMAP">OpenTopoMap (default)</mat-radio-button>
        <!--<mat-radio-button class="layer-selection-radio-button" value="OSM">Open Street Map</mat-radio-button>-->
        <!--<mat-radio-button class="layer-selection-radio-button" value="SWISSTOPO_LIGHTBASE">Light Base Map (swisstopo)</mat-radio-button>-->
        <!--<mat-radio-button class="layer-selection-radio-button" value="SWISSTOPO_PIXCOL">Schweizer Landeskarte (swisstopo)</mat-radio-button>-->
        <mat-radio-button class="layer-selection-radio-button" value="SWISSTOPO_ICAO">Aeronautical Chart ICAO Switzerland (swisstopo)</mat-radio-button>
        <mat-radio-button class="layer-selection-radio-button" value="SWISSTOPO_GLIDER">Glider Chart Switzerland (swisstopo)</mat-radio-button>
        <mat-radio-button class="layer-selection-radio-button" value="SWISSTOPO_IMAGE">Aerial Images (swisstopo)</mat-radio-button>
    </mat-radio-group>
</div>
