<p ng-repeat="webcam in globalData.selectedWp.airport.webcams">
    <button appIconButton
            [color]="ButtonColor.GREEN"
            [size]="ButtonSize.SMALL"
            [iconClass]="'fas fa-video'"
            (click)="this.onShowMetarTaf()"></button>&nbsp;(( webcam.name ))
</p>
<!--
            <p ng-repeat="webcam in globalData.selectedWp.airport.webcams"><a href="{{ webcam.url }}"
                                                                              target="_blank"
                                                                              class="btn btn-success btn-circle"><i
                    class="glyphicon glyphicon-facetime-video"></i></a> {{ webcam.name }}</p>
-->