<div class="modal fade" id="selectedWaypointDialog" tabindex="-1" role="dialog"
     aria-labelledby="selectedWaypointModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectedWaypointModalLabel">Edit Waypoint</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
            </div>
            <app-edit-waypoint-form
                    [editWaypoint]="this.editWaypoint$ | async"
                    (onCancelClicked)="this.onCancelClicked()"
                    (onSaveClicked)="this.onSaveClicked($event)">
            </app-edit-waypoint-form>
        </div>
    </div>
</div>
