<div #container class="ol-popup">
    <mat-card>
        <app-ol-overlay-airport-header *ngIf="this.airport" [airport]="this.airport"></app-ol-overlay-airport-header>
        <app-ol-overlay-reportingpoint-header *ngIf="this.reportingPoint" [reportingpoint]="this.reportingPoint"></app-ol-overlay-reportingpoint-header>
        <app-ol-overlay-reportingsector-header *ngIf="this.reportingSector" [reportingsector]="this.reportingSector"></app-ol-overlay-reportingsector-header>
        <app-ol-overlay-navaid-header *ngIf="this.navaid" [navaid]="this.navaid"></app-ol-overlay-navaid-header>
        <app-ol-overlay-geoname-header *ngIf="this.geoname" [geoname]="this.geoname"></app-ol-overlay-geoname-header>
        <app-ol-overlay-userpoint-header *ngIf="this.userPoint" [userpoint]="this.userPoint"></app-ol-overlay-userpoint-header>
        <app-waypoint-header *ngIf="this.waypointItem" [waypoint]="this.waypointItem"></app-waypoint-header>

        <mat-card-content>
            <mat-tab-group #tabGroup headerPosition="below" animationDuration="0ms" color="accent">
                <!-- info tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fas fa-info"></i>
                    </ng-template>
                    <app-ol-overlay-airport-info-tab *ngIf="this.airport" [airport]="this.airport"></app-ol-overlay-airport-info-tab>
                    <app-ol-overlay-reportingpoint-info-tab *ngIf="this.reportingPoint" [reportingpoint]="this.reportingPoint"></app-ol-overlay-reportingpoint-info-tab>
                    <app-ol-overlay-reportingsector-info-tab *ngIf="this.reportingSector" [reportingsector]="this.reportingSector"></app-ol-overlay-reportingsector-info-tab>
                    <app-ol-overlay-navaid-info-tab *ngIf="this.navaid" [navaid]="this.navaid"></app-ol-overlay-navaid-info-tab>
                    <app-ol-overlay-geoname-info-tab *ngIf="this.geoname" [geoname]="this.geoname"></app-ol-overlay-geoname-info-tab>
                    <app-ol-overlay-userpoint-info-tab *ngIf="this.userPoint" [userpoint]="this.userPoint"></app-ol-overlay-userpoint-info-tab>
                    <app-waypoint-info-tab *ngIf="this.waypointItem" [waypoint]="this.waypointItem"></app-waypoint-info-tab>
                </mat-tab>

                <!-- airport runway tab -->
                <mat-tab *ngIf="this.airport">
                    <ng-template mat-tab-label>
                        <i class="fas fa-road"></i>
                    </ng-template>
                    <app-ol-overlay-airport-runway-tab [airport]="this.airport"></app-ol-overlay-airport-runway-tab>
                </mat-tab>

                <!-- airport radio tab -->
                <mat-tab *ngIf="this.airport">
                    <ng-template mat-tab-label>
                        <i class="fas fa-broadcast-tower"></i>
                    </ng-template>
                    <app-ol-overlay-airport-radio-tab [airport]="this.airport"></app-ol-overlay-airport-radio-tab>
                </mat-tab>

                <!-- metar/taf tab -->
                <mat-tab *ngIf="this.airport">
                    <ng-template mat-tab-label>
                        <i class="fas fa-cloud-sun-rain"></i>
                    </ng-template>
                    <app-metar-taf *ngIf="this.airport" [metarTaf]="this.metarTaf"></app-metar-taf>
                </mat-tab>

                <!-- metepgram tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fas fa-cloud"></i>
                    </ng-template>
                    <ng-template matTabContent>
                        <app-meteogram [position]="this.position"></app-meteogram>
                    </ng-template>
                </mat-tab>

                <!-- notam tab -->
                <mat-tab *ngIf="this.notams && this.notams.length > 0">
                    <ng-template mat-tab-label>
                        <i class="fas fa-exclamation-triangle"></i>
                    </ng-template>
                    <app-map-overlay-notam-tab [notams]="this.notams"></app-map-overlay-notam-tab>
                </mat-tab>

                <!-- charts tab -->
                <mat-tab *ngIf="this.airport">
                    <ng-template mat-tab-label>
                        <i class="fas fa-map"></i>
                    </ng-template>
                    <app-ol-overlay-airport-chart-tab [airport]="this.airport"></app-ol-overlay-airport-chart-tab>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
        <app-waypoint-button-container></app-waypoint-button-container>
    </mat-card>
</div>
