<form [formGroup]="editCoordinateForm">
    <div class="coordinate-form-content">
        <mat-form-field class="flex-row">
            <mat-label>Arm</mat-label>
            <input
                matInput
                type="number"
                formControlName="arm"
                required
                min="-99999"
                max="99999"
            >
            <span matTextSuffix>{{ Length.getUnitString(this.lengthUnit) }}</span>
            <mat-error>Value must be a positive or negative number!</mat-error>
        </mat-form-field>
        <mat-form-field class="flex-row">
            <mat-label>Weight</mat-label>
            <input
                matInput
                type="number"
                formControlName="weight"
                required
                min="1"
                max="99999"
            >
            <span matTextSuffix>{{ Weight.getUnitString(this.weightUnit) }}</span>
            <mat-error>Value must be a positive number between 1 and 99999!</mat-error>
        </mat-form-field>
        <mat-form-field
            *ngIf="this.isNewCoordinate && this.coordinateList && this.coordinateList.length > 0"
            class="flex-row"
        >
            <mat-label>Insert after</mat-label>
            <mat-select formControlName="insertAfterIndex">
                <mat-option value="0">At the beginning</mat-option>
                <mat-option
                    *ngFor="let coord of this.coordinateList; let idx = index"
                    [value]="idx + 1"
                >
                    {{ this.getInsertAfterText(coord) }}
                </mat-option>
                <mat-option [value]="this.coordinateList.length + 1">At the end</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <button
            mat-raised-button
            color="primary"
            type="submit"
            class="inline-button"
            (click)="this.onSaveClicked()"
            [disabled]="this.editCoordinateForm.invalid"
        >
            {{ this.getSaveButtonText() }}
        </button>
        <button
            mat-raised-button
            color="accent"
            type="button"
            class="inline-button"
            (click)="this.onCancelClicked()"
        >
            Cancel
        </button>
        <button
            *ngIf="!this.isNewCoordinate"
            mat-raised-button
            color="warn"
            type="submit"
            class="inline-button float-right"
            (click)="this.onDeleteClicked()"
            [disabled]="this.editCoordinateForm.invalid"
        >
            <i class="fa-regular fa-trash-can"></i>&nbsp;Delete
        </button>
    </div>
</form>
