<div class="flightroute-dialog-container">
    <h3>Saved Routes</h3>

    <app-flightroute-list
        [flightrouteList]="this.flightrouteList$ | async"
        (loadRouteClicked)="this.onLoadRouteClick($event)"
        (duplicateRouteClicked)="this.onDuplicateRouteClick($event)"
        (deleteRouteClicked)="this.onDeleteRouteClick($event)">
    </app-flightroute-list>

    <div>
        <button
            mat-raised-button
            color="accent"
            type="button"
            (click)="this.onCancelClick()"
        >
            Close
        </button>
    </div>
</div>
