@use '@angular/material' as mat;

.waypoints-table {
    /*width: 100%;*/
}

.fa-info-circle {
    color: #41669c;
}

.reverse-button {
    float: right;
}

u {
    text-decoration: underline;
}

.even_row,
.mat-mdc-header-cell {
    background-color: rgb(249, 249, 249);
}

.supp_info_row {
    height: initial;
    background-color: #eeeeee;
}

.orig_dest_row {
    //background-color: #dbe3f0;
}

.alt_row {
    background-color: #cccccc;
}
