@use '../../../../../../node_modules/@angular/material/index' as mat;

.waypoints-table {
    /*width: 100%;*/
}

.fa-info-circle {
    color: #41669c;
}
u {
    text-decoration: underline;
}

.supp-info-row {
    height: initial;
    background-color: #eeeeee;
}

.origin_destination_row {
    background-color: #dbe3f0;
}

.alternate_row {
    background-color: #ffebcc;
}

app-icon-button {
    float: right;
}

.reverse-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end
}

.reverse-button {
}
