<div *ngIf="this.navaid">
    <h5 class="card-title">{{ this.navaid.name }} {{ this.navaid.type }} ({{ this.navaid.kuerzel }})</h5>
    <p>{{ this.getPositionString() }}</p>
    <p>Elevation: {{ this.getElevationString() }}</p>
    <p>Frequency: {{ this.navaid.frequency }} {{ this.navaid.unit }}</p>
    <p>Morse: <span [innerHtml]="this.getMorseString()"></span></p>
    <div class="text-right small">
        <em><a href="http://www.openaip.net/navaids?field_openaip_navaid_type_value_many_to_one=All&field_openaip_navaid_id_value=&field_openaip_navaid_country_value_many_to_one=All&title={{ this.navaid.name }}"
               target="_blank">add / correct data</a>
            <i class="fas fa-info-circle" title="openAIP login is required for editing"></i></em>
    </div>
    <hr/>
    <app-map-overlay-button-add-to-route></app-map-overlay-button-add-to-route>
    <app-map-overlay-button-edit-waypoint></app-map-overlay-button-edit-waypoint>
    <app-map-overlay-button-remove-from-route></app-map-overlay-button-remove-from-route>
</div>
