<table class="table table-sm table-bordered table-striped table-nonfluid" *ngIf="(this.fuelTimes$ | async) as fuelTimes">
    <thead>
        <tr>
            <th>Fuel Calculation</th>
            <th>Time</th>
            <th>Fuel</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Trip</td>
            <td>
                <ng-container *ngIf="fuelTimes.tripTime?.isNotZero">{{ formatTime(fuelTimes.tripTime) }}</ng-container>
            </td>
            <td>
                <ng-container *ngIf="fuelTimes.tripFuel?.isNotZero">{{ formatFuel(fuelTimes.tripFuel) }}</ng-container>
            </td>
        </tr>
        <tr>
            <td>Alternate</td>
            <td>
                <ng-container *ngIf="fuelTimes.alternateTime?.isNotZero">{{ formatTime(fuelTimes.alternateTime) }}</ng-container>
            </td>
            <td>
                <ng-container *ngIf="fuelTimes.alternateFuel?.isNotZero">{{ formatFuel(fuelTimes.alternateFuel) }}</ng-container>
            </td>
        </tr>
        <tr>
            <td>Reserve</td>
            <td>
                {{ formatTime(fuelTimes.reserveTime) }}
            </td>
            <td>
                {{ formatFuel(fuelTimes.reserveFuel) }}
            </td>
        </tr>
        <tr>
            <td>Minimum</td>
            <td>
                <ng-container *ngIf="fuelTimes.tripTime?.isNotZero || fuelTimes.alternateTime?.isNotZero">
                    {{ formatTime(Time.addAll(fuelTimes.tripTime, fuelTimes.alternateTime, fuelTimes.reserveTime)) }}
                </ng-container>
            </td>
            <td>
                <ng-container *ngIf="fuelTimes.tripFuel?.isNotZero || fuelTimes.alternateFuel?.isNotZero">
                    {{ formatFuel(Fuel.addAll(fuelTimes.tripFuel, fuelTimes.alternateFuel, fuelTimes.reserveFuel)) }}
                </ng-container>
            </td>
        </tr>
        <tr>
            <td>Extra fuel</td>
            <td>
                <input id="extraFuelInput" type="text" class="form-control form-control-sm" maxlength="3" size="3" XXX_ngModel="flightroute.fuel.extraTime">
            </td>
            <td>
                <ng-container *ngIf="fuelTimes.extraTime?.isNotZero">{{ formatFuel(fuelTimes.extraTime) }}</ng-container>
            </td>
        </tr>
        <tr>
            <td><b>Block fuel</b></td>
            <td>
                <ng-container *ngIf="fuelTimes.tripTime?.isNotZero || fuelTimes.alternateTime?.isNotZero">
                    <b>{{ formatTime(Time.addAll(fuelTimes.tripTime, fuelTimes.alternateTime, fuelTimes.reserveTime, fuelTimes.extraTime)) }}</b>
                </ng-container>
            </td>
            <td>
                <ng-container *ngIf="fuelTimes.tripFuel?.isNotZero || fuelTimes.alternateFuel?.isNotZero">
                    <b>{{ formatFuel(Fuel.addAll(fuelTimes.tripFuel, fuelTimes.alternateFuel, fuelTimes.reserveFuel, fuelTimes.extraFuel)) }}</b>
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>
