<app-form-dialog
    [title]="this.getDialogTitle()"
    [isFormValid]="this.editWeightItemForm?.valid"
    [saveButtonText]="this.getSaveButtonText()"
    cancelButtonText="Cancel"
    [showDeleteButton]="false"
    (saveClicked)="this.onSaveClicked()"
    (cancelClicked)="this.onCancelClicked()"
>
    <form [formGroup]="this.editWeightItemForm">
        <div class="weight-item-form-content">
            <!-- type -->
            <mat-form-field class="flex-row-100">
                <mat-label>Type</mat-label>
                <mat-select
                    formControlName="type"
                    required
                    (selectionChange)="this.onTypeChanged()"
                >
                    <mat-option value="" selected>(select)</mat-option>
                    <mat-option [value]="WeightItemType.AIRCRAFT" [disabled]="!this.data.allowAircraftType">AIRCRAFT</mat-option>
                    <mat-option [value]="WeightItemType.FUEL">FUEL</mat-option>
                    <mat-option [value]="WeightItemType.PERSON">PERSON</mat-option>
                    <mat-option [value]="WeightItemType.BAGGAGE">BAGGAGE</mat-option>
                    <mat-option [value]="WeightItemType.CUSTOM">CUSTOM</mat-option>
                </mat-select>
                <mat-error>Type is mandatory!</mat-error>
            </mat-form-field>

            <!-- name -->
            <mat-form-field class="flex-row-100">
                <mat-label>Name</mat-label>
                <input
                    matInput
                    type="text"
                    formControlName="name"
                    maxlength="30"
                    required
                    [disabled]="this.isTypeAircraft()"
                />
                <mat-error>Name is mandatory (max. 30 characters)!</mat-error>
            </mat-form-field>

            <!-- longitudinal arm -->
            <app-wnb-length-input
                class="flex-row-100"
                [length]="this.armLong"
                [defaultLengthUnit]="this.data.wnbLengthUnit"
                [isRequired]="true"
                [minValue]="-99999"
                [maxValue]="99999"
                (valueChanged)="this.onArmLongChanged($event)"
            >Arm {{ this.data.vehicleType === VehicleType.HELICOPTER ? '(Longitudinal)' : '' }}</app-wnb-length-input>

            <!-- lateral arm -->
            @if (this.data.vehicleType === VehicleType.HELICOPTER) {
                <app-wnb-length-input
                    class="flex-row-100"
                    [length]="this.armLat"
                    [defaultLengthUnit]="this.data.wnbLengthUnit"
                    [isRequired]="true"
                    [minValue]="-99999"
                    [maxValue]="99999"
                    (valueChanged)="this.onArmLatChanged($event)"
                >Arm (Lateral)</app-wnb-length-input>
            }

            <!-- max weight -->
            @if (!this.isTypeFuel() && !this.isTypeAircraft()) {
                <app-weight-input
                    class="flex-row-100"
                    [weight]="this.maxWeight"
                    [defaultWeightUnit]="this.data.weightUnit"
                    (valueChanged)="this.onMaxWeightChanged($event)"
                >Max. Weight</app-weight-input>
            }

            <!-- max fuel -->
            @if (this.isTypeFuel()) {
                <app-fuel-input
                    class="flex-row-100"
                    [volume]="this.maxFuel"
                    [defaultVolumeUnit]="this.data.volumeUnit"
                    [isRequired]="true"
                    [minValue]="1"
                    [maxValue]="99999"
                    (valueChanged)="this.onMaxFuelChanged($event)"
                >Max. Fuel</app-fuel-input>
            }

            <!-- default weight -->
            @if (!this.isTypeFuel() && !this.isTypeAircraft()) {
                <app-weight-input
                    class="flex-row-100"
                    [weight]="this.defaultWeight"
                    [defaultWeightUnit]="this.data.weightUnit"
                    (valueChanged)="this.onDefaultWeightChanged($event)"
                >Default Weight</app-weight-input>
            }

            <!-- default fuel -->
            @if (this.isTypeFuel()) {
                <app-fuel-input
                    class="flex-row-100"
                    [volume]="this.defaultFuel"
                    [defaultVolumeUnit]="this.data.volumeUnit"
                    [minValue]="0"
                    [maxValue]="99999"
                    (valueChanged)="this.onDefaultFuelChanged($event)"
                >Default Fuel</app-fuel-input>
            }

        </div>
    </form>
</app-form-dialog>
