<app-form-dialog
    [title]="this.getDialogTitle()"
    [isFormValid]="this.editWeightItemForm?.valid"
    [saveButtonText]="this.getSaveButtonText()"
    cancelButtonText="Cancel"
    [showDeleteButton]="false"
    (saveClicked)="this.onSaveClicked()"
    (cancelClicked)="this.onCancelClicked()"
>
    <form [formGroup]="this.editWeightItemForm">
        <div class="weight-item-form-content">
            <!-- type -->
            <mat-form-field class="flex-row-100">
                <mat-label>Type</mat-label>
                <mat-select
                    formControlName="type"
                    required
                    (selectionChange)="this.onTypeChanged()"
                >
                    <mat-option value="" selected>(select)</mat-option>
                    <mat-option [value]="WeightItemType.AIRCRAFT" [disabled]="!this.data.allowAircraftType">AIRCRAFT
                    </mat-option>
                    <mat-option [value]="WeightItemType.FUEL">FUEL</mat-option>
                    <mat-option [value]="WeightItemType.PERSON">PERSON</mat-option>
                    <mat-option [value]="WeightItemType.BAGGAGE">BAGGAGE</mat-option>
                    <mat-option [value]="WeightItemType.CUSTOM">CUSTOM</mat-option>
                </mat-select>
                <mat-error>Type is mandatory!</mat-error>
            </mat-form-field>

            <!-- name -->
            <mat-form-field class="flex-row-100">
                <mat-label>Name</mat-label>
                <input
                    matInput
                    type="text"
                    formControlName="name"
                    maxlength="30"
                    required
                    [disabled]="this.isTypeAircraft()"
                />
                <mat-error>Name is mandatory (max. 30 characters)!</mat-error>
            </mat-form-field>

            <!-- longitudinal arm -->
            <mat-form-field class="flex-row-100">
                <mat-label>Arm {{ this.data.vehicleType === VehicleType.HELICOPTER ? '(Longitudinal)' : '' }}
                </mat-label>
                <input
                    matInput
                    type="number"
                    formControlName="armLong"
                    required
                    min="-99999"
                    max="99999"
                >
                <span matTextSuffix>{{ Length.getUnitString(this.data.wnbLengthUnit) }}</span>
                <mat-error>Value must be a positive or negative number!</mat-error>
            </mat-form-field>

            <!-- lateral arm -->
            @if (this.data.vehicleType === VehicleType.HELICOPTER) {
                <mat-form-field class="flex-row-100">
                    <mat-label>Arm (Lateral)</mat-label>
                    <input
                        matInput
                        type="number"
                        formControlName="armLat"
                        required
                        min="-99999"
                        max="99999"
                    >
                    <span matTextSuffix>{{ Length.getUnitString(this.data.wnbLengthUnit) }}</span>
                    <mat-error>Value must be a positive or negative number!</mat-error>
                </mat-form-field>
            }

            <!-- max weight -->
            @if (!this.isTypeFuel() && !this.isTypeAircraft()) {
                <mat-form-field class="flex-row-100">
                    <mat-label>Max. Weight</mat-label>
                    <input
                        matInput
                        type="number"
                        formControlName="maxWeight"
                        min="1"
                        max="99999"
                    >
                    <span matTextSuffix>{{ Weight.getUnitString(this.data.weightUnit) }}</span>
                    <mat-error>Value must be a positive number between 1 and 99999!</mat-error>
                </mat-form-field>
            }

            <!-- max fuel -->
            @if (this.isTypeFuel()) {
                <mat-form-field class="flex-row-100">
                    <mat-label>Max. Fuel</mat-label>
                    <input
                        matInput
                        type="number"
                        formControlName="maxFuel"
                        min="1"
                        max="99999"
                    >
                    <span matTextSuffix>{{ Volume.getUnitString(this.data.volumeUnit) }}</span>
                    <mat-error>Value must be a positive number between 1 and 99999!</mat-error>
                </mat-form-field>
            }

            <!-- default weight -->
            @if (!this.isTypeFuel() && !this.isTypeAircraft()) {
                <mat-form-field class="flex-row-100">
                    <mat-label>Default Weight</mat-label>
                    <input
                        matInput
                        type="number"
                        formControlName="defaultWeight"
                        min="0"
                        max="99999"
                    >
                    <span matTextSuffix>{{ Weight.getUnitString(this.data.weightUnit) }}</span>
                    <mat-error>Value must be a number between 0 and 99999!</mat-error>
                </mat-form-field>
            }

            <!-- default fuel -->
            @if (this.isTypeFuel()) {
                <mat-form-field class="flex-row-100">
                    <mat-label>Default Fuel</mat-label>
                    <input
                        matInput
                        type="number"
                        formControlName="defaultFuel"
                        min="0"
                        max="99999"
                    >
                    <span matTextSuffix>{{ Volume.getUnitString(this.data.volumeUnit) }}</span>
                    <mat-error>Value must be a number between 0 and 99999!</mat-error>
                </mat-form-field>
            }

        </div>
    </form>
</app-form-dialog>
