<div style="display: none">
    <app-map-overlay-airport (close)="this.onOverlayClosed()"></app-map-overlay-airport>
    <app-map-overlay-navaid (close)="this.onOverlayClosed()"></app-map-overlay-navaid>
    <app-map-overlay-reportingpoint (close)="this.onOverlayClosed()"></app-map-overlay-reportingpoint>
    <app-map-overlay-reportingsector (close)="this.onOverlayClosed()"></app-map-overlay-reportingsector>
    <app-map-overlay-userpoint (close)="this.onOverlayClosed()"></app-map-overlay-userpoint>
    <app-map-overlay-geoname (close)="this.onOverlayClosed()"></app-map-overlay-geoname>
    <app-map-overlay-traffic (close)="this.onOverlayClosed()"></app-map-overlay-traffic>
    <app-map-overlay-notam (close)="this.onOverlayClosed()"></app-map-overlay-notam>
    <app-map-overlay-waypoint (close)="this.onOverlayClosed()"></app-map-overlay-waypoint>
    <app-map-overlay-traffic></app-map-overlay-traffic>
</div>
