<div class="map-overlay-button form-inline" *ngIf="this.flightroute">
    <button mat-icon-button (click)="this.onAddSelectedWaypointClicked()">
        <i class="fas fa-plus"></i>
    </button>&nbsp;Add to Route
    <select class="form-control-sm" [(ngModel)]="this.addAfterIndex">
        <option value="0">
            at the start
        </option>
        <option *ngFor="let wp of this.flightroute.waypoints; index as idx" value="{{ idx + 1 }}">
            after {{ wp.checkpoint }}
        </option>
        <option *ngIf="this.flightroute.waypoints.length > 0" value="{{ this.flightroute.waypoints.length  + 1 }}">
            at the end
        </option>
    </select>
</div>
