<form [formGroup]="this.flightrouteForm" class="tab-page-container">
    <app-route-picker-container
        labelText="Route:"
        [showIcon]="true"
        [showRouteName]="true"
    />

    <app-flightroute-name
        [flightrouteName]="this.flightrouteName$ | async"
        (flightrouteNameChange)="this.onFlightrouteNameChanged($event)"
    />

    <div class="route-speed-row">
        <app-flightroute-aircraft-speed
            [speedUnit]="this.horizontalSpeedUnit$ | async"
            [routeSpeed]="this.routeSpeed$ | async"
            [useAircraftValue]="this.useAircraftSpeedValue$ | async"
            (routeSpeedChanged)="this.onRouteSpeedChanged($event)"
        />
        <app-aircraft-manual-toggle
            class="manual-aircraft-toggle"
            [selectedAircraft]="this.selectedAircraft$ | async"
            [useAircraft]="this.useAircraftSpeedValue$ | async"
            (useAircraftValueChanged)="this.onUseAircraftSpeedChanged($event)"
        />
        <app-aircraft-picker-container
            [showRegistration]="false"
        />
    </div>

    <app-flightroute-cruising-altitude
        [altitudeUnit]="this.altitudeUnit$ | async"
        [cruiseAltitude]="this.cruiseAltitude$ | async"
        (cruiseAltitudeChanged)="this.onCruiseAltitudeChanged($event)"
    />
    <app-waypoints-table
        [flightroute]="this.currentFlightroute$ | async"
        [altitudeUnit]="this.altitudeUnit$ | async"
        (onEditWaypointClick)="this.onEditWaypointClick($event)"
        (onRemoveWaypointClick)="this.onRemoveWaypointClick($event)"
        (onReverseWaypointsClick)="this.onReverseWaypointsClick()"
    />

    <app-flightroute-comments
        [routeComments]="this.routeComments$ | async"
        (routeCommentsChanged)="this.onFlightrouteCommentsChanged($event)"
    />

    <app-save-button
        [isEnabled]="(this.isUserLoggedIn$ | async) && this.flightrouteForm.valid"
        (saveClicked)="this.onSaveFlightrouteClick()"
    />
</form>
