<form [formGroup]="lostPwStep1Form">
    <div fxLayout="column">
        <mat-form-field appearance="fill">
            <mat-label>E-Mail</mat-label>
            <input matInput
                   type="email"
                   formControlName="email"
                   #email
                   required>
            <mat-error>Not a valid email</mat-error>
        </mat-form-field>
        <div>
            <button mat-raised-button
                    color="primary"
                    (click)="this.onSendLostPwEmailEmailClick.emit(email.value)"
                    [disabled]="this.lostPwStep1Form.invalid">Reset Password
            </button>
        </div>
    </div>
</form>
<!-- message if verify email has been sent successfully -->
<mat-error *ngIf="this.lostPwEmailSentTo">
    <p>An email has just been sent to <strong>{{ this.lostPwEmailSentTo }}</strong>. Please check your inbox and use the enclosed link to change your password.</p>
</mat-error>
