<app-form-dialog
    title="Create New Flight Route"
    [isFormValid]="this.isFormValid()"
    saveButtonText="Create"
    cancelButtonText="Cancel"
    [showDeleteButton]="false"
    (saveClicked)="this.onSaveClicked()"
    (cancelClicked)="this.onCancelClicked()"
>
    <form [formGroup]="createForm">
        <div class="form-content">

            <!-- title -->
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input
                    matInput
                    formControlName="title"
                    type="text"
                    required
                />
            </mat-form-field>

            <!-- speed -->
            <app-horizontal-speed-input
                [speed]="this.cruiseSpeed"
                [defaultSpeedUnit]="this.data.speedUnit"
                [isRequired]="true"
                (speedChanged)="this.onCruiseSpeedChanged($event)"
            >Cruise Speed</app-horizontal-speed-input>

            <!-- fuel consumption -->
            <app-consumption-input
                [consumption]="this.cruiseConsumption"
                [defaultConsumptionUnit]="this.data.consumptionUnit"
                [isRequired]="true"
                (consumptionChanged)="this.onCruiseConsumptionChanged($event)"
            >Cruise Fuel Consumption</app-consumption-input>

            <!-- cruise altitude -->
            <app-altitude-input
                [length]="this.cruiseAltitude"
                [defaultLengthUnit]="this.data.altitudeUnit"
                [minValue]="0"
                (lengthChanged)="this.onCruiseAltitudeChanged($event)"
            >Cruise Altitude</app-altitude-input>

        </div>
    </form>
</app-form-dialog>
