<form [formGroup]="editWeightItemForm">
    <div class="weight-item-form-content">
        <mat-form-field class="flex-row">
            <mat-label>Type</mat-label>
            <mat-select
                formControlName="type"
                required
                (selectionChange)="this.onTypeChanged()"
            >
                <mat-option value="" selected>(select)</mat-option>
                <mat-option [value]="WeightItemType.AIRCRAFT" [disabled]="!this.allowAircraftType">AIRCRAFT</mat-option>
                <mat-option [value]="WeightItemType.FUEL">FUEL</mat-option>
                <mat-option [value]="WeightItemType.PERSON">PERSON</mat-option>
                <mat-option [value]="WeightItemType.BAGGAGE">BAGGAGE</mat-option>
                <mat-option [value]="WeightItemType.CUSTOM">CUSTOM</mat-option>
            </mat-select>
            <mat-error>Type is mandatory!</mat-error>
        </mat-form-field>
        <mat-form-field class="flex-row">
            <mat-label>Name</mat-label>
            <input
                matInput
                type="text"
                formControlName="name"
                maxlength="30"
                required
                [disabled]="this.isTypeAircraft()"
            />
            <mat-error>Name is mandatory (max. 30 characters)!</mat-error>
        </mat-form-field>
        <mat-form-field class="flex-row">
            <mat-label>Arm</mat-label>
            <input
                matInput
                type="number"
                formControlName="arm"
                required
                min="-99999"
                max="99999"
            >
            <span matTextSuffix>{{ Length.getUnitString(this.wnbLengthUnit) }}</span>
            <mat-error>Value must be a positive or negative number!</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="!this.isTypeFuel() && !this.isTypeAircraft()" class="flex-row">
            <mat-label>Max. Weight</mat-label>
            <input
                matInput
                type="number"
                formControlName="maxWeight"
                min="1"
                max="99999"
            >
            <span matTextSuffix>{{ Weight.getUnitString(this.weightUnit) }}</span>
            <mat-error>Value must be a positive number between 1 and 99999!</mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="this.isTypeFuel()" class="flex-row">
            <mat-label>Max. Fuel</mat-label>
            <input
                matInput
                type="number"
                formControlName="maxFuel"
                min="1"
                max="99999"
            >
            <span matTextSuffix>{{ Volume.getUnitString(this.volumeUnit) }}</span>
            <mat-error>Value must be a positive number between 1 and 99999!</mat-error>
        </mat-form-field>
    </div>
    <div>
        <button
            mat-raised-button
            color="primary"
            type="submit"
            class="inline-button"
            (click)="this.onSaveClicked()"
            [disabled]="this.editWeightItemForm.invalid"
        >
            {{ this.getSaveButtonText() }}
        </button>
        <button
            mat-raised-button
            color="accent"
            type="button"
            class="inline-button"
            (click)="this.onCancelClicked()"
        >
            Cancel
        </button>
    </div>
</form>
