<div class="meteo-container">
    <app-route-picker-container
        labelText="Route:"
        [showIcon]="true"
        [showRouteName]="true"
    />
    @if ((this.routeMetarTafs$ | async)?.length > 0) {
        <app-plan-meteo-radius
            [routeMaxMeteoRadius]="this.maxRadius$ | async"
            [distanceUnit]="this.distanceUnit$ | async"
            (radiusChanged)="this.onMaxRadiusChanged($event)"
            class="max-radius-field"
        />
        <app-plan-meteo-table
            [routeMetarTafList]="this.routeMetarTafs$ | async"
            [showDistance]="false"
            [distanceUnit]="this.distanceUnit$ | async"
        />
    } @else {
        <div class="no-entry-line">
            <i>Please choose a route!</i>
        </div>
    }
</div>
