<div *ngIf="this.currentAircraft">
    <p>Aircraft: {{ this.currentAircraft.registration }}</p>
    <mat-accordion displayMode="flat">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Takeoff Ground Roll</mat-panel-title>
                <mat-panel-description><i class="fa-solid fa-plane-departure"></i></mat-panel-description>
            </mat-expansion-panel-header>
            <app-aircraft-performance-table
                [speedUnit]="this.speedUnit"
                [weightUnit]="this.weightUnit"
                [distancePerformanceTable]="this.currentAircraft.perfTakeoffGroundRoll"
            />
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Takeoff Distance to 50 ft</mat-panel-title>
                <mat-panel-description><i class="fa-solid fa-plane-departure"></i></mat-panel-description>
            </mat-expansion-panel-header>
            <p>TODO</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Landing Distance from 50 ft</mat-panel-title>
                <mat-panel-description><i class="fa-solid fa-plane-arrival"></i></mat-panel-description>
            </mat-expansion-panel-header>
            <p>TODO</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Landing Ground Roll</mat-panel-title>
                <mat-panel-description><i class="fa-solid fa-plane-arrival"></i></mat-panel-description>
            </mat-expansion-panel-header>
            <p>TODO</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<div *ngIf="!this.currentAircraft">
    <i>No Aircraft selected</i>
</div>
