<form *ngIf="this.currentAircraft" [formGroup]="this.aircraftDetailsForm">
    <div class="aircraft-form-content">
        <mat-radio-group color="primary">
            <mat-radio-button
                [checked]="this.isHelicopter()"
            >
                Airplane
            </mat-radio-button>
            <mat-radio-button
                [checked]="this.isAirplane()"
            >
                Helicopter
            </mat-radio-button>
        </mat-radio-group>

        <!-- registration -->
        <mat-form-field>
            <mat-label>Registration</mat-label>
            <input
                matInput
                formControlName="registration"
                type="string"
                required
            />
        </mat-form-field>

        <!-- aircraft type -->
        <mat-form-field>
            <mat-label>ICAO Type Designator</mat-label>
            <input
                matInput
                formControlName="type"
                type="string"
                required
            />
        </mat-form-field>

        <!-- speed -->
        <mat-form-field>
            <mat-label>Cruise Speed</mat-label>
            <input
                matInput
                formControlName="speed"
                type="number"
                required
                min="1"
                max="999"
            >
            <span matTextSuffix>{{ Speed.getUnitString(this.speedUnit) }}</span>
            <mat-error>Value must be a positive number between 1 and 999!</mat-error>
        </mat-form-field>

        <!-- fuel consumption -->
        <mat-form-field>
            <mat-label>Fuel Consumption</mat-label>
            <input
                matInput
                formControlName="consumption"
                type="number"
                required
                min="1"
                max="999"
            >
            <span matTextSuffix>{{ Consumption.getUnitString(this.consumptionUnit) }}</span>
            <mat-error>Value must be a positive number between 1 and 999!</mat-error>
        </mat-form-field>

        <p>
            <button
                mat-raised-button
                color="primary"
                (submit)="this.onSaveAircraftDetailsClicked()"
                [disabled]="this.aircraftDetailsForm.invalid"
            >
                Save
            </button>
        </p>
    </div>
</form>

<div *ngIf="!this.currentAircraft">
    <i>No Aircraft selected</i>
    <!-- TODO: create new button -->
</div>
