.ol-popup-airport {
    /*max-width: 75vw;*/
}

.airport-card {
    padding-bottom: 0;
}

table.mat-table {
    width: 100%;
}

/deep/ .mat-tab-label {
    min-width: 0!important;
}

td.mat-cell {
    padding-left: 5px;
    padding-right: 5px;
}

.table-notam {
    max-height: 50vh;
    overflow: auto;
    margin-bottom: 10px;
}

.nav-item {
    width: 2.5rem;
}

.nav-link {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
