.notam-group {
    margin-bottom: 2rem;

    &:last-child {
        margin-bottom: 0;
    }
}

.group-header {
    margin-bottom: 0.5rem;

    h3 {
        margin: 0;
        font-size: 1.25rem;
        font-weight: 600;
    }

    .location-name {
        margin: 0.25rem 0 0 0;
        font-size: 0.9rem;
        color: #666;
    }
}

table {
    width: 100%;
}
