table.mat-mdc-table {
    width: 100%;
}

.webcam-list{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.webcam-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.webcam-text {
    color: gray;
}
