table.mat-mdc-table {
    width: 100%;
}

.webcam-list{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 10px;
}

.webcam-icon {
    color: green;
}

.moderator-actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
    align-items: center;
    margin-bottom: 10px;
}
