<app-map-overlay-position [position]="this.airport.position"></app-map-overlay-position>
<app-map-overlay-elevation [altitude]="airport.elevation"></app-map-overlay-elevation>
<app-map-overlay-variation [position]="this.airport.position"></app-map-overlay-variation>
@if (this.airport.webcams?.length > 0) {
    <div class="webcam-list">
        @for (webcam of this.airport.webcams; track webcam) {
            <div class="webcam-row">
                <app-icon-button
                    [color]="ButtonColor.GREEN"
                    (buttonClicked)="this.onWebcamClicked(webcam)"
                >
                    <i class="fa-solid fa-video"></i>
                </app-icon-button>
                <span class="webcam-text">{{ webcam.name }}</span>
            </div>
        }
    </div>
}
