<app-map-overlay-position
    [position]="this.airport.position"
/>
<app-map-overlay-elevation
    [altitude]="airport.elevation"
/>
<app-map-overlay-variation
    [position]="this.airport.position"
/>
@if (this.airport.webcams?.length > 0) {
    <div class="webcam-list">
        @for (webcam of this.airport.webcams; track webcam) {
            <button
                mat-button
                type="button"
                (click)="this.onWebcamClicked(webcam)"
            >
                <i class="fa-solid fa-video webcam-icon"></i>&nbsp;&nbsp;{{ webcam.name }}
            </button>
        }
    </div>
}
