<div class="tabs-container">
    <mat-tab-group
        #tabGroup
        mat-stretch-tabs="false"
        animationDuration="0ms"
        (selectedTabChange)="onTabChange($event)"
    >
        <mat-tab>
            <ng-template matTabLabel>
                <i class="fa-solid fa-warehouse"></i><span class="tab-text">&nbsp;&nbsp;Hangar</span>
            </ng-template>
            <ng-template matTabContent>
                <app-aircraft-hangar-page/>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template matTabLabel>
                <i class="fa-solid fa-plane-up"></i><span class="tab-text">&nbsp;&nbsp;Details</span>
            </ng-template>
            <ng-template matTabContent>
                <app-aircraft-details-page/>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template matTabLabel>
                <i class="fa-solid fa-balance-scale"></i><span class="tab-text">&nbsp;&nbsp;W&B Conf</span>
            </ng-template>
            <ng-template matTabContent>
                <app-aircraft-wnb-page/>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template matTabLabel>
                <i class="fa-solid fa-plane-departure"></i><span class="tab-text">&nbsp;&nbsp;Perf Conf</span>
            </ng-template>
            <ng-template matTabContent>
                <app-aircraft-performance-page/>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
