<div #container class="ol-popup">
    <mat-card *ngIf="this.navaid">
        <mat-card-header>
            <img mat-card-avatar src="{{ this.getAvatarUrl() }}" />
            <mat-card-title>
                {{ this.navaid.name }} ({{ this.navaid.kuerzel }})
            </mat-card-title>
            <mat-card-subtitle>
                {{ this.navaid.getTypeString() }}
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{ this.getPositionString(this.navaid.position) }}</p>
            <p>Variation: {{ this.getVariationString(this.navaid.position) }}</p>
            <p>Elevation: {{ this.getElevationString(this.navaid.elevation) }}</p>
            <p>Frequency: {{ this.navaid.frequency }} {{ this.navaid.unit }}</p>
            <p>Morse: <span [innerHtml]="this.getMorseString()"></span></p>
        </mat-card-content>
        <app-ol-overlay-button-list [waypoint]="this.waypoint"></app-ol-overlay-button-list>
    </mat-card>
</div>
