<app-form-dialog
    title="Create New Flight Route"
    [isFormValid]="this.isFormValid()"
    saveButtonText="Create"
    cancelButtonText="Cancel"
    [showDeleteButton]="false"
    (saveClicked)="this.onSaveClicked()"
    (cancelClicked)="this.onCancelClicked()"
>
    <form [formGroup]="createForm">
        <div class="form-content">

            <!-- title -->
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input
                    matInput
                    formControlName="title"
                    type="string"
                    required
                />
            </mat-form-field>

            <!-- speed -->
            <mat-form-field>
                <mat-label>Cruise Speed</mat-label>
                <input
                    matInput
                    formControlName="cruiseSpeed"
                    type="number"
                    required
                    min="1"
                    max="999"
                >
                <span matTextSuffix>{{ Speed.getUnitString(this.data.speedUnit) }}</span>
                <mat-error>Value must be a positive number between 1 and 999!</mat-error>
            </mat-form-field>

            <!-- fuel consumption -->
            <mat-form-field>
                <mat-label>Cruise Fuel Consumption</mat-label>
                <input
                    matInput
                    formControlName="cruiseFuel"
                    type="number"
                    required
                    min="1"
                    max="999"
                >
                <span matTextSuffix>{{ Consumption.getUnitString(this.data.consumptionUnit) }}</span>
                <mat-error>Value must be a positive number between 1 and 999!</mat-error>
            </mat-form-field>

        </div>
    </form>
</app-form-dialog>
