<h3>Edit Waypoint</h3>
<form [formGroup]="editWpForm">
    <div class="modal-body">
        <mat-form-field color="accent" class="flex-row" appearance="outline">
            <mat-label>Checkpoint</mat-label>
            <input
                matInput
                type="text"
                formControlName="checkpoint"
                maxlength="30"
                required
            />
        </mat-form-field>
        <mat-form-field color="accent" class="flex-row" appearance="outline">
            <mat-label>Frequency</mat-label>
            <input
                matInput
                type="text"
                formControlName="freq"
                maxlength="7"
            />
        </mat-form-field>
        <mat-form-field color="accent" class="flex-row" appearance="outline">
            <mat-label>Callsign</mat-label>
            <input
                matInput
                type="text"
                formControlName="callsign"
                maxlength="10"
            />
        </mat-form-field>
        <div class="flex-row">
            <mat-form-field color="accent" appearance="outline">
                <mat-label>Altitude</mat-label>
                <input
                    matInput
                    #alt
                    type="text"
                    formControlName="alt"
                    maxlength="5"
                    min="0"
                    max="99999"
                />
                <mat-error *ngIf="alt.invalid">Value must be a positive number!</mat-error>
            </mat-form-field>
            <div>
                <mat-button-toggle-group [multiple]="true" formControlName="isminmaxalt">
                    <mat-button-toggle value="min">min</mat-button-toggle>
                    <mat-button-toggle value="max">max</mat-button-toggle>
                </mat-button-toggle-group>
                &#64;
                <mat-button-toggle-group formControlName="isaltatlegstart">
                    <mat-button-toggle value="true">leg start</mat-button-toggle>
                    <mat-button-toggle value="false">leg end</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
        </div>
        <mat-form-field color="accent" class="flex-row" appearance="outline">
            <mat-label>Remarks</mat-label>
            <input
                matInput
                type="text"
                formControlName="remark"
                maxlength="50"
            />
        </mat-form-field>
        <div class="flex-row">
            <mat-form-field color="accent" appearance="outline">
                <mat-label>Supplemental Info</mat-label>
                <input
                    matInput
                    type="text"
                    formControlName="supp_info"
                    maxlength="255"
                />
            </mat-form-field>
            <app-icon-button
                [color]="ButtonColor.RED"
                tooltipText="delete supplemental info"
                tooltipPosition="above"
                (buttonClicked)="this.onDeleteSuppInfoClicked()"
            >
                <i class="fa-solid fa-eraser"></i>
            </app-icon-button>
        </div>
    </div>
    <div>
        <button mat-raised-button
                color="primary"
                type="submit"
                class="inline-button"
                (click)="this.onSaveClicked()"
                [disabled]="this.editWpForm.invalid">
            Save
        </button>
        <button mat-raised-button
                color="accent"
                type="button"
                class="inline-button"
                (click)="this.onCancelClicked()">
            Cancel
        </button>
    </div>
</form>
