<div class="aircraft-wnb-container">
    <app-aircraft-wnb
        [currentAircraft]="this.currentAircraft$ | async"
        [wnbLengthUnit]="this.wnbLengthUnit$ | async"
        [weightUnit]="this.weightUnit$ | async"
        [volumeUnit]="this.volumeUnit$ | async"
        (changeBew)="this.onChangeBew($event)"
        (changeMtow)="this.onChangeMtow($event)"
        (addWeightItem)="this.onAddWeightItem($event)"
        (editWeightItem)="this.onEditWeightItem($event)"
        (deleteWeightItem)="this.onDeleteWeightItem($event)"
        (saveAircraftWnb)="this.onSaveAircraftWnb()"
    />
</div>
