<mat-drawer-container class="map-page-container">
    <mat-drawer
        #drawer
        class="drawer"
        mode="side"
        position="end"
        [opened]="(this.sidebarMode$ | async) !== SidebarMode.OFF"
    >
        @if ((this.sidebarMode$ | async) === SidebarMode.UPLOAD_AD_CHART) {
            <app-chart-upload-container/>
        } @else if ((this.sidebarMode$ | async) === SidebarMode.EDIT_AD_CIRCUIT) {
            <!-- TODO -->
        }
    </mat-drawer>
    <!-- base map -->
    <div class="base-map-container">
        <app-ol-map-container/>
    </div>

    <!-- map overlays -->
    <div style="display: none">
        <!--<app-ol-overlay-waypoint (close)="this.onOverlayClosed()"/>-->
        <app-map-popup/>
        <app-map-popup-traffic/>
        <app-map-overlay-airspace-structure/>
    </div>

    <!-- search box -->
    <app-search-container class="search-container"/>

    <!-- buttons top left -->
    <div class="buttons-top-left-container">
        <app-zoom-buttons/>
        <app-location-button/>
        <app-traffic-button/>
    </div>

    <app-flighttimer/>

    <!-- buttons bottom left -->
    <div class="buttons-bottom-left-container">
        @if (this.showVerticalMapButton$ | async) {
            <app-vertical-map-button/>
        }

        <app-meteo-button/>
    </div>

    <!-- buttons top right -->
    <div class="buttons-top-right-container">
        <app-full-screen-button/>
        <app-map-layer-selection-button/>
        @if (this.showMapLayerSelection$ | async) {
            <app-map-layer-selection-content class="map-layer-selection-content"/>
        }
        <app-attributions-button/>
        @if (this.showAttributions$ | async) {
            <app-attributions-content class="attributions-content"/>
        }
    </div>

    <div class="vertical-map-meteo-container">
        @if (this.showVerticalMap$ | async) {
            <app-vertical-map/>
        }

        @if (this.showMeteoLayer$ | async) {
            <app-meteo-container/>
        }
    </div>
</mat-drawer-container>
