.base-map-container {
    width: 100%;
    height: 100%;
}

.search-container {
    position: absolute;
    top: 10px;
    left: 70px;
    width: 1000px;
    max-width: calc(100% - 120px);
    z-index: 20;
}

.zoom-buttons-pos {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 20;
}

.location-button-pos {
    position: absolute;
    top: 115px;
    left: 10px;
    z-index: 20;
}

.traffic-button-pos {
    position: absolute;
    top: 175px;
    left: 10px;
    z-index: 20;
}

.vertical-map-button-pos {
    position: absolute;
    bottom: 40px;
    left: 10px;
    z-index: 20;
}

.vertical-map-pos {
    position: absolute;
    bottom: 100px;
    left: 70px;
    right: 10px;
    z-index: 20;
}

.meteo-button-pos {
    position: absolute;
    bottom: 100px;
    left: 10px;
    z-index: 20;
}

.meteo-container-pos {
    position: absolute;
    bottom: 40px;
    left: 70px;
    right: 10px;
    z-index: 25;
}

.full-screen-button-pos {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 20;
}

.map-layer-selection-button-pos {
    position: absolute;
    bottom: 50px;
    right: 5px;
    z-index: 20;
}

.map-layer-selection-content-pos {
    position: absolute;
    bottom: 50px;
    right: 45px;
    z-index: 30;
}

.attributions-button-pos {
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 20;
}

.attributions-content-pos {
    position: absolute;
    bottom: 5px;
    right: 45px;
    z-index: 30;
}
