<!-- base map -->
<div class="base-map-container">
    <app-ol-map-container></app-ol-map-container>
</div>
<!-- map overlays -->
<app-ol-overlay-container></app-ol-overlay-container>
<!-- search box -->
<app-search-container></app-search-container>
<!-- buttons -->
<app-zoom-buttons
        class="zoom-buttons"
        (zoomInClick)="this.onZoomInClicked()"
        (zoomOutClick)="this.onZoomOutClicked()">
</app-zoom-buttons>
<app-location-button class="location-button"></app-location-button>
<app-traffic-button class="traffic-button"></app-traffic-button>
<app-flighttimer></app-flighttimer>
