<!-- base map -->
<div class="base-map-container">
    <app-ol-map-container></app-ol-map-container>
</div>
<!-- map overlays -->
<div style="display: none">
    <!--<app-ol-overlay-waypoint (close)="this.onOverlayClosed()"></app-ol-overlay-waypoint>-->
    <app-ol-map-overlay></app-ol-map-overlay>
    <app-ol-overlay-traffic></app-ol-overlay-traffic>
    <app-ol-overlay-airspace-structure></app-ol-overlay-airspace-structure>
</div>
<!-- search box -->
<app-search-container></app-search-container>
<!-- buttons -->
<app-zoom-buttons
        class="zoom-buttons"
        (zoomInClick)="this.onZoomInClicked()"
        (zoomOutClick)="this.onZoomOutClicked()">
</app-zoom-buttons>
<app-location-button class="location-button"></app-location-button>
<app-traffic-button class="traffic-button"></app-traffic-button>
<app-meteo-sma-button class="meteo-sma-button"></app-meteo-sma-button>
<app-meteo-sma-container *ngIf="this.showMeteoSmaMeasurements$ | async"></app-meteo-sma-container>
<app-vertical-map-button *ngIf="this.showVerticalMapButton$ | async" class="vertical-map-button"></app-vertical-map-button>
<app-vertical-map *ngIf="(this.showVerticalMap$ | async)" class="vertical-map"></app-vertical-map>
<app-flighttimer></app-flighttimer>
