@use '../../../../../../node_modules/@angular/material/index' as mat;

.mat-mdc-mini-fab.mat-button-green {
    color: white;
    background-color: var(--navplan-color-green);
}

.mat-mdc-mini-fab.mat-button-orange {
    color: white;
    background-color: var(--navplan-color-orange);
}

.mat-mdc-mini-fab.mat-button-red {
    color: white;
    background-color: var(--navplan-color-red);
}

.mat-mdc-mini-fab.mat-button-blue {
    color: white;
    background-color: var(--navplan-color-blue);
}

.mat-mdc-mini-fab.mat-button-gray {
    color: white;
    background-color: var(--navplan-color-gray);
}

.mat-mdc-mini-fab.mat-button-green:disabled,
.mat-mdc-mini-fab.mat-button-orange:disabled,
.mat-mdc-mini-fab.mat-button-red:disabled,
.mat-mdc-mini-fab.mat-button-blue:disabled,
.mat-mdc-mini-fab.mat-button-gray:disabled
{
    color: white;
    background-color: var(--navplan-color-disabled-bg);
}
