<mat-form-field>
    <mat-label>Max. distance from route</mat-label>
    <input
        matInput
        #maxDistance
        type="number"
        required
        min="1"
        max="150"
        [formControl]="this.maxDistanceInput"
        [value]="this.getDistanceValue()"
        (change)="this.maxDistanceInput.valid ? this.onMaxDistanceChanged(maxDistance.value) : {}"
    />
    <span matTextSuffix>{{ this.getDistanceUnit() }}</span>
    <mat-error>Value must be a positive number between 1 and 150!</mat-error>
</mat-form-field>
