.filter-and-button-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
    margin-top: 20px;
}

mat-icon {
    color: slategray;
}

.create-aircraft-button {
    text-align: right !important;
}

table {
    width: 100%;
}

/*.mat-mdc-form-field {
    width: 100%;
}*/

.button-cell {
    text-align: right;
}

mat-paginator {
    margin-top: 20px;
}
