<app-form-dialog
    [title]="this.getDialogTitle()"
    [isFormValid]="this.editForm?.valid"
    [saveButtonText]="this.getSaveButtonText()"
    cancelButtonText="Cancel"
    deleteButtonText="Delete"
    [showDeleteButton]="!this.data.isNewEnvelope"
    (saveClicked)="this.onSaveClicked()"
    (cancelClicked)="this.onCancelClicked()"
    (deleteClicked)="this.onDeleteClicked()"
>
    <form [formGroup]="editForm">
        <div class="form-content">

            <!-- envelope name -->
            <mat-form-field class="flex-row">
                <mat-label>Name</mat-label>
                <input
                    matInput
                    type="text"
                    formControlName="name"
                    required
                >
            </mat-form-field>

            <!-- axis type -->
            <mat-form-field class="flex-row">
                <mat-label>Diagram Axes</mat-label>
                <mat-select
                    formControlName="axisType"
                >
                    <mat-option [value]="WnbEnvelopeAxisType.WEIGHT_ARM">Weight - Arm</mat-option>
                    <mat-option [value]="WnbEnvelopeAxisType.WEIGHT_MOMENT">Weight - Moment</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- arm direction -->
            <mat-form-field class="flex-row">
                <mat-label>Arm Direction</mat-label>
                <mat-select
                    formControlName="armDirection"
                >
                    <mat-option [value]="WnbEnvelopeArmDirection.LONGITUDINAL">Longitudinal (Front - Back)</mat-option>
                    <mat-option [value]="WnbEnvelopeArmDirection.LATERAL">Lateral (Left - Right)</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</app-form-dialog>
