@use '../../../../../../node_modules/@angular/material/index' as mat;
@use "styles" as *;

.waypoints-table {
    /*width: 100%;*/
}

.fa-info-circle {
    color: $navplan-color-blue;
}
u {
    text-decoration: underline;
}

.supp-info-row {
    height: initial;
    color: darkgray;
}

.button-cell {
    text-align: right;
}

.reverse-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end
}

.reverse-button {
}
