@use '../../../../../../node_modules/@angular/material/index' as mat;

.action-buttons {
    margin-bottom: 20px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.align-right {
    margin-left: auto !important;
}
