<div class="container nonmapcontent">
    <form #forgotPwForm="ngForm">
        <h2>Request new Password</h2>
        <div class="form-group">
            <label for="email" class="col-form-label col-sm-3">Registered E-Mail</label>
            <div class="col-sm-6">
                <input type="text" id="email" class="form-control" [(ngModel)]="email" name="email" required>
            </div>
        </div>
        <div class="form-group">
            <span class="col-sm-3">&nbsp;</span>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary" (click)="onReqPwClicked()" [disabled]="forgotPwForm.invalid">Request new Password</button>
            </div>
        </div>
    </form>
</div>