<div ng-show="globalData.selectedWp.isNew" class="form-inline" style="margin-bottom: 5px">
    <button appIconButton
            [color]="ButtonColor.GREEN"
            [size]="ButtonSize.SMALL"
            [iconClass]="'fas fa-plus'"
            (click)="this.onAddSelectedWaypointClicked()"></button>&nbsp;Add to Route
    <!--<select ng-show="globalData.navplan.waypoints.length > 0" class="form-control input-sm"
            ng-model="addToRouteAfterWp">
        <option value="0">at the start</option>
        <option ng-repeat="wp in globalData.navplan.waypoints" value="{{ $index + 1 }}">after {{ wp.checkpoint }}
        </option>
        <option value="{{ globalData.navplan.waypoints.length + 1 }}">at the end</option>
    </select>-->
</div>
