<div #container class="meteo-dwd-timeline">
    <button mat-button (click)="onPreviousStepClicked()"><i class="fas fa-angle-left"></i></button>
    <button mat-button (click)="onNextStepClicked()"><i class="fas fa-angle-right"></i></button>
    <mat-slider
        #slider
        thumbLabel="true"
        [displayWith]="formatLabel"
        tickInterval="{{ getStepInterval() | async }}"
        step="{{ getStepInterval() | async }}"
        min="{{ getMinStep() | async }}"
        max="{{ getMaxStep() | async }}"
        aria-label="units"
        class="meteo-dwd-timeline-slider"
        (input)="onIntervalSelected($event)"
    ></mat-slider>
</div>
