<form [formGroup]="registerForm" *ngIf="!this.isInvalidToken">
    <div class="main-container">
        <mat-form-field color="accent" appearance="outline">
            <mat-label>E-Mail</mat-label>
            <input
                matInput
                type="email"
                formControlName="email"
                [readonly]="true"
            />
            <mat-icon matSuffix><i class="fa-solid fa-check"></i></mat-icon>
        </mat-form-field>
        <mat-form-field color="accent" appearance="outline">
            <mat-label>Password</mat-label>
            <input
                matInput
                type="password"
                formControlName="password"
                #password
                required
            />
            <mat-error>Password is required (min. 6 characters)</mat-error>
        </mat-form-field>
        <mat-form-field color="accent" appearance="outline">
            <mat-label>Repeat Password</mat-label>
            <input
                matInput
                type="password"
                formControlName="password2"
                #password2
                required
            />
            <mat-error>Password is required (min. 6 characters)</mat-error>
        </mat-form-field>
        <mat-error
            *ngIf="this.registerForm.errors?.passwordMismatch && (password2.value && password2.value.length > 0)">
            Passwords must be identical
        </mat-error>
        <div class="buttons-container">
            <button
                mat-raised-button
                color="accent"
                (click)="this.onCreateAccount.emit([this.tokenString, password.value, rememberMe.checked])"
                [disabled]="this.registerForm.invalid"
            >
                Create Account
            </button>
            <mat-checkbox
                #rememberMe
                formControlName="rememberMe"
            >
                remember me
            </mat-checkbox>
        </div>
    </div>
</form>
<div *ngIf="this.isInvalidToken">
    <mat-error>ERROR: The token is invalid or has expired! Please restart the registration process.</mat-error>
</div>
