<form class="correction-factors-form" [formGroup]="this.correctionFactorsForm">
    <div class="correction-factors-form-content">
        <!-- Grass RWY -->
        <div>
            <label id="grass-rwy-radio-group-label">Grass RWY</label>
            <mat-radio-group
                aria-labelledby="grass-rwy-radio-group-label"
                color="primary"
                formControlName="grassRwy"
                (change)="this.onGrassRwyChanged()"
            >
                <mat-radio-button [value]="false">No</mat-radio-button>
                <mat-radio-button [value]="true">Yes</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- Wet RWY -->
        <div *ngIf="this.showWetRwy">
            <label id="wet-rwy-radio-group-label">Wet RWY</label>
            <mat-radio-group
                aria-labelledby="wet-rwy-radio-group-label"
                color="primary"
                formControlName="wetRwy"
                (change)="this.onWetRwyChanged()"
            >
                <mat-radio-button [value]="false">No</mat-radio-button>
                <mat-radio-button [value]="true">Yes</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- RWY Slope -->
        <div>
            <mat-form-field>
                <mat-label>RWY Slope</mat-label>
                <input
                    matInput
                    formControlName="rwySlope"
                    type="number"
                    required
                    min="0"
                    max="99"
                    (change)="this.onRwySlopeChanged()"
                >
                <span matTextSuffix>%</span>
                <mat-error>Value must be a number between 0 and 99!</mat-error>
            </mat-form-field>

            <mat-radio-group
                color="primary"
                formControlName="rwySlopeDir"
                (change)="this.onRwySlopeChanged()"
            >
                <mat-radio-button [value]="true">up</mat-radio-button>
                <mat-radio-button [value]="false">down</mat-radio-button>
            </mat-radio-group>
        </div>


        <!-- RWY Wind -->
        <div>
            <mat-form-field>
                <mat-label>RWY Wind</mat-label>
                <input
                    matInput
                    formControlName="rwyWind"
                    type="number"
                    required
                    min="0"
                    max="999"
                    (change)="this.onRwyWindChanged()"
                >
                <span matTextSuffix>{{ Speed.getUnitString(this.speedUnit) }}</span>
                <mat-error>Value must be a number between 0 and 999!</mat-error>
            </mat-form-field>

            <mat-radio-group
                color="primary"
                formControlName="rwyWindDir"
                (change)="this.onRwyWindChanged()"
            >
                <mat-radio-button [value]="true">headwind</mat-radio-button>
                <mat-radio-button [value]="false">tailwind</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- Reserve -->
        <mat-form-field>
            <mat-label>Reserve</mat-label>
            <input
                matInput
                formControlName="reserve"
                type="number"
                required
                min="0"
                max="999"
                (change)="this.onRwySlopeChanged()"
            >
            <span matTextSuffix>%</span>
            <mat-error>Value must be a number between 0 and 999!</mat-error>
        </mat-form-field>
    </div>
</form>
