<form class="correction-factors-form" [formGroup]="this.correctionFactorsForm">
    <div class="correction-factors-form-content">
        <!-- Grass RWY -->
        <label id="grass-rwy-radio-group-label">Grass RWY</label>
        <mat-radio-group
            aria-labelledby="grass-rwy-radio-group-label"
            color="primary"
            formControlName="grassRwy"
            (change)="this.onGrassRwyChanged()"
        >
            <mat-radio-button [value]="false">No</mat-radio-button>
            <mat-radio-button [value]="true">Yes</mat-radio-button>
        </mat-radio-group>

        <!-- Wet RWY -->
        <label id="wet-rwy-radio-group-label">Wet RWY</label>
        <mat-radio-group
            aria-labelledby="wet-rwy-radio-group-label"
            color="primary"
            formControlName="wetRwy"
            (change)="this.onWetRwyChanged()"
        >
            <mat-radio-button [value]="false">No</mat-radio-button>
            <mat-radio-button [value]="true">Yes</mat-radio-button>
        </mat-radio-group>

        <!-- Rwy Slope -->
        <mat-form-field>
            <mat-label>RWY Slope</mat-label>
            <input
                matInput
                formControlName="rwySlope"
                type="number"
                required
                min="-99"
                max="99"
                (change)="this.onRwySlopeChanged()"
            >
            <span matTextSuffix>%</span>
            <mat-error>Value must be a number between -99 and 99!</mat-error>
            <mat-hint>Positive: uphill, negative: downhill</mat-hint>
        </mat-form-field>
    </div>
</form>
