<div class="table-responsive" *ngIf="this.flightroute">
    <table id="waypoint_list" class="table table-sm table-hover" ui-sortable="sortableOptions">
        <thead>
        <tr>
            <th>Freq</th>
            <th>Callsign</th>
            <th>Checkpoint</th>
            <th>Alt</th>
            <th>MT</th>
            <th>Dist</th>
            <th>EET</th>
            <th>Remarks</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <!-- trip checkpoints -->
        <tbody app-waypoint-list-entry
            *ngFor="let wp of this.flightroute.waypoints; first as isFirst; last as isLast" class="grabbable"
            [wp]="wp"
            [isFirst]="isFirst"
            [isLast]="isLast"
            [isAlternate]="false"
            (onEditWaypointClicked)="this.onEditWaypointClicked.emit($event)"
            (onRemoveWaypointClicked)="this.onRemoveWaypointClicked.emit($event)">
        </tbody>
        <!-- trip total -->
        <tbody *ngIf="this.flightroute.fuel as fuel">
        <tr *ngIf="fuel.tripTime > 0">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><strong>{{ fuel.tripTime }}</strong></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
        <!-- alternate checkpoint -->
        <tbody *ngIf="this.flightroute.alternate as alternate">
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><i><u>Alternate:</u></i></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
        <tbody app-waypoint-list-entry
            *ngIf="this.flightroute.alternate as alternate"
            [wp]="alternate"
            [isFirst]="false"
            [isLast]="false"
            [isAlternate]="true"
            (onEditWaypointClicked)="this.onEditWaypointClicked.emit($event)"
            (onRemoveWaypointClicked)="this.onRemoveWaypointClicked.emit($event)">
        </tbody>
        <!-- empty list -->
        <tr *ngIf="this.flightroute.waypoints.length === 0">
            <td colspan="9"><i>Empty route, add waypoints on the map.</i></td>
        </tr>
    </table>
    <!-- reverse waypoints button -->
    <div class="form-group float-right">
        <button
                type="button"
                class="btn btn-md btn-secondary"
                title="Reverse Waypoint Order"
                [disabled]="this.flightroute.waypoints.length < 2"
                (click)="this.onReverseWaypointsClicked.emit()"><i class="fas fa-sort"></i> Reverse Waypoints
        </button>&nbsp;
    </div>
</div>
