<div class="table-responsive" *ngIf="this.flightroute">
    <!--<h3>Waypoints</h3>-->
    <table mat-table
           *ngIf="this.flightroute && this.flightroute.waypoints.length > 0"
           multiTemplateDataRows
           class="waypoints-table mat-elevation-z6"
           [dataSource]="this.flightroute.waypoints">

        <ng-container matColumnDef="freq">
            <th mat-header-cell *matHeaderCellDef>Freq</th>
            <td mat-cell *matCellDef="let wp">{{ wp.freq }}</td>
        </ng-container>

        <ng-container matColumnDef="callsign">
            <th mat-header-cell *matHeaderCellDef>Callsign</th>
            <td mat-cell *matCellDef="let wp">{{ wp.callsign }}</td>
        </ng-container>

        <ng-container matColumnDef="checkpoint">
            <th mat-header-cell *matHeaderCellDef>Checkpoint</th>
            <td mat-cell *matCellDef="let wp">{{ wp.checkpoint }}</td>
        </ng-container>

        <ng-container matColumnDef="alt">
            <th mat-header-cell *matHeaderCellDef>Alt</th>
            <td mat-cell *matCellDef="let wp">
                <span *ngIf="this.wp.alt.isaltatlegstart">&#8739;</span>
                <span [style.text-decoration]="this.getAltStyle(wp)">{{ this.wp.alt.alt_ft }}</span>
            </td>
        </ng-container>

        <ng-container matColumnDef="mt">
            <th mat-header-cell *matHeaderCellDef>MT</th>
            <td mat-cell *matCellDef="let wp">{{ wp.mtText }}</td>
        </ng-container>

        <ng-container matColumnDef="dist">
            <th mat-header-cell *matHeaderCellDef>Dist</th>
            <td mat-cell *matCellDef="let wp">{{ wp.distText }}</td>
        </ng-container>

        <ng-container matColumnDef="eet">
            <th mat-header-cell *matHeaderCellDef>EET</th>
            <td mat-cell *matCellDef="let wp">{{ wp.eetText }}</td>
        </ng-container>

        <ng-container matColumnDef="remarks">
            <th mat-header-cell *matHeaderCellDef>Remarks</th>
            <td mat-cell *matCellDef="let wp">{{ wp.remark }}</td>
        </ng-container>

        <ng-container matColumnDef="editIcon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let wp">
                <button mat-icon-button
                        matTooltip="Edit Waypoint"
                        color="accent"
                        (click)="this.onEditWaypointClicked.emit(wp)">
                    <i class="fas fa-edit"></i>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="deleteIcon">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let wp">
                <button mat-icon-button
                        matTooltip="Remove Waypoint"
                        color="accent"
                        (click)="this.onRemoveWaypointClicked.emit(wp)">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="supp_info">
            <td mat-cell *matCellDef="let wp" [attr.colspan]="this.visibleColumns.length">
                <small><i class="fas fa-info-circle"></i></small>&nbsp;
                <em>{{ this.wp.supp_info }}</em>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="this.visibleColumns"></tr>
        <tr mat-row *matRowDef="let wp; columns: this.visibleColumns"></tr>
        <tr mat-row *matRowDef="let wp; columns: ['supp_info']" [hidden]="!wp.supp_info"></tr>
    </table>

    <div *ngIf="!this.flightroute || this.flightroute.waypoints.length === 0">
        <i>Empty route, add waypoints on the map.</i>
    </div>


<!--
    <br>
    <br>
    <br>
    <hr>
    <table id="waypoint_list" class="table table-sm table-hover" ui-sortable="sortableOptions">
        <thead>
        <tr>
            <th>Freq</th>
            <th>Callsign</th>
            <th>Checkpoint</th>
            <th>Alt</th>
            <th>MT</th>
            <th>Dist</th>
            <th>EET</th>
            <th>Remarks</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <!-- trip checkpoints ->
        <tbody app-waypoint-list-entry
            *ngFor="let wp of this.flightroute.waypoints; first as isFirst; last as isLast" class="grabbable"
            [wp]="wp"
            [isFirst]="isFirst"
            [isLast]="isLast"
            [isAlternate]="false"
            (onEditWaypointClicked)="this.onEditWaypointClicked.emit($event)"
            (onRemoveWaypointClicked)="this.onRemoveWaypointClicked.emit($event)">
        </tbody>
        <!-- trip total ->
        <tbody *ngIf="this.flightroute.fuel as fuel">
        <tr *ngIf="fuel.tripTime > 0">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><strong>{{ fuel.tripTime }}</strong></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
        <!-- alternate checkpoint ->
        <tbody *ngIf="this.flightroute.alternate as alternate">
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><i><u>Alternate:</u></i></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        </tbody>
        <tbody app-waypoint-list-entry
            *ngIf="this.flightroute.alternate as alternate"
            [wp]="alternate"
            [isFirst]="false"
            [isLast]="false"
            [isAlternate]="true"
            (onEditWaypointClicked)="this.onEditWaypointClicked.emit($event)"
            (onRemoveWaypointClicked)="this.onRemoveWaypointClicked.emit($event)">
        </tbody>
        <!-- empty list ->
        <tr *ngIf="this.flightroute.waypoints.length === 0">
            <td colspan="9"><i>Empty route, add waypoints on the map.</i></td>
        </tr>
    </table>-->
    <!-- reverse waypoints button -->
    <div class="reverse-button"
         *ngIf="this.flightroute && this.flightroute.waypoints.length > 1">
        <button
                mat-raised-button
                type="button"
                matTooltip="Reverse Waypoint Order"
                [disabled]="this.flightroute.waypoints.length < 2"
                (click)="this.onReverseWaypointsClicked.emit()"><i class="fas fa-sort"></i> Reverse Waypoints
        </button>&nbsp;
    </div>
</div>
