<div #container class="ol-popup card text-white bg-primary mb-3" style="visibility: hidden">
    <div *ngIf="this.notam">
        <div class="card-header">
            NOTAM {{ this.notam.id }}
            <app-map-overlay-button-close (click)="this.onCloseOverlay()"></app-map-overlay-button-close>
        </div>
        <div class="card-body">
            <div class="ol-popup-notam">
                <app-map-overlay-notam-item [notam]="this.notam"></app-map-overlay-notam-item>
            </div>
        </div>
    </div>
</div>
