<div class="form-group" [formGroup]="this.cruiseAltFormGroup">
    <mat-form-field>
        <mat-label>Cruise Altitude</mat-label>
        <input
            matInput
            #cruiseAlt
            formControlName="cruiseAltInput"
            type="number"
            size="5"
            min="0"
            max="99999"
            [value]="this.getCruiseAltValue()"
            (input)="this.onCruiseAltChanged(cruiseAlt.value)"
        />
        <span matTextSuffix>{{ Length.getUnitString(this.altitudeUnit) }}</span>
        <mat-error>Value must be a whole non-negative number (max. 99999)!</mat-error>
    </mat-form-field>
</div>
