<div class="step2-container">
    <!-- input fields -->
    @if (this.uploadedChartInfo && this.uploadedChartInfo.success) {
        <div [formGroup]="this.formGroup" class="form-fields">
            <p>File: {{ this.uploadedChartInfo.filename }}</p>

            <!-- chart registration type -->
            <app-chart-upload-registration-type-selector
                [chartRegistrationType]="this.chartRegistrationType"
                (chartRegistrationTypeChanged)="this.onChartRegistrationTypeChanged()"
            />

            <!-- chart reference point 1 -->
            <div class="form-row">
                Reference Point 1:
                <i class="fa-solid fa-crosshairs refPoint1Icon"></i>

                <app-chart-upload-pixel-selector
                    controlName="chartRefPoint1"
                    [isRequired]="true"
                    [isDisabled]="false"
                    [coordinate]="this.selectedRefPoint1"
                    (coordinateChanged)="this.onChartRefPoint1Changed($event)"
                />

                <i [hidden]="this.selectedRefPoint1">(pick on chart)</i>
                <span [hidden]="!this.selectedRefPoint1">
                    <i class="fa-solid fa-check-circle checkIcon"></i>
                </span>

                <app-icon-button
                    tooltipText="Delete Chart Ref. Point 1"
                    tooltipPosition="above"
                    [color]="ButtonColor.GRAY"
                    [disabled]="!this.selectedRefPoint1"
                    (buttonClicked)="this.onChartRefPoint1Changed(null)"
                >
                    <i class="fa-solid fa-trash"></i>
                </app-icon-button>
            </div>

            <!-- chart reference point 2 -->
            @if (this.isPos1Pos2()) {
                <div class="form-row">
                    Reference Point 2:
                    <i class="fa-solid fa-crosshairs refPoint2Icon"></i>

                    <app-chart-upload-pixel-selector
                        controlName="chartRefPoint2"
                        [isRequired]="true"
                        [isDisabled]="false"
                        [coordinate]="this.selectedRefPoint2"
                        (coordinateChanged)="this.onChartRefPoint2Changed($event)"
                    />

                    <i [hidden]="this.selectedRefPoint2 || !this.selectedRefPoint1">(pick on
                        chart)</i>
                    <span [hidden]="!this.selectedRefPoint2">
                        <i class="fa-solid fa-check-circle checkIcon"></i>
                    </span>

                    <app-icon-button
                        tooltipText="Delete Chart Ref. Point 2"
                        tooltipPosition="above"
                        [color]="ButtonColor.GRAY"
                        [disabled]="!this.selectedRefPoint2"
                        (buttonClicked)="this.onChartRefPoint2Changed(null)"
                    >
                        <i class="fa-solid fa-trash"></i>
                    </app-icon-button>
                </div>
            } @else {
                <mat-form-field>
                    <mat-label>Scale</mat-label>
                    <input
                        matInput
                        formControlName="scale"
                        type="number"
                        [required]="!this.isPos1Pos2()"
                        (change)="this.onScaleChanged()"
                    >
                    <span matTextPrefix>1:</span>
                </mat-form-field>
            }
        </div>

        <!-- mini viewer -->
        <app-mini-image-viewer
            class="image-viewer"
            [imageSrc]="'http://localhost:8080/tmp/' + this.uploadedChartInfo.url"
            [isClickable]="true"
            [fitImage]="false"
            [overlayIcons]="this.getOverlayIcons()"
            (imageClicked)="this.onImageClicked($event)"
        />
    }
</div>
