<div class="step2-container">
    <!-- input fields -->
    @if (this.uploadedChartInfo && this.uploadedChartInfo.success) {
        <div [formGroup]="this.formGroup" class="form-fields">
            <p>File: {{ this.uploadedChartInfo.filename }}</p>

            <!-- chart registration type -->
            <mat-radio-group
                color="primary"
                formControlName="chartRegistrationType"
                (change)="this.onChartRegistrationTypeChanged()"
            >
                <mat-radio-button [value]="ChartRegistrationType.POS1_POS2">Two reference points</mat-radio-button>
                <mat-radio-button [value]="ChartRegistrationType.POS1_SCALE">One reference point &amp; chart scale</mat-radio-button>
                <mat-radio-button [value]="ChartRegistrationType.ARP_SCALE">Aerodrome ARP &amp; chart scale</mat-radio-button>
            </mat-radio-group>

            <!-- chart reference point 1 -->
            <div class="form-row">
                Reference Point 1:
                <i class="fa-solid fa-crosshairs refPoint1Icon"></i>

                <mat-form-field class="coordInput">
                    <mat-label>X</mat-label>
                    <input
                        matInput
                        formControlName="refX1"
                        required
                        (change)="this.onRefPoint1Changed()"
                    >
                    <span matTextSuffix>px</span>
                </mat-form-field>

                <mat-form-field class="coordInput">
                    <mat-label>Y</mat-label>
                    <input
                        matInput
                        formControlName="refY1"
                        required
                        (change)="this.onRefPoint1Changed()"
                    >
                    <span matTextSuffix>px</span>
                </mat-form-field>

                <i [hidden]="this.selectedRefPoint1">(pick on chart)</i>
                <span [hidden]="!this.selectedRefPoint1">
                    <i class="fa-solid fa-check-circle checkIcon"></i>
                </span>
            </div>

            <!-- chart reference point 2 -->
            @if (this.isPos1Pos2()) {
                <div class="form-row">
                    Reference Point 2:
                    <i class="fa-solid fa-crosshairs refPoint2Icon"></i>

                    <mat-form-field class="coordInput">
                        <mat-label>X</mat-label>
                        <input
                            matInput
                            formControlName="refX2"
                            [required]="this.isPos1Pos2()"
                            (change)="this.onRefPoint2Changed()"
                        >
                        <span matTextSuffix>px</span>
                    </mat-form-field>

                    <mat-form-field class="coordInput">
                        <mat-label>Y</mat-label>
                        <input
                            matInput
                            formControlName="refY2"
                            [required]="this.isPos1Pos2()"
                            (change)="this.onRefPoint2Changed()"
                        >
                        <span matTextSuffix>px</span>
                    </mat-form-field>

                    <i [hidden]="this.selectedRefPoint2 || !this.selectedRefPoint1">(pick on chart)</i>
                    <span [hidden]="!this.selectedRefPoint2">
                    <i class="fa-solid fa-check-circle checkIcon"></i>
                </span>
                </div>
            } @else {
                <mat-form-field>
                    <mat-label>Scale</mat-label>
                    <input
                        matInput
                        formControlName="scale"
                        [required]="!this.isPos1Pos2()"
                        (change)="this.onScaleChanged()"
                    >
                    <span matTextPrefix>1:</span>
                </mat-form-field>
            }
        </div>

        <!-- mini viewer -->
        <app-mini-image-viewer
            class="image-viewer"
            [imageSrc]="'http://localhost:8080/tmp/' + this.uploadedChartInfo.url"
            [isClickable]="true"
            [fitImage]="false"
            [overlayIcons]="this.getOverlayIcons()"
            (imageClicked)="this.onImageClicked($event)"
        />
    }
</div>
