<div fxLayout="column" fxLayoutGap="10px">
    <app-ol-overlay-button-add-to-route
            *ngIf="!(this.isWaypointInFlightroute$ | async)"
            [waypoint]="this.waypoint"
            [flightroute]="this.flightroute$ | async"
            (onInsertWaypointAt)="this.onInsertWaypointAt($event)">
    </app-ol-overlay-button-add-to-route>
    <app-ol-overlay-button-edit-waypoint
            *ngIf="this.isWaypointInFlightroute$ | async"
            [waypoint]="this.waypoint">
    </app-ol-overlay-button-edit-waypoint>
    <app-ol-overlay-button-remove-from-route
            *ngIf="this.isWaypointInFlightroute$ | async"
            [waypoint]="this.waypoint"
            (onDeleteWaypoint)="this.onDeleteWaypoint($event)">
    </app-ol-overlay-button-remove-from-route>
    <app-ol-overlay-button-set-alternate
            *ngIf="!(this.isAlternateWaypoint$ | async) && (this.isAlternateEligible$ | async)">
    </app-ol-overlay-button-set-alternate>
    <app-ol-overlay-button-remove-alternate
            *ngIf="(this.isAlternateWaypoint$ | async)">
    </app-ol-overlay-button-remove-alternate>
</div>
