@use '@angular/material' as mat;

.flightroute-form {
    margin-top: 20px;
}

.route-comments {
    width: 100%;
}

.button-load {
    background-color: green;
    color: white;
}

.button-delete {
    background-color: #cc0000;
    color: white;
}

.button-save {
    background-color: #41669c;
    color: white;
}

.button-copy {
    background-color: #41669c;
    color: white;
}
