<h3>Flight Route</h3>

<form class="flightroute-form" [formGroup]="flightrouteForm">
    <div class="flex-row">
        <!-- flightroute name  -->
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Route Name</mat-label>
            <input matInput
                   #routeName
                   type="text"
                   maxlength="50"
                   formControlName="flightrouteName"
                   (input)="this.routeName$.next(routeName.value)"
            />
        </mat-form-field>

        <!-- load / save / save copy buttons -->
        <button mat-mini-fab
                color="accent"
                class="inline-button button-load"
                matTooltip="Load Route"
                [disabled]="!(this.currentUser$ | async)"
                (click)="this.onLoadFlightrouteClick()">
            <i class="fas fa-folder-open"></i>
        </button>
        <button mat-mini-fab
                color="accent"
                class="inline-button button-save"
                matTooltip="Save Route"
                [disabled]="!(this.currentUser$ | async) || !(routeName.value && routeName.value.length > 0)"
                (click)="this.onSaveFlightrouteClick()">
            <i class="fas fa-download"></i>
        </button>
        <button mat-mini-fab
                color="accent"
                class="inline-button button-copy"
                matTooltip="Save Copy of Route"
                [disabled]="!(this.currentUser$ | async) || !(routeName.value && routeName.value.length > 0) || !((this.loadedFlightrouteId$ | async) > 0)"
                (click)="this.onSaveFlightrouteCopyClick()">
            <i class="fas fa-copy"></i>
        </button>
    </div>

    <!-- aircraft speed -->
    <div>
        <!-- aircraft speed -->
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Ground Speed</mat-label>
            <input matInput
                   #aircraftSpeed
                   type="number"
                   formControlName="aircraftSpeed"
                   maxlength="3"
                   size="3"
                   (input)="this.aircraftSpeed$.next(Number(aircraftSpeed.value))"
            />
            <span matSuffix>kt</span>
            <mat-error *ngIf="this.flightrouteForm.controls.aircraftSpeed.invalid">Value must be a positive number!</mat-error>
        </mat-form-field>
    </div>

    <!-- waypoint list -->
    <app-waypoint-list
            [flightroute]="this.loadedFlightroute$ | async"
            (onEditWaypointClick)="this.onEditWaypointClick($event)"
            (onRemoveWaypointClick)="this.onRemoveWaypointClick($event)"
            (onReverseWaypointsClick)="this.onReverseWaypointsClick()">
    </app-waypoint-list>

    <!-- comments -->
    <mat-form-field appearance="fill" class="route-comments">
        <mat-label>Comments</mat-label>
        <textarea matInput
                  #routeComments
                  formControlName="flightrouteComments"
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="3"
                  cdkAutosizeMaxRows="6"
                  maxlength="2048"
                  (input)="this.routeComments$.next(routeComments.value)">
        </textarea>
    </mat-form-field>
</form>
