<form class="fuel-form">
    <!-- aircraft consumption -->
    <mat-form-field>
        <mat-label>Fuel Consumption</mat-label>
        <input matInput
               #aircraftConsumptionInput
               type="number"
               maxlength="3"
               size="3"
               (input)="this.onAircraftConsumptionChange(aircraftConsumptionInput.value)"
               [value]="this.getAircaftConsumptionString()"
        >
        <span matTextSuffix>{{ Consumption.getUnitString(this.consumptionUnit) }}</span>
    </mat-form-field>

    <!-- extra time -->
    <mat-form-field>
        <mat-label>Extra Time</mat-label>
        <input matInput
               #extraTimeInput
               type="number"
               maxlength="3"
               size="3"
               (input)="this.onExtraTimeChange(extraTimeInput.value)"
               [value]="this.getExtraTimeString()"
        >
        <span matTextSuffix>min</span>
    </mat-form-field>
</form>
