<div class="viewer-container">
    <div class="zoom-controls">
        <button mat-icon-button (click)="this.zoomIn()">+</button>
        <button mat-icon-button (click)="this.zoomOut()">-</button>
    </div>
    <div #imgContainer class="image-container">
        <img
            #img
            [src]="this.imageSrc"
            [style.width.px]="this.naturalWidth * this.scale"
            [style.height.px]="this.naturalHeight * this.scale"
            [ngStyle]="this.getImageStyle()"
            (load)="this.onImageLoad($event)"
            (click)="this.onImageClicked($event)"
        />
        <div #crosshairContainer class="crosshair-container"></div>
    </div>
</div>
