.viewer-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #cccccc; /* TODO: temporary background color */
    overflow: auto; /* Enable scroll bars if needed */
    border: 1px solid #999999;
}

.image-container img {
    transition: all 0.2s ease;
    display: block;
}

.zoom-controls {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 1000;
}

button {
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.crosshair-container {
    z-index: 1000;
}
