.correction-factors-container {
}

.label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.for-each-text {
    display: inline-block;
    width: 80px;
}

.of-wind-text {
}
