<form class="fuel-form">
    <!-- fuel consumption -->
    <div class="fuel-consumption-line">
        <app-consumption-input
            [consumption]="this.fuelConsumption"
            [defaultConsumptionUnit]="this.consumptionUnit"
            [isRequired]="true"
            [isDisabled]="this.useAircraftValue"
            (consumptionChanged)="this.onFuelConsumptionChanged($event)"
        >Fuel Consumption</app-consumption-input>
        <app-aircraft-manual-toggle
            class="manual-aircraft-toggle"
            [selectedAircraft]="this.selectedAircraft"
            [useAircraft]="this.useAircraftValue"
            (useAircraftValueChanged)="this.onUseAircraftValueChanged($event)"
        />
    </div>
</form>
