<!-- map -->
<app-map></app-map>
<!-- search box -->
<!--<app-search-box></app-search-box>-->
<!-- buttons -->
<app-zoom-buttons
        (onZoomInClicked)="this.onZoomInClicked()"
        (onZoomOutClicked)="this.onZoomOutClicked()">
</app-zoom-buttons>
<app-location-button></app-location-button>
<!--<app-flighttimer></app-flighttimer>-->
<app-traffic-button></app-traffic-button>
<!-- map overlays -->
<div style="display: none">
    <app-map-overlay-airport (close)="this.onOverlayClose()"></app-map-overlay-airport>
    <app-map-overlay-navaid (close)="this.onOverlayClose()"></app-map-overlay-navaid>
    <app-map-overlay-reportingpoint (close)="this.onOverlayClose()"></app-map-overlay-reportingpoint>
    <app-map-overlay-reportingsector (close)="this.onOverlayClose()"></app-map-overlay-reportingsector>
    <app-map-overlay-userpoint (close)="this.onOverlayClose()"></app-map-overlay-userpoint>
    <app-map-overlay-geoname (close)="this.onOverlayClose()"></app-map-overlay-geoname>
    <app-map-overlay-traffic (close)="this.onOverlayClose()"></app-map-overlay-traffic>
    <app-map-overlay-notam (close)="this.onOverlayClose()"></app-map-overlay-notam>
    <app-map-overlay-waypoint (close)="this.onOverlayClose()"></app-map-overlay-waypoint>
</div>
