<div *ngIf="this.userpoint">
    <h5 class="card-title">{{ this.userpoint.name }}</h5>
    <p>{{ this.getPositionString() }}</p>
    <p *ngIf="this.userpoint.remark">Remark: {{ this.userpoint.remark }}</p>
    <hr/>
    <app-map-overlay-button-meteogram></app-map-overlay-button-meteogram>
    <hr/>
    <app-map-overlay-button-add-to-route></app-map-overlay-button-add-to-route>
    <app-map-overlay-button-edit-waypoint></app-map-overlay-button-edit-waypoint>
    <app-map-overlay-button-remove-from-route></app-map-overlay-button-remove-from-route>
    <app-map-overlay-button-edit-userpoint></app-map-overlay-button-edit-userpoint>
</div>
