.meteo-dwd-timeline {
    align-items: flex-start;
    background: rgba(224, 224, 224, 0.9);
}

.meteo-dwd-timeline-slider-and-markings {
    align-items: stretch;
    flex-grow: 1;
}

.meteo-dwd-timeline-markings {
}

.meteo-dwd-timeline-slider-form {
}

.meteo-dwd-timeline-slider {
    width: 800px;
}

::ng-deep .mdc-slider .mdc-slider__value-indicator {
    transform: none !important;
    opacity: 0.6 !important;
    width: 90px !important;
}
