<form [formGroup]="this.meteoDwdTimelineForm">
    <div class="meteo-dwd-timeline flex-row">
        <button mat-button (click)="this.onPreviousStepClicked(); $event.preventDefault()"><i
            class="fa-solid fa-angle-left"></i>
        </button>
        <button mat-button (click)="this.onNextStepClicked(); $event.preventDefault()"><i
            class="fa-solid fa-angle-right"></i>
        </button>
        <div class="meteo-dwd-timeline-slider-and-markings">
            <mat-slider
                [min]="this.getMinStep()"
                [max]="this.getMaxStep()"
                [step]="this.getStepInterval()"
                [discrete]="true"
                [showTickMarks]="true"
                [displayWith]="formatLabel"
                aria-label="units"
                class="meteo-dwd-timeline-slider"
            >
                <input
                    matSliderThumb
                    formControlName="step"
                    (valueChange)="this.onStepSelected($event)"
                />
            </mat-slider>
            <app-meteo-dwd-timeline-markings
                [currentForecastRun]="this.currentForecastRun"
            />
        </div>
    </div>
</form>
