<div class="{{ getTimeLineClass() | async }}">
    <app-meteo-forecast-timeline
        [currentForecastRun]="this.selectedFcRun$ | async"
        [selectedStep]="this.selectedStep$ | async"
        (previousStepClicked)="this.onPreviousStepClicked()"
        (nextStepClicked)="this.onNextStepClicked()"
        (stepSelected)="this.onStepSelected($event)"
    />
    <app-meteo-forecast-model-info
        class="model-info"
        [currentForecastRun]="this.selectedFcRun$ | async"
        (changeModelClicked)="this.onChangeModelClick()"
    />
</div>
