<div [formGroup]="this.formGroup" class="coordContainer">
    <mat-form-field class="coordInput">
        <mat-label>{{ this.getCoord1Name() }}</mat-label>
        <input
            matInput
            [formControlName]="this.coord1ControlName"
            [required]="this.isRequired"
            (change)="this.onCoordChanged()"
        >
        <span matTextSuffix class="no-wrap">{{ this.getCoord1Suffix() }}</span>
    </mat-form-field>

    <mat-form-field class="coordInput">
        <mat-label>{{ this.getCoord2Name() }}</mat-label>
        <input
            matInput
            [formControlName]="this.coord2ControlName"
            [required]="this.isRequired"
            (change)="this.onCoordChanged()"
        >
        <span matTextSuffix class="no-wrap">{{ this.getCoord2Suffix() }}</span>
    </mat-form-field>
</div>
