<div class="weight-fields">
    <!-- mtow -->
    <app-weight-input
        [weight]="this.currentAircraft?.mtow"
        [defaultWeightUnit]="this.weightUnit"
        [isRequired]="true"
        (valueChanged)="this.onMtowChanged($event)"
    >MTOW</app-weight-input>
    <!-- empty aircraft weight -->
    <app-weight-input
        [weight]="this.currentAircraft?.bew"
        [defaultWeightUnit]="this.weightUnit"
        [isRequired]="true"
        (valueChanged)="this.onBewChanged($event)"
    >Empty Aircraft Weight</app-weight-input>
</div>
