<form [formGroup]="loginForm">
    <div class="main-container">
        <mat-form-field>
            <mat-label>E-Mail</mat-label>
            <input
                matInput
                #email
                type="email"
                formControlName="email"
                required
            />
            <mat-error>Not a valid email</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input
                matInput
                #password
                type="password"
                formControlName="password"
                required
            />
            <mat-error>Required</mat-error>
        </mat-form-field>
        <p fxFlexAlign="end" style="margin-right: 20px">
            <a href="#/forgotpw">I forgot my password</a>
        </p>
        <div class="buttons-container">
            <button
                mat-raised-button
                (click)="this.onLoginClick.emit([email.value, password.value, rememberMe.checked])"
                [disabled]="this.loginForm.invalid" routerLink="/map"
            >
                Log In
            </button>
            <mat-checkbox
                #rememberMe
                formControlName="rememberMe">remember me
            </mat-checkbox>
        </div>
    </div>
</form>
