<div *ngIf="this.distancePerformanceTable" class="perf-table">
    <p>Takeoff Weight: {{ this.getTakeoffWeightText() }}</p>

    <table
        mat-table
        [dataSource]="this.distancePerformanceTable.distanceValues"
    >
        <ng-container *ngFor="let column of this.displayedColumns; let colIdx = index" [matColumnDef]="column">
            <th mat-header-cell
                *matHeaderCellDef
            >
                {{ this.getTemperatureTitle(colIdx) }}
            </th>
            <td mat-cell
                *matCellDef="let element; let rowIdx = index"
                [ngClass]="{ 'header-cell': colIdx === 0 }"
            >
                {{ this.getDistanceText(rowIdx, colIdx) }}
            </td>
        </ng-container>
        <tr mat-header-row
            *matHeaderRowDef="this.displayedColumns"
            class="header-row"
        ></tr>
        <tr mat-row
            *matRowDef="let row; columns: this.displayedColumns; let even = even"
            [ngClass]="{ 'odd-row': !even }"
        ></tr>
    </table>

    <app-aircraft-performance-correction-factors
        [correctionFactors]="this.distancePerformanceTable.correctionFactors"
        [speedUnit]="this.speedUnit"
    />
</div>
<div *ngIf="!this.distancePerformanceTable" class="perf-table">
    <p>No performance data available.</p>
</div>
