@if (this.reportingsector.alt_min || this.reportingsector.alt_max) {
  <p>
    Altitude:
    {{ this.reportingsector.alt_min ? 'min. ' + this.getElevationString(this.reportingsector.alt_min) : '' }}
    @if (this.reportingsector.alt_min && this.reportingsector.alt_max) {
      <span>/</span>
    }
    {{ this.reportingsector.alt_max ? 'max. ' + this.getElevationString(this.reportingsector.alt_max) : '' }}
  </p>
}
@if (this.reportingsector.inbd_comp || this.reportingsector.outbd_comp) {
  <p>
    Compulsory: {{ this.reportingsector.inbd_comp ? 'INBD' : '' }}
    @if (this.reportingsector.inbd_comp && this.reportingsector.outbd_comp) {
      <span>&amp;</span>
    }
    {{ this.reportingsector.outbd_comp ? 'OUTBD' : '' }}
  </p>
}
