<app-aircraft-hangar-table
    class="tab-page-container"
    [aircraftList]="this.aircraftList$ | async"
    [currentAircraft]="this.currentAircraft$ | async"
    [horizontalSpeedUnit]="this.horizontalSpeedUnit$ | async"
    [consumptionUnit]="this.consumptionUnit$ | async"
    [tableState]="this.tableState$ | async"
    (aircraftCreated)="this.onCreateNewAircraft($event)"
    (selectAircraftClick)="this.onAircraftSelected($event)"
    (editAircraftClick)="this.onAircraftEdited($event)"
    (duplicateAircraftClick)="this.onAircraftDuplicated($event)"
    (deleteAircraftClick)="this.onAircraftDeleted($event)"
    (tableStateChanged)="this.onTableStateChanged($event)"
/>
