<app-aircraft-list
    class="tab-page-container"
    [aircraftList]="this.aircraftList$ | async"
    [currentAircraft]="this.currentAircraft$ | async"
    [speedUnit]="this.speedUnit$ | async"
    [consumptionUnit]="this.consumptionUnit$ | async"
    (aircraftAdded)="this.onAddAircraft($event)"
    (selectAircraftClick)="this.onAircraftSelected($event)"
    (editAircraftClick)="this.onAircraftEdited($event)"
    (duplicateAircraftClick)="this.onAircraftDuplicated($event)"
    (deleteAircraftClick)="this.onAircraftDeleted($event)"
/>
