@use '@angular/material' as mat;
@import '@angular/material';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$mat-custom1-text: #ffffff;
$mat-custom1: (
    50: #41669c,
    100: #41669c,
    200: #41669c,
    300: #003c6d,
    400: #003c6d,
    500: #003c6d,
    600: #003c6d,
    700: #001741,
    800: #001741,
    900: #001741,
    A100: #41669c,
    A200: #003c6d,
    A400: #003c6d,
    A700: #001741,
    contrast: (
        50: $mat-custom1-text,
        100: $mat-custom1-text,
        200: $mat-custom1-text,
        300: $mat-custom1-text,
        400: $mat-custom1-text,
        500: $mat-custom1-text,
        600: $mat-custom1-text,
        700: $mat-custom1-text,
        800: $mat-custom1-text,
        900: $mat-custom1-text,
        A100: $mat-custom1-text,
        A200: $mat-custom1-text,
        A400: $mat-custom1-text,
        A700: $mat-custom1-text,
    )
);

$mat-custom2-text: #eeeeee;
$mat-custom2: (
    50: #718792,
    100: #718792,
    200: #718792,
    300: #455a64,
    400: #455a64,
    500: #455a64,
    600: #455a64,
    700: #1c313a,
    800: #1c313a,
    900: #1c313a,
    A100: #718792,
    A200: #455a64,
    A400: #455a64,
    A700: #1c313a,
    contrast: (
        50: $mat-custom2-text,
        100: $mat-custom2-text,
        200: $mat-custom2-text,
        300: $mat-custom2-text,
        400: $mat-custom2-text,
        500: $mat-custom2-text,
        600: $mat-custom2-text,
        700: $mat-custom2-text,
        800: $mat-custom2-text,
        900: $mat-custom2-text,
        A100: $mat-custom2-text,
        A200: $mat-custom2-text,
        A400: $mat-custom2-text,
        A700: $mat-custom2-text,
    )
);

$mat-custom3-text: #000000;
$mat-custom3: (
    50: #c3fdff,
    100: #c3fdff,
    200: #c3fdff,
    300: #90caf9,
    400: #90caf9,
    500: #90caf9,
    600: #90caf9,
    700: #5d99c6,
    800: #5d99c6,
    900: #5d99c6,
    A100: #c3fdff,
    A200: #90caf9,
    A400: #90caf9,
    A700: #5d99c6,
    contrast: (
        50: $mat-custom3-text,
        100: $mat-custom3-text,
        200: $mat-custom3-text,
        300: $mat-custom3-text,
        400: $mat-custom3-text,
        500: $mat-custom3-text,
        600: $mat-custom3-text,
        700: $mat-custom3-text,
        800: $mat-custom3-text,
        900: $mat-custom3-text,
        A100: $mat-custom3-text,
        A200: $mat-custom3-text,
        A400: $mat-custom3-text,
        A700: $mat-custom3-text,
    )
);


$mat-custom4-text: #ffffff;
$mat-custom4: (
    50: #a4a4a4,
    100: #a4a4a4,
    200: #a4a4a4,
    300: #757575,
    400: #757575,
    500: #757575,
    600: #757575,
    700: #494949,
    800: #494949,
    900: #494949,
    A100: #a4a4a4,
    A200: #757575,
    A400: #757575,
    A700: #494949,
    contrast: (
        50: $mat-custom4-text,
        100: $mat-custom4-text,
        200: $mat-custom4-text,
        300: $mat-custom4-text,
        400: $mat-custom4-text,
        500: $mat-custom4-text,
        600: $mat-custom4-text,
        700: $mat-custom4-text,
        800: $mat-custom4-text,
        900: $mat-custom4-text,
        A100: $mat-custom4-text,
        A200: $mat-custom4-text,
        A400: $mat-custom4-text,
        A700: $mat-custom4-text,
    )
);

// https://github.com/angular/components/blob/main/src/material/core/theming/_palette.scss

//$dark-primary-text: rgba(black, 0.87);
$dark-primary-text: rgba(#666666, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

$grey-palette: (
    50: #fafafa,
    100: #f5f5f5,
    200: #eeeeee,
    300: #e0e0e0,
    400: #bdbdbd,
    500: #9e9e9e,
    600: #757575,
    700: #616161,
    800: #424242,
    900: #212121,
    A100: #ffffff,
    A200: #eeeeee,
    A400: #bdbdbd,
    A700: #616161,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $dark-primary-text,
        500: $dark-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $dark-primary-text,
        A700: $light-primary-text,
    )
);

$blue-grey-palette: (
    50: #eceff1,
    100: #cfd8dc,
    200: #b0bec5,
    300: #90a4ae,
    400: #78909c,
    500: #607d8b,
    600: #546e7a,
    700: #455a64,
    800: #37474f,
    900: #263238,
    A100: #cfd8dc,
    A200: #b0bec5,
    A400: #78909c,
    A700: #455a64,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $dark-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $dark-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$candy-app-primary: mat.define-palette(mat.$indigo-palette);
//$candy-app-accent: mat.define-palette(mat.$blue-gray-palette);

//$navplan-app-primary: mat.define-palette($mat-custom1, 500, 100, 900);
//$navplan-app-accent: mat.define-palette($mat-custom2, A200, A100, A700);
$navplan-app-primary: mat.define-palette(mat.$blue-grey-palette, 50, 600, 50);
$navplan-app-accent: mat.define-palette($blue-grey-palette, 600, 400, 800);

// The warn palette is optional (defaults to red).
$navplan-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$navplan-app-theme: mat.define-light-theme((
    color: (
        primary: $navplan-app-primary,
        accent: $navplan-app-accent,
        warn: $navplan-app-warn,
    )
));

$navplan-app-theme-dense: mat.define-light-theme((
    color: (
        primary: $navplan-app-primary,
        accent: $navplan-app-accent,
        warn: $navplan-app-warn,
    ),
    density: -3
));


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($navplan-app-theme-dense);
@include mat.button-theme($navplan-app-theme);
@include mat.icon-theme($navplan-app-theme);
@include mat.tabs-theme($navplan-app-theme);
