html, body {
    height: 100%;
    margin: 0;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

iframe {
    border: 0;
}

.content-container,
.content-container-topspacing {
    width: 100%;
    max-width: 1000px;
    margin: auto; /* center content */
    padding-left: 20px;
    padding-right: 20px;
}

.content-container-topspacing {
    margin-top: 30px;
}

.clickable {
    cursor: pointer;
}


/* region FLEXBOX */

.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.mat-mdc-form-field {
    flex: auto;
    margin-right: 20px;
}

.inline-button {
    flex: none;
    margin-right: 10px !important;
}

/* endregion */


/* region FORMS */

// vertically center text in mat input element
input.mat-mdc-input-element {
    line-height: 24px !important;
}


// hide arrows in number input field
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// hide arrows in number input field
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.error-hint {
    color: red;
    font-size: 12px;
}

/* endregion */


/* region TABLE */

th.mat-mdc-header-cell,
td.mat-mdc-cell {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

/* endregion */


/* region BUTTONS */

.mat-mdc-fab.mat-mapbutton-primary,
.mat-mdc-mini-fab.mat-mapbutton-primary,
.ol-attribution button,
.ol-full-screen button {
    color: white;
    background-color: rgba(84, 110, 122, 0.7);
}

.mat-mdc-fab.mat-mapbutton-primary:hover,
.mat-mdc-mini-fab.mat-mapbutton-primary:hover {
    color: rgba(51, 51, 51, 0.7);;
}


.mat-mdc-fab.mat-mapbutton-status-ok,
.mat-mdc-mini-fab.mat-mapbutton-status-ok {
    color: white;
    background-color: rgba(0, 128, 0, 0.8);
}

.mat-mdc-fab.mat-mapbutton-status-warn,
.mat-mdc-mini-fab.mat-mapbutton-status-warn {
    color: white;
    background-color: rgba(255, 165, 0, 0.8);
}

.mat-mdc-fab.mat-mapbutton-status-error,
.mat-mdc-mini-fab.mat-mapbutton-status-error {
    color: white;
    background-color: rgba(255, 0, 0, 0.8);
}

/* endregion */


/* region SNACKBAR */

.success-snack-bar {
    color: white;
    /*background-color: #455a64;*/
}

.error-snack-bar {
    color: white;
    background-color: #d50000
}

.mat-mdc-snack-bar-action {
    color: white !important;
}

/* endregion */


/* region OPENLAYERS */

.ol-overlay-container {
    width: 100%;
}

.ol-popup {
    position: absolute;
    user-select: text;
    /*background-color: rgba(39, 43, 48, 0.9);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #000000;*/
    bottom: 12px;
    left: -50px;
    min-width: 300px;
    max-width: 95%;
    /*max-height: 95%;*/
    /*opacity: 0.9;*/
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:before {
    /* border-top-color: rgba(39, 43, 48, 0.8);*/
    /*border-top-color: #3A3F44;*/
    border-top-color: white;
    border-width: 11px;
    left: 50px;
    margin-left: -11px;
}

.ol-popup:after {
    /*border-top-color: rgba(39, 43, 48, 0.9);*/
    /*border-top-color: #3A3F44;*/
    border-top-color: white;
    border-width: 10px;
    left: 50px;
    margin-left: -10px;
}

/* endregion */
