html, body {
    height: 100%;
    margin: 0;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

iframe {
    border: 0;
}

.single-page-container,
.tabs-container {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: auto; /* center content */
    padding-right: 20px;
    padding-left: 20px;
}

.tab-page-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    margin: auto; /* center content */
    margin-top: 20px;
}

.no-entry-line {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 20px;
}

.clickable {
    cursor: pointer;
}


/* region COLORS */

$navplan-color-blue: #41669c;
$navplan-color-green: green;
$navplan-color-orange: darkorange;
$navplan-color-red: #cc0000;
$navplan-color-gray: gray;
$navplan-color-disabled-bg: darkgray;

/* endregion */


/* region media sizes */

$navplan-media-s: 600px;
$navplan-media-sm: 650px;
$navplan-media-m: 800px;
$navplan-media-l: 1280px;

/* endregion */


/* region FLEXBOX */

.flex-row, .flex-row-100 {
    display: flex;
    flex-direction: row;
}

.flex-row-100 {
    width: 100%;
}

.flex-gap-20 {
    gap: 20px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.mat-mdc-form-field {
    flex: auto;
    //margin-right: 20px;
}

.inline-button {
    flex: none;
    margin-right: 10px !important;
}

.float-right {
    float: right;
}

/* endregion */


/* region TABS */

@media (max-width: $navplan-media-s) {
    .mdc-tab {
        min-width: 32px !important;
        padding: 0 20px !important;
    }
}

/* endregion */


/* region BUTTONS / SLIDER */

@media (max-width: $navplan-media-m) {
    .mdc-button {
        min-width: 48px !important;
    }
}

.mdc-switch__icon {
    opacity: 0 !important; // remove icon from slider toggle
}

/* endregion */


/* region FORMS */

// vertically center text in mat input element
input.mat-mdc-input-element {
    line-height: 24px !important;
}


// hide up/down arrows in number input field
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// hide up/down arrows in number input field
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.input-disabled {
    pointer-events: none;
    color: rgba(0, 0, 0, 0.38);
}

/* endregion */


/* region TABLE */

.mat-mdc-table,
table[mat-table] {
    border: 1px solid #dbe3f0;
}

th.mat-mdc-header-cell,
td.mat-mdc-cell {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

tr.header-row,
tr.odd-row {
    background-color: rgb(249, 249, 249);
}

tr.header-row,
tr.bold-row {
    font-weight: 500;
}

td.bold-cell,
td.header-cell {
    font-weight: 500;
}

tr.selected-row {
    background-color: #dbe3f0;
}

tr.selected-row > .mat-mdc-cell {
    //color: white;
}


/* endregion */


/* region SNACKBAR */

.success-snack-bar.mat-mdc-snack-bar-container {
    .mdc-snackbar__surface {
        background: $navplan-color-blue;

        .mat-mdc-button {
            color: white !important;
        }
    }

    .mat-mdc-snack-bar-label.mdc-snackbar__label {
        color: white;
        font-weight: 500;
        white-space: pre-wrap
    }
}


.error-snack-bar.mat-mdc-snack-bar-container {
    .mdc-snackbar__surface {
        background: darkred;

        .mat-mdc-button {
            color: white !important;
        }
    }

    .mat-mdc-snack-bar-label.mdc-snackbar__label {
        color: white;
        font-weight: 500;
        white-space: pre-wrap
    }
}

/* endregion */


/* region OPENLAYERS */

.ol-overlay-container {
    width: 100%;
}

.ol-popup {
    position: absolute;
    user-select: text;
    /*background-color: rgba(39, 43, 48, 0.9);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #000000;*/
    bottom: 12px;
    left: -50px;
    min-width: 300px;
    max-width: 95%;
    /*max-height: 95%;*/
    /*opacity: 0.9;*/
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:before {
    /* border-top-color: rgba(39, 43, 48, 0.8);*/
    /*border-top-color: #3A3F44;*/
    border-top-color: white;
    border-width: 11px;
    left: 50px;
    margin-left: -11px;
}

.ol-popup:after {
    /*border-top-color: rgba(39, 43, 48, 0.9);*/
    /*border-top-color: #3A3F44;*/
    border-top-color: white;
    border-width: 10px;
    left: 50px;
    margin-left: -10px;
}

/* endregion */
