<div #container class="ol-popup">
  @if (this.traffic) {
    <mat-card appearance="outlined">
      <mat-card-header>
        <img mat-card-avatar src="{{ this.getAvatarUrl() }}" />
        <mat-card-title>
          {{ this.getTitle() }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ this.getType() }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        @if (this.traffic.registration) {
          <p>Registration: {{ this.traffic.registration }}</p>
        }
        @if (this.traffic.callsign && !this.traffic.isCallsignEqualsRegistration()) {
          <p>Callsign: {{ this.getCallsign() }}</p>
        }
        @if (this.traffic.model) {
          <p>Model: {{ this.traffic.model }}</p>
        }
        <p>Address: {{ this.traffic.address.value }} ({{ this.getAddressType() }})</p>
        <p>Reveicer: {{ this.getReceiver() }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button
          (click)="this.onFollowSelectedTraffic()">
          <i class="fa-solid fa-crosshairs"></i>
        </button>&nbsp;Follow Aircraft on Map
      </mat-card-actions>
    </mat-card>
  }
</div>
