.ol-popup-airport {
    /*max-width: 75vw;*/
}

.airport-card {
    /*padding-bottom: 0;*/
}

/deep/ .mat-tab-label {
    min-width: 0!important;
}

.mat-card-avatar {
    border-radius: initial;
}


.imgA {
    position: absolute;
    z-index: 1;
}
.imgB {
    position: absolute;
    z-index: 3;
}
