<div #container class="ol-popup">
    <mat-card *ngIf="this.airport" class="airport-card">
        <mat-card-header>
            <div mat-card-avatar>
                <img mat-card-avatar class="imgA" src="{{ this.getAvatarUrl() }}" />
                <img mat-card-avatar
                     *ngIf="this.airport.hasRunways"
                     class="imgB"
                     src="{{ this.getRwyUrl() }}"
                     [ngStyle]="{'transform' : 'rotate(' + this.getRwyRotDeg() + 'deg)'}" />
            </div>
            <mat-card-title>
                {{ this.getTitle() }}
            </mat-card-title>
            <mat-card-subtitle>
                {{ this.getAirportTypeString() }}
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mat-tab-group [color]="accent" [backgroundColor]="primary" headerPosition="below">
                <!-- info tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fas fa-info"></i>
                    </ng-template>
                    <!--<p>Type: {{ this.getAirportTypeString() }}</p>-->
                    <p>{{ this.getPositionString(this.airport.position) }}</p>
                    <p>Elevation: {{ this.getElevationString(this.airport.elevation_m) }}</p>
                    <!-- TODO: webcams -->
                </mat-tab>

                <!-- runway tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fas fa-road"></i>
                    </ng-template>
                    <app-ol-overlay-airport-runway-tab [airport]="this.airport"></app-ol-overlay-airport-runway-tab>
                </mat-tab>

                <!-- radio tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fas fa-broadcast-tower"></i>
                    </ng-template>
                    <app-ol-overlay-airport-radio-tab [airport]="this.airport"></app-ol-overlay-airport-radio-tab>
                </mat-tab>

                <!-- meteo tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fas fa-cloud"></i>
                    </ng-template>
                    <app-ol-overlay-airport-meteo-tab [airport]="this.airport"></app-ol-overlay-airport-meteo-tab>
                </mat-tab>

                <!-- notam tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fas fa-exclamation-triangle"></i>
                    </ng-template>
                    <app-ol-overlay-airport-notam-tab [airport]="this.airport"></app-ol-overlay-airport-notam-tab>
                </mat-tab>

                <!-- charts tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fas fa-map"></i>
                    </ng-template>
                    <app-ol-overlay-airport-chart-tab [airport]="this.airport"></app-ol-overlay-airport-chart-tab>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <app-ol-overlay-button-add-to-route
                    [waypoint]="this.waypoint"
                    [flightroute]="this.flightroute$ | async"
                    (onInsertWaypointAt)="this.onInsertWaypointAt($event)">
            </app-ol-overlay-button-add-to-route>
            <app-ol-overlay-button-edit-waypoint></app-ol-overlay-button-edit-waypoint>
            <app-ol-overlay-button-remove-from-route
                    [waypoint]="this.waypoint"
                    (onDeleteWaypoint)="this.onDeleteWaypoint($event)">
            </app-ol-overlay-button-remove-from-route>
        </mat-card-actions>

    </mat-card>
</div>
