<tr [ngClass]="this.getRowClass()">
<td>{{ this.wp.freq }}</td>
    <td>{{ this.wp.callsign }}</td>
    <td>{{ this.wp.checkpoint }}</td>
    <td><span *ngIf="this.wp.alt.isaltatlegstart">&#8739;</span><span [ngStyle]="this.getAltStyle()">{{ this.wp.alt.alt_ft }}</span>
    </td>
    <td>{{ this.wp.mtText }}</td>
    <td>{{ this.wp.distText }}</td>
    <td>{{ this.wp.eetText }}</td>
    <td>{{ this.wp.remark }}</td>
    <td>
        <button appIconButton
                title="Edit Waypoint"
                [iconClass]="'fas fa-edit'"
                [color]="ButtonColor.ORANGE"
                [size]="ButtonSize.SMALL"
                data-toggle="modal"
                data-target="#selectedWaypointDialog2"
                (click)="this.onEditWaypointClicked.emit(this.wp)"></button>
        <button appIconButton
                title="Remove Waypoint"
                [iconClass]="'fas fa-trash'"
                [color]="ButtonColor.RED"
                [size]="ButtonSize.SMALL"
                (click)="this.onRemoveWaypointClicked.emit(this.wp)"></button>
    </td>
</tr>
<tr *ngIf="this.wp.supp_info" class="">
    <td class="text-right text-info">
        <small><i class="fas fa-info-circle" aria-hidden="true"></i></small>
    </td>
    <td colspan="8" ngClass=""><em>{{ this.wp.supp_info }}</em></td>
</tr>
