<app-form-dialog
    title="Edit Track"
    [isFormValid]="this.isFormValid()"
    saveButtonText="Save"
    cancelButtonText="Cancel"
    [showDeleteButton]="false"
    (saveClicked)="this.onSaveClicked()"
    (cancelClicked)="this.onCancelClicked()"
>
    <form [formGroup]="this.editForm">
        <div class="form-content">
            <!-- name -->
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input
                    matInput
                    formControlName="name"
                    type="text"
                    required
                />
            </mat-form-field>
        </div>
    </form>
</app-form-dialog>
