<div class="notam-container">
    <app-route-picker-container
        labelText="Route:"
        [showIcon]="true"
        [showRouteName]="true"
    />
    @if ((this.locationNotams$ | async)?.length > 0) {
        <app-route-distance-input
            [length]="this.maxRadius$ | async"
            [defaultLengthUnit]="this.distanceUnit$ | async"
            [isRequired]="true"
            [minValue]="1"
            [maxValue]="150"
            (valueChanged)="this.onMaxRadiusChanged($event)"
            class="max-radius-field"
        >Max. distance from route</app-route-distance-input>
        <app-location-notams-list
            [locationNotams]="this.locationNotams$ | async"
        />
    } @else {
        <div class="no-entry-line">
            <i>Please choose a route!</i>
        </div>
    }
</div>
