table.mat-mdc-table {
    width: 100%;
}

.mat-mdc-row:nth-child(even), .mat-mdc-header-cell {
    background-color: rgb(249, 249, 249);
}

.mat-mdc-row:nth-child(odd) {
    background-color: white;
}

.chart-container {
    /*overflow-y: hidden;*/
    display: flex;
    flex-direction: column;
}

.add-chart-button {
    margin: 10px 0;
}
