<div *ngIf="this.reportingpoint">
    <h5 class="card-title">{{ this.reportingpoint.name }} ({{ this.reportingpoint.airport_icao }})</h5>
    <p>{{ this.getPositionString() }}</p>
    <p *ngIf="this.reportingpoint.min_ft || this.reportingpoint.max_ft">
        Altitude:
        {{ this.reportingpoint.min_ft ? 'min. ' + this.reportingpoint.min_ft + 'ft' : '' }}
        <span *ngIf="this.reportingpoint.min_ft && this.reportingpoint.max_ft">/</span>
        {{ this.reportingpoint.max_ft ? 'max. ' + this.reportingpoint.max_ft + 'ft' : '' }}
    </p>
    <p *ngIf="this.reportingpoint.inbd_comp || this.reportingpoint.outbd_comp">
        Compulsory: {{ this.reportingpoint.inbd_comp ? 'INBD' : '' }}
        <span *ngIf="this.reportingpoint.inbd_comp && this.reportingpoint.outbd_comp">&amp;</span>
        {{ this.reportingpoint.outbd_comp ? 'OUTBD' : '' }}
    </p>
</div>
