<div #container class="ol-popup">
    <mat-card *ngIf="this.reportingpoint">
        <mat-card-header>
            <img mat-card-avatar src="{{ this.getAvatarUrl() }}" />
            <mat-card-title>
                {{ this.reportingpoint.name }} ({{ this.reportingpoint.airport_icao }})
            </mat-card-title>
            <mat-card-subtitle>
                Reporting Point
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{ this.getPositionString(this.reportingpoint.position) }}</p>
            <!--<p>VAR: {{ this.getVariationString(this.reportingpoint.position) }}</p>-->
            <p *ngIf="this.reportingpoint.alt_min || this.reportingpoint.alt_max.ft">
                Altitude:
                {{ this.reportingpoint.alt_min ? 'min. ' + this.reportingpoint.alt_min.ft + 'ft' : '' }}
                <span *ngIf="this.reportingpoint.alt_min && this.reportingpoint.alt_max">/</span>
                {{ this.reportingpoint.alt_max ? 'max. ' + this.reportingpoint.alt_max.ft + 'ft' : '' }}
            </p>
            <p *ngIf="this.reportingpoint.inbd_comp || this.reportingpoint.outbd_comp">
                Compulsory: {{ this.reportingpoint.inbd_comp ? 'INBD' : '' }}
                <span *ngIf="this.reportingpoint.inbd_comp && this.reportingpoint.outbd_comp">&amp;</span>
                {{ this.reportingpoint.outbd_comp ? 'OUTBD' : '' }}
            </p>
        </mat-card-content>
        <app-ol-overlay-button-list [waypoint]="this.waypoint"></app-ol-overlay-button-list>
    </mat-card>
</div>
