<div *ngIf="this.traffic">
    <h5 class="card-title">{{ this.traffic.registration }}</h5>
    <table cellspacing="2">
        <tr>
            <td>Callsign:</td>
            <td>{{ this.traffic.callsign }}</td>
        </tr>
        <tr>
            <td>Model:</td>
            <td>{{ this.traffic.aircraftModelType }}</td>
        </tr>
        <tr>
            <td>Address:</td>
            <td>{{ this.traffic.acaddress }} ({{ this.getAddressType() }})</td>
        </tr>
        <tr>
            <td>Receiver:</td>
            <td>{{ this.getReceiver() }}</td>
        </tr>
    </table>
    <hr/>
    <p>
        <button
                appIconButton
                [iconClass]="'fas fa-crosshairs'"
                [size]="ButtonSize.SMALL"
                [color]="ButtonColor.BLUE"
                (click)="onFollowSelectedTraffic()"></button>&nbsp;Follow Aircraft on Map
    </p>
</div>
