<div id="map-overlay-traffic-container" class="ol-popup card text-white bg-primary mb-3"
     style="visibility: hidden">
    <div *ngIf="this.traffic">
        <div class="card-header">
            {{ this.getTitle() }}
            <app-map-overlay-button-close (click)="this.closeOverlay()"></app-map-overlay-button-close>
        </div>
        <div class="card-body">
            <p>Type: {{ this.getType() }}</p>
            <p *ngIf="this.traffic.registration">Registration: {{ this.traffic.registration }}</p>
            <p *ngIf="this.traffic.callsign && !this.traffic.isCallsignEqualsRegistration()">Callsign: {{ this.getCallsign() }}</p>
            <p *ngIf="this.traffic.aircraftModelType">Model: {{ this.traffic.aircraftModelType }}</p>
            <p>Address: {{ this.traffic.acaddress }} ({{ this.getAddressType() }})</p>
            <p>Reveicer: {{ this.getReceiver() }}</p>
            <hr/>
            <p>
                <button
                        appIconButton
                        [color]="ButtonColor.BLUE"
                        [size]="ButtonSize.SMALL"
                        [iconClass]="'fas fa-crosshairs'"
                        (click)="this.onFollowSelectedTraffic()"></button>&nbsp;Follow Aircraft on Map
            </p>
        </div>
    </div>
</div>
