.weather-layer-button-div {
    width: 120px;
}

.weather-button {
    margin-bottom: 10px;
}

.button-selected {
    background-color: rgba(224, 224, 224, 0.9);
    /*color: white;*/
}

.button-not-selected {
    background-color: rgba(128, 128, 128, 0.9);
    /*color: white;*/
}
