<div *ngIf="this.weightItems" class="wnb-table">
    <table
        mat-table
        [dataSource]="this.weightItems"
    >
        <!-- item icon column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef class="header-cell">&nbsp;</th>
            <td mat-cell *matCellDef="let entry"><i class="{{ this.getWeightItemTypeIcon(entry.type) }}"></i></td>
        </ng-container>

        <!-- item name column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="header-cell">Item</th>
            <td mat-cell *matCellDef="let entry">{{ entry.name }}</td>
        </ng-container>

        <!-- arm column -->
        <ng-container matColumnDef="arm">
            <th mat-header-cell *matHeaderCellDef class="header-cell">Arm</th>
            <td mat-cell *matCellDef="let entry">{{ this.getArmText(entry.arm) }}</td>
        </ng-container>

        <!-- edit / delete icons column -->
        <ng-container matColumnDef="icons">
            <th mat-header-cell *matHeaderCellDef>&nbsp;</th>
            <td mat-cell *matCellDef="let entry" class="button-cell">
                <app-icon-button
                    [color]="ButtonColor.RED"
                    tooltipText="Remove Waypoint"
                    tooltipPosition="above"
                    (buttonClicked)="this.onDeleteWeightItemClick(entry)"
                >
                    <i class="fa-solid fa-trash"></i>
                </app-icon-button>
            </td>
        </ng-container>


        <!-- row definition -->
        <tr mat-header-row
            *matHeaderRowDef="this.displayedColumns"
            class="header-row"
        ></tr>
        <tr mat-row
            *matRowDef="let entry; columns: this.displayedColumns; let even = even"
            [ngClass]="{ 'odd-row': !even }"
            class="clickable"
            (click)="this.onEditWeightItemClick(entry)"
        ></tr>
    </table>
</div>

<div *ngIf="!this.weightItems" class="wnb-table">
    <p>No weight items configured.</p>
</div>
