<div #container class="ol-popup">
    <mat-card *ngIf="this.airport" class="airport-card">
        <mat-card-header>
            <div mat-card-avatar>
                <img mat-card-avatar class="imgA" src="{{ this.getAvatarUrl() }}" />
                <img mat-card-avatar
                     *ngIf="this.airport.hasRunways"
                     class="imgB"
                     src="{{ this.getRwyUrl() }}"
                     [ngStyle]="{'transform' : 'rotate(' + this.getRwyRotDeg() + 'deg)'}" />
            </div>
            <mat-card-title>
                {{ this.getTitle() }}
            </mat-card-title>
            <mat-card-subtitle>
                {{ this.getAirportTypeString() }}
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <mat-tab-group headerPosition="below" [selectedIndex]="this.selectedTabIndex">
                <!-- info tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fas fa-info"></i>
                    </ng-template>
                    <p>{{ this.getPositionString(this.airport.position) }}</p>
                    <p>VAR: {{ this.getVariationString(this.airport.position) }}</p>
                    <p>Elevation [ft]: {{ this.getElevationString(this.airport.elevation.ft) }}</p>
                    <!-- TODO: webcams -->
                </mat-tab>

                <!-- runway tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fas fa-road"></i>
                    </ng-template>
                    <app-ol-overlay-airport-runway-tab [airport]="this.airport"></app-ol-overlay-airport-runway-tab>
                </mat-tab>

                <!-- radio tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fas fa-broadcast-tower"></i>
                    </ng-template>
                    <app-ol-overlay-airport-radio-tab [airport]="this.airport"></app-ol-overlay-airport-radio-tab>
                </mat-tab>

                <!-- meteo tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fas fa-cloud"></i>
                    </ng-template>
                    <app-ol-overlay-airport-metar-taf-tab [metarTaf]="this.metarTaf"></app-ol-overlay-airport-metar-taf-tab>
                    <p>&nbsp;</p>
                    <app-ol-overlay-airport-meteo-tab [airport]="this.airport"></app-ol-overlay-airport-meteo-tab>
                </mat-tab>

                <!-- notam tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fas fa-exclamation-triangle"></i>
                    </ng-template>
                    <app-ol-overlay-airport-notam-tab [airport]="this.airport"></app-ol-overlay-airport-notam-tab>
                </mat-tab>

                <!-- charts tab -->
                <mat-tab>
                    <ng-template mat-tab-label>
                        <i class="fas fa-map"></i>
                    </ng-template>
                    <app-ol-overlay-airport-chart-tab [airport]="this.airport"></app-ol-overlay-airport-chart-tab>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
        <app-ol-overlay-button-list [waypoint]="this.waypoint"></app-ol-overlay-button-list>
    </mat-card>
</div>
