.wnb-container {
    display: flex;
    flex-direction: column;
}

.weight-fields {
    display: flex;
    flex-direction: column;
}

.add-envelope-button {
    margin-top: 20px;
    text-align: right;
}
