<app-map-overlay-position [position]="this.reportingpoint.position"></app-map-overlay-position>
@if (this.reportingpoint.alt_min || this.reportingpoint.alt_max) {
  <p>
    Altitude:
    {{ this.reportingpoint.alt_min ? 'min. ' + this.getElevationString(this.reportingpoint.alt_min) : '' }}
    @if (this.reportingpoint.alt_min && this.reportingpoint.alt_max) {
      <span>/</span>
    }
    {{ this.reportingpoint.alt_max ? 'max. ' + this.getElevationString(this.reportingpoint.alt_max) : '' }}
  </p>
}
@if (this.reportingpoint.inbd_comp || this.reportingpoint.outbd_comp) {
  <p>
    Compulsory: {{ this.reportingpoint.inbd_comp ? 'INBD' : '' }}
    @if (this.reportingpoint.inbd_comp && this.reportingpoint.outbd_comp) {
      <span>&amp;</span>
    }
    {{ this.reportingpoint.outbd_comp ? 'OUTBD' : '' }}
  </p>
}
