.aircraft-list-container {
    margin-top: 20px;
}

table {
    width: 100%;
}

/*.mat-mdc-form-field {
    width: 100%;
}*/

.button-cell {
    display: flex;
    flex-direction: row;
    justify-content: end;
}
