<p>
  map-overlay-button-meteogram works!
</p>
<!-- TODO: meteogram -->
<!--<p><a href="#"
      ng-click="$event.preventDefault(); onShowWeather(globalData.selectedWp.userWaypoint.latitude, globalData.selectedWp.userWaypoint.longitude, globalData.selectedWp.userWaypoint.name);"
      class="btn btn-info btn-circle"><i class="fa fa-cloud" aria-hidden="true"></i></a> Meteogram</p>



<p><a href="#"
      ng-click="$event.preventDefault(); onShowWeather(globalData.selectedWp.airport.latitude, globalData.selectedWp.airport.longitude, globalData.selectedWp.airport.icao ? globalData.selectedWp.airport.icao : globalData.selectedWp.airport.name);"
      class="btn btn-info btn-circle"><i class="fa fa-cloud" aria-hidden="true"></i></a> Meteogram</p>

-->