<div class="upload-chart-container">
    <mat-stepper
        #stepper
        [linear]="true"
    >
        <mat-step [stepControl]="this.step1FormGroup" label="Upload Chart">
            <form [formGroup]="this.step1FormGroup" class="step-form">
                <app-chart-upload-step1
                    [selectedChartFile]="this.selectedFile$ | async"
                    [pdfParameters]="this.pdfParameters$ | async"
                    [isUploading]="this.isUploading$ | async"
                    [uploadedChartInfo]="this.uploadedChartInfo$ | async"
                    (fileSelected)="this.onFileSelected($event)"
                    (fileUploaded)="this.onFileUploaded($event)"
                />
                <div class="buttons">
                    <button mat-button (click)="this.onCancelClicked()">Cancel</button>
                    <button mat-button matStepperNext [disabled]="this.step1FormGroup.invalid">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="this.step2FormGroup" label="Chart Reference">
            <form [formGroup]="this.step2FormGroup">
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext [disabled]="this.step2FormGroup.invalid">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Map Reference</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>
