<div class="upload-chart-container">
    <mat-stepper
        #stepper
        [linear]="true"
    >
        <mat-step [stepControl]="this.step1FormGroup" label="Upload Chart">
            <form [formGroup]="this.step1FormGroup" class="step-form">
                <app-chart-upload-step1
                    [selectedChartFile]="this.selectedFile$ | async"
                    [pdfParameters]="this.pdfParameters$ | async"
                    [isUploading]="this.isUploading$ | async"
                    [selectedAirport]="this.selectedAirport$ | async"
                    [uploadedChartInfo]="this.uploadedChartInfo$ | async"
                    (fileSelected)="this.onFileSelected($event)"
                    (fileUploaded)="this.onFileUploaded($event)"
                />
                <div class="buttons">
                    <button mat-button (click)="this.onCancelClicked()">Cancel</button>
                    <button mat-button matStepperNext [disabled]="this.step1FormGroup.invalid">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="this.step2FormGroup" label="Chart Reference">
            <form [formGroup]="this.step2FormGroup" class="step-form">
                <app-chart-upload-step2
                    [selectedAirport]="this.selectedAirport$ | async"
                    [uploadedChartInfo]="this.uploadedChartInfo$ | async"
                    [chartRegistrationType]="this.chartRegistrationType$ | async"
                    [selectedRefPoint1]="this.chartReference1$ | async"
                    [selectedRefPoint2]="this.chartReference2$ | async"
                    [chartScale]="this.chartScale$ | async"
                    (chartRegistrationTypeChanged)="this.onChartRegistrationTypeChanged($event)"
                    (reference1Selected)="this.onChartReference1Selected($event)"
                    (reference2Selected)="this.onChartReference2Selected($event)"
                    (scaleChanged)="this.onChartScaleChanged($event)"
                />
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext [disabled]="this.step2FormGroup.invalid">Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Map Reference</ng-template>
            <form [formGroup]="this.step3FormGroup" class="step-form">
                <app-chart-upload-step3
                    [selectedAirport]="this.selectedAirport$ | async"
                    [uploadedChartInfo]="this.uploadedChartInfo$ | async"
                    [chartRegistrationType]="this.chartRegistrationType$ | async"
                    [chartRefPoint1]="this.chartReference1$ | async"
                    [chartRefPoint2]="this.chartReference2$ | async"
                    [geoCoordinateType]="this.geoCoordinateType$ | async"
                    [mapRefPoint1]="this.mapReference1$ | async"
                    [mapRefPoint2]="this.mapReference2$ | async"
                    (chartRegistrationTypeChanged)="this.onChartRegistrationTypeChanged($event)"
                    (geoCoordinateTypeChanged)="this.onGeoCoordinateTypeChanged($event)"
                    (mapRefPoint1Selected)="this.onMapReference1Selected($event)"
                    (mapRefPoint2Selected)="this.onMapReference2Selected($event)"
                />
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext [disabled]="this.step3FormGroup.invalid" (click)="onSaveClicked()">Save</button>
                </div>
            </form>
        </mat-step>
    </mat-stepper>
</div>
