<form class="fuel-form">
    <!-- fuel consumption -->
    <div class="fuel-consumption-line">
        <mat-form-field [class]="this.useAircraftConsumptionValue ? 'input-disabled' : ''">
            <mat-label>Fuel Consumption</mat-label>
            <input
                matInput
                #consumption
                type="number"
                size="3"
                required
                min="1"
                max="999"
                [formControl]="this.consumptionInput"
                (input)="this.consumptionInput.valid ? this.onAircraftConsumptionChange(consumption.value) : {}"
                [value]="this.getAircaftConsumptionString()"
            >
            <span matTextSuffix>{{ Consumption.getUnitString(this.consumptionUnit) }}</span>
            <mat-error>Value must be a positive number between 1 and 999!</mat-error>
        </mat-form-field>
        <app-toggle-manual-aircraft
            class="manual-aircraft-toggle"
            [selectedAircraft]="this.selectedAircraft"
            [useAircraft]="this.useAircraftConsumptionValue"
            (useAircraftValueChanged)="this.onUseAircraftConsumptionChanged($event)"
        />
    </div>
</form>
