@use '../../../../../../../node_modules/@angular/material/index' as mat;

.fuel-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fuel-consumption-line {
    display: inline-flex;
    align-items: baseline;
}
