<div class="modal fade" id="selectedWaypointDialog" tabindex="-1" role="dialog" aria-labelledby="selectedWaypointModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectedWaypointModalLabel">Edit Waypoint</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <form [formGroup]="editWpForm">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="editWpCheckpoint">Checkpoint:</label>
                        <input type="text" class="form-control form-control-md" id="editWpCheckpoint" formControlName="checkpoint" maxlength="30" />
                    </div>
                    <div class="form-group">
                        <label for="editWpFrequency">Frequency:</label>
                        <input type="text" class="form-control form-control-md" id="editWpFrequency" formControlName="freq" maxlength="7" />
                    </div>
                    <div class="form-group">
                        <label for="editWpCallsign">Callsign:</label>
                        <input type="text" class="form-control form-control-md" id="editWpCallsign" formControlName="callsign" maxlength="10" />
                    </div>
                    <div class="form-group">
                        <label for="editWpAltitude">Altitude:</label>
                        <div class="form-inline">
                            <div class="input-group">
                                <input type="text" class="form-control form-control-md" id="editWpAltitude" formControlName="alt" maxlength="5" min="0" max="99999" />
                                <!--<div class="invalid-feedback" [ngClass]="getBsValidClass('alt')">Value must be a positive number!</div>-->
                                <div class="input-group-append">
                                    <div class="btn-group"><!-- removed data-toggle="buttons" -->
                                        <button appTextButton
                                                [buttonText]="'min'"
                                                [size]="ButtonSize.MEDIUM"
                                                [color]="ButtonColor.GRAY"
                                                formControlName="isminalt"
                                                [isToggle]="true"></button>
                                        <button appTextButton
                                                [buttonText]="'max'"
                                                [size]="ButtonSize.MEDIUM"
                                                [color]="ButtonColor.GRAY"
                                                formControlName="ismaxalt"
                                                [isToggle]="true"></button>
                                    </div>
                                </div>
                            </div>
                            @
                            <div class="btn-group"><!-- removed data-toggle="buttons" -->
                                <button #isaltatlegstart
                                        appTextButton
                                        [buttonText]="'leg start'"
                                        [size]="ButtonSize.MEDIUM"
                                        [color]="ButtonColor.GRAY"
                                        formControlName="isaltatlegstart"
                                        (click)="this.onSetIsAltAtLegStartClicked(true)"></button>
                                <button appTextButton
                                        [buttonText]="'leg end'"
                                        [size]="ButtonSize.MEDIUM"
                                        [color]="ButtonColor.GRAY"
                                        [isToggle]="true"
                                        formControlName="isaltatlegend"
                                        (click)="this.onSetIsAltAtLegStartClicked(false)"></button>
                            </div>
                        </div>
                    </div>
                    <!-- TODO: debug values -->
                    <!--<div>
                        {{ this.editWpForm.value | json }}
                    </div>-->
                    <div class="form-group">
                        <label for="editWpRemarks">Remarks:</label>
                        <input type="text" class="form-control form-control-md" id="editWpRemarks" formControlName="remark" maxlength="50"/>
                    </div>
                    <div class="form-group">
                        <label for="editWpSuppInfo">Supplemental Info (separate line):</label>
                        <div class="input-group">
                            <input type="text" class="form-control form-control-md" id="editWpSuppInfo" formControlName="supp_info" maxlength="255"/>
                            <div class="input-group-append">
                                <button class="btn btn-md btn-secondary" type="button" (click)="onDeleteSuppInfoClicked()" title="delete supplemental info"><span class="fas fa-eraser" aria-hidden="true"></span></button>
                            </div>
                        </div>
                        <!--<input type="text" class="form-control form-control-md" id="editWpSuppInfo" ng-model="globalData.selectedWp.supp_info" maxlength="255" />-->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-md btn-primary" data-dismiss="modal" (click)="this.onSaveClicked()" [disabled]="this.editWpForm.invalid">Save</button>
                    <button type="button" class="btn btn-md btn-secondary" data-dismiss="modal" (click)="this.onCancelClicked()" >Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
