.meteo-fc-timeline {
    height: 50px;
    background: rgba(224, 224, 224, 0.9);
    align-items: center;
}

.meteo-fc-buttons {
}

.meteo-fc-timeline-slider-and-markings {
    position: relative;
    align-self: baseline;
    align-items: stretch;
    flex-grow: 1;
}

.meteo-fc-timeline-markings {
    position: absolute;
    left: 10px;
    right: 0;
}

.meteo-fc-timeline-slider-form {
}

.meteo-fc-timeline-slider {
    position: absolute;
    left: 0;
    right: -10px;
}

::ng-deep .mdc-slider .mdc-slider__value-indicator {
    transform: none !important;
    opacity: 0.6 !important;
    width: 90px !important;
}

