<div class="wnb-container">
    <app-aircraft-picker-container
        labelText="Aircraft:"
        [showRegistration]="true"
    />
    @if (this.currentAircraft$ | async) {
        <app-plan-wnb-table
            [vehicleType]="this.vehicleType$ | async"
            [weightItems]="this.weightItems$ | async"
            [routeFuel]="this.routeFuel$ | async"
            [lengthUnit]="this.lengthUnit$ | async"
            [weightUnit]="this.weightUnit$ | async"
            [volumeUnit]="this.volumeUnit$ | async"
            (weightItemChanged)="this.onWeightItemChanged($event)"
        />
    }
    @for (envelope of this.envelopes$ | async; track envelope) {
        <div>
            {{ envelope.name }}
            <app-aircraft-wnb-envelope-chart
                [envelope]="envelope"
                [zeroFuelWnbCoordinate]="this.zeroFuelCoordinateLong$ | async"
                [takeoffWnbCoordinate]="this.takeoffCoordinateLong$ | async"
                [weightUnit]="this.weightUnit$ | async"
                [lengthUnit]="this.lengthUnit$ | async"
                [isEditable]="false"
            />
        </div>
    }
</div>
