.performance-container {
    margin: 10px;
    width: calc(100% - 20px);
    height: 300px;
    /*border-style: solid;
    border-width: 2px;
    border-color: #455a64;
    background: lightblue;*/ /* For browsers that do not support gradients */
    /*background: linear-gradient(#00CCFF, lightblue);*/ /* Standard syntax */
}
