@use '../../../../../../node_modules/@angular/material/index' as mat;

.wnb-table-container {
    margin-left: 10px;
    margin-right: 10px;
}

.button-cell {
    text-align: right;
}

.no-entry-cell {
    text-align: center;
}

.form-field {
    width: 80px;
    margin-top: 10px;
    margin-bottom: -0.75em;
    @include mat.form-field-density(-5);
}
