@use "styles" as *;


.main-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.mat-toolbar.mat-primary,
.mat-toolbar.mat-accent {
    position: sticky;
    top: 0;
    height: 54px;
}

.logo {
    height: 32px;
    width: 32px;
    rotate: 45deg;
    vertical-align: middle;
}

.mat-toolbar h1 {
    font-weight: normal;
    font-size: 20px;
}

.mat-toolbar a {
    text-decoration: none;
}

.button-active {
    background: rgba(84, 110, 122, 0.15);
}

.menu-buttons-left-lg {
    display: flex;
    gap: 15px;
    flex-grow: 1;
}

.export-menu-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu-buttons-right-lg {
    display: flex;
    justify-content: flex-end;
}

.menu-buttons-sm {
    display: flex;
    flex-grow: 1;
}

.open-vertical-menu-button {
    justify-content: flex-start;
}

@media (max-width: $navplan-media-sm - 1px) {
    .menu-buttons-left-lg {
        display: none;
    }

    .menu-buttons-right-lg {
        display: none;
    }
}

@media (min-width: $navplan-media-sm) {
    .menu-buttons-sm {
        display: none;
    }

    .open-vertical-menu-button {
        display: none;
    }
}

@media (max-width: $navplan-media-l) {
    .button-text {
        display: none;
    }

    .menu-buttons-left-lg {
        gap: 0;
    }
}
