.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    height: 54px;
}

.mat-toolbar h1 {
    font-weight: normal;
}

.logo {
    height: 32px;
    width:  32px;
    rotate: 45deg;
    vertical-align: middle;
}
