<mat-toolbar color="accent" class="main-container mat-elevation-z6">
    <!-- logo & title-->
    <span><a href="/"><img src="../../../../../assets/icon/traffic_plane.svg" class="logo" alt=""/></a></span>
    <span><a mat-button href="/"><h1>NAVPLAN.CH</h1></a></span>

    <!-- menu for large screens -->
    <div class="menu-buttons-left-lg">
        <button mat-button routerLink="./map" routerLinkActive="button-active" title="Map"><i class="fa-solid fa-map"></i><span class="button-text">&nbsp;&nbsp;Map</span></button>
        <button mat-button routerLink="./aircraft/hangar" routerLinkActive="button-active" title="Aircraft"><i class="fa-solid fa-plane-up"></i><span class="button-text">&nbsp;&nbsp;Aircraft</span></button>
        <button mat-button routerLink="./plan/route" routerLinkActive="button-active" title="Flight Preparation"><i class="fa-solid fa-list-check"></i><span class="button-text">&nbsp;&nbsp;Plan</span></button>
        <button mat-button *ngIf="this.currentUser" routerLink="./tracks" routerLinkActive="button-active" title="Recorded Tracks"><i class="fa-solid fa-paw"></i><span class="button-text">&nbsp;&nbsp;Tracks</span></button>
        <button mat-button id="btn_export" [mat-menu-trigger-for]="navplanExport" title="Export / Share"><i class="fa-solid fa-share"></i><span class="button-text">&nbsp;&nbsp;Export</span></button>
        <mat-menu #navplanExport="matMenu">
            <div class="export-menu-button">
                <button mat-button id="btn_export_pdf" (click)="this.onExportPdfClick.emit()"><i class="fa-regular fa-file-pdf"></i>&nbsp;&nbsp;PDF</button>
                <button mat-button id="btn_export_excel" (click)="this.onExportExcelClick.emit()"><i class="fa-regular fa-file-excel"></i>&nbsp;&nbsp;Excel</button>
                <button mat-button id="btn_export_kml" (click)="this.onExportKmlClick.emit()"><i class="fa-solid fa-globe"></i>&nbsp;&nbsp;KML (Google Earth)</button>
                <button mat-button id="btn_export_gpx" (click)="this.onExportGpxClick.emit()"><i class="fa-solid fa-map-marker-alt"></i>&nbsp;&nbsp;GPX (Airnav Pro, SkyDemon, etc.)</button>
                <button mat-button id="btn_export_fpl" (click)="this.onExportFplClick.emit()"><i class="fa-solid fa-map-marker-alt"></i>&nbsp;&nbsp;FPL (Garmin, Foreflight, etc.)</button>
            </div>
        </mat-menu>
        <button mat-button title="Clear current Route and Track" (click)="this.onClearClick.emit()"><i class="fa-solid fa-eraser"></i><span class="button-text">&nbsp;&nbsp;Clear</span></button>
    </div>

    <!-- right part of menu -->
    <div class="menu-buttons-right-lg">
        <button mat-button *ngIf="this.currentUser; else noCurrentUser" [matMenuTriggerFor]="userMenu" title="User Profile"><i class="fa-solid fa-user"></i><span class="button-text">&nbsp;&nbsp;{{ this.currentUser.email }}</span></button>
        <ng-template #noCurrentUser>
            <button mat-button routerLink="./login" title="Login / Register"><span><i class="fa-solid fa-user"></i></span></button>
        </ng-template>
        <button mat-button routerLink="./settings" routerLinkActive="button-active" title="Edit Settings"><i class="fa-solid fa-cog"></i></button>
        <button mat-button routerLink="./about" routerLinkActive="button-active" title="About"><i class="fa-solid fa-info-circle"></i></button>
    </div>

    <!-- menu button for small screens -->
    <div class="menu-buttons-sm">
    </div>
    <div class="open-vertical-menu-button">
        <button mat-button [matMenuTriggerFor]="verticalMenu"><h1><i class="fa-solid fa-bars"></i></h1></button>
    </div>

</mat-toolbar>

<!-- vertical menu for small screens -->
<mat-menu #verticalMenu="matMenu">
    <button mat-menu-item routerLink="./map" title="Map"><i class="fa-solid fa-map"></i>&nbsp;&nbsp;Map</button>
    <button mat-menu-item routerLink="./aircraft/hangar" title="Aircraft"><i class="fa-solid fa-plane-up"></i>&nbsp;&nbsp;Aircraft</button>
    <button mat-menu-item routerLink="./plan/route" title="Flight Preparation"><i class="fa-solid fa-tasks"></i>&nbsp;&nbsp;Plan</button>
    <button mat-menu-item *ngIf="this.currentUser" routerLink="./tracks" title="Recorded Tracks"><i class="fa-solid fa-paw"></i>&nbsp;&nbsp;Tracks</button>
    <button mat-menu-item routerLink="./map" title="Clear current Route and Track"><i class="fa-solid fa-eraser"></i>&nbsp;&nbsp;Clear</button>
    <button mat-menu-item [mat-menu-trigger-for]="navplanExportSm" title="Export"><i class="fa-solid fa-share"></i>&nbsp;&nbsp;Export</button>
    <mat-menu #navplanExportSm="matMenu">
        <div class="export-menu-button">
            <button mat-button (click)="this.onExportPdfClick.emit()"><i class="fa-regular fa-file-pdf"></i>&nbsp;&nbsp;PDF</button>
            <button mat-button (click)="this.onExportExcelClick.emit()"><i class="fa-regular fa-file-excel"></i>&nbsp;&nbsp;Excel</button>
            <button mat-button (click)="this.onExportKmlClick.emit()"><i class="fa-solid fa-globe"></i>&nbsp;&nbsp;KML (Google Earth)</button>
            <button mat-button (click)="this.onExportGpxClick.emit()"><i class="fa-solid fa-map-marker-alt"></i>&nbsp;&nbsp;GPX (Airnav Pro, SkyDemon, etc.)</button>
            <button mat-button (click)="this.onExportFplClick.emit()"><i class="fa-solid fa-map-marker-alt"></i>&nbsp;&nbsp;FPL (Garmin, Foreflight, etc.)</button>
        </div>
    </mat-menu>
    <button mat-menu-item *ngIf="this.currentUser; else noCurrentUserSmall" [matMenuTriggerFor]="userMenu" title="User Profile"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;{{ this.currentUser.email }}</button>
    <ng-template #noCurrentUserSmall><button mat-menu-item routerLink="./login" title="Login or Register"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;Log In</button></ng-template>
    <button mat-menu-item routerLink="./settings" title="Edit Settings"><i class="fa-solid fa-cog"></i>&nbsp;&nbsp;Settings</button>
    <button mat-menu-item routerLink="./about" title="About"><i class="fa-solid fa-info-circle"></i>&nbsp;&nbsp;About</button>
</mat-menu>

<mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="./userprofile">User Profile</button>
    <button mat-menu-item (click)="this.onLogoffClick.emit()">Log Out</button>
</mat-menu>
