<div class="map-overlay-button form-inline" *ngIf="(this.selectedWaypoint$ | async) && (this.selectedWaypointIsNew$ | async)">
    <button appIconButton
            [color]="ButtonColor.GREEN"
            [size]="ButtonSize.SMALL"
            [iconClass]="'fas fa-plus'"
            (click)="this.onAddSelectedWaypointClicked()"></button>&nbsp;Add to Route
    &nbsp;
    <select *ngIf="(this.flightrouteWaypoints$ | async).length > 0" class="form-control-sm" [ngModel]="this.addAfterIndex">
        <option value="0">at the start</option>
        <!--<option *ngFor="let wp of this.currentFlightroute.waypoints; index as idx" value="{{ idx + 1 }}">after {{ wp.checkpoint }}-->
        <option *ngFor="let wp of (this.flightrouteWaypoints$ | async); index as idx" value="{{ idx + 1 }}">after {{ wp.checkpoint }}
        </option>
        <option value="{{ (this.flightrouteWaypoints$ | async).length  + 1 }}">at the end</option>
    </select>
</div>
