@use '@angular/material' as mat;

.button-load {
    background-color: green;
    color: white;
}

.button-save {
    background-color: #41669c;
    color: white;
}

.button-copy {
    background-color: #41669c;
    color: white;
}

.button-load:disabled,
.button-save:disabled,
.button-copy:disabled {
    background-color: gray;
    color: white;
}
