@use '@angular/material' as mat;

.button-load {
    background-color: green;
    color: white;
}

.button-save {
    background-color: #41669c;
    color: white;
}

.button-copy {
    background-color: #41669c;
    color: white;
}
