<button mat-mini-fab (click)="this.onAddSelectedWaypointClicked()" [ngStyle]="{'margin-bottom.px': 0}">
    <i class="fas fa-plus"></i>
</button>&nbsp;
<mat-form-field class="form-field" appearance="outline" style="margin-bottom: -10px;" color="accent">
    <mat-select [(value)]="this.addAfterIndex" placeholder="Add to Route">
        <mat-option value="0">
            at the start
        </mat-option>
        <mat-option *ngFor="let wp of this.flightroute.waypoints; index as idx" value="{{ idx + 1 }}">
            after {{ wp.checkpoint }}
        </mat-option>
        <mat-option *ngIf="this.flightroute.waypoints.length > 0" value="{{ this.flightroute.waypoints.length  + 1 }}">
            at the end
        </mat-option>
    </mat-select>
</mat-form-field>
