<form class="correction-factors-form" [formGroup]="this.correctionFactorsForm">
    <div class="correction-factors-form-content">
        <div>
            <!-- runway selector -->
            <mat-form-field class="input-field">
                <mat-label>RWY</mat-label>
                <mat-select
                    formControlName="runway"
                    required
                    [value]="this.runwayFactors.runway"
                    (selectionChange)="this.onRunwayChanged()"
                >
                    @for (rwy of this.runways; track rwy) {
                        <mat-option
                            [value]="rwy"
                        >
                            {{ this.getRwyText(rwy) }}
                        </mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <!-- Grass RWY -->
            &nbsp;
            <mat-checkbox
                aria-labelledby="grass-rwy-checkbox-label"
                color="primary"
                formControlName="grassRwy"
                labelPosition="after"
                (change)="this.onGrassRwyChanged()"
            />
            <label id="grass-rwy-checkbox-label">Grass</label>

            <!-- Wet RWY -->
            &nbsp;
            <mat-checkbox
                aria-labelledby="wet-rwy-checkbox-label"
                color="primary"
                formControlName="wetRwy"
                labelPosition="before"
                (change)="this.onWetRwyChanged()"
            />
            <label id="wet-rwy-checkbox-label">Wet</label>
        </div>

        <!-- RWY Wind -->
        <div>
            <app-horizontal-speed-input
                class="input-field"
                [speed]="this.rwyWindSpeed"
                [defaultSpeedUnit]="this.speedUnit"
                [isRequired]="true"
                [minValue]="0"
                [maxValue]="999"
                (speedChanged)="this.onRwyWindSpeedChanged($event)"
            >RWY Wind</app-horizontal-speed-input>

            &nbsp;
            <mat-radio-group
                color="primary"
                formControlName="rwyWindDir"
                (change)="this.onRwyWindDirChanged()"
            >
                <mat-radio-button [value]="true">headwind</mat-radio-button>
                <mat-radio-button [value]="false">tailwind</mat-radio-button>
            </mat-radio-group>
        </div>

        <!-- touchdown point -->
        @if (this.isLanding) {
            <div>
                <mat-form-field class="input-field">
                    <mat-label>Touchdown after THR</mat-label>
                    <input
                        matInput
                        formControlName="touchdown"
                        type="number"
                        min="0"
                        (change)="this.onTouchdownChanged()"
                    >
                    <span matTextSuffix>{{ Length.getUnitString(this.rwyDistUnit) }}</span>
                    <mat-error>Value must be a positive number!</mat-error>
                </mat-form-field>

                <!-- use 50ft above threshold -->
                &nbsp;
                <mat-checkbox
                    aria-labelledby="use-50ft-above-threshold-checkbox-label"
                    color="primary"
                    formControlName="use50ftAboveThreshold"
                    labelPosition="after"
                    (change)="this.onUse50FtAboveThresholdChanged()"
                />
                <label id="use-50ft-above-threshold-checkbox-label">50ft above Threshold</label>
            </div>
        }

        <!-- Reserve -->
        <mat-form-field class="input-field">
            <mat-label>Reserve</mat-label>
            <input
                matInput
                formControlName="reserve"
                type="number"
                required
                min="0"
                max="999"
                (change)="this.onReserveChanged()"
            >
            <span matTextSuffix>%</span>
            <mat-error>Value must be a number between 0 and 999!</mat-error>
        </mat-form-field>
    </div>
</form>
