<app-form-dialog
    title="Create New Aircraft"
    [isFormValid]="this.isFormValid()"
    saveButtonText="Create"
    cancelButtonText="Cancel"
    [showDeleteButton]="false"
    (saveClicked)="this.onSaveClicked()"
    (cancelClicked)="this.onCancelClicked()"
>
    <form [formGroup]="createForm">
        <div class="form-content">

            <!-- vehicle type -->
            <mat-radio-group
                color="primary"
                formControlName="vehicleType"
            >
                <mat-radio-button [value]="VehicleType.AIRPLANE">Airplane</mat-radio-button>
                <mat-radio-button [value]="VehicleType.HELICOPTER">Helicopter</mat-radio-button>
            </mat-radio-group>

            <!-- registration -->
            <mat-form-field>
                <mat-label>Registration</mat-label>
                <input
                    matInput
                    formControlName="registration"
                    type="text"
                    required
                />
            </mat-form-field>

            <!-- aircraft type -->
            <app-aircraft-type-designator-autocomplete
                labelText="ICAO Type Designator"
                [initialValue]="null"
                [(icaoType)]="this.aircraftIcaoType"
                [(isValid)]="this.isAircraftIcaoTypeValid"
            />

            <!-- speed -->
            <app-horizontal-speed-input
                [speed]="this.cruiseSpeed"
                [defaultSpeedUnit]="this.data.speedUnit"
                [useFullWidth]="true"
                (valueChanged)="this.onCruiseSpeedChanged($event)"
            >Cruise Speed</app-horizontal-speed-input>

            <!-- fuel consumption -->
            <app-consumption-input
                [consumption]="this.cruiseFuel"
                [defaultConsumptionUnit]="this.data.consumptionUnit"
                [isRequired]="true"
                [useFullWidth]="true"
                (valueChanged)="this.onCruiseFuelChanged($event)"
            >Cruise Fuel Consumption</app-consumption-input>

            <!-- fuel type -->
            <mat-form-field>
                <mat-label>Fuel Type</mat-label>
                <mat-select
                    formControlName="fuelType"
                >
                    <mat-option [value]="FuelType.MOGAS">MOGAS</mat-option>
                    <mat-option [value]="FuelType.AVGAS">AVGAS</mat-option>
                    <mat-option [value]="FuelType.JET">JET</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </form>
</app-form-dialog>
