.notam-title {
    font-weight: 500;
    margin-top: 5px;
}
.notam-validity {
    float: right;
    font-style: italic;
    margin-top: 4px;
}
.notam-text {
    margin: 8px;
}
.info-icon {
    color: rgb(122, 122, 122);
    font-size: inherit;
    height: inherit;
}
.no-notams-message {
    padding: 20px;
    text-align: center;
    color: rgb(122, 122, 122);
    font-style: italic;
}
