@if (this.notams && this.notams.length > 0) {
    <table mat-table [dataSource]="this.notams">
        @if (this.tableHeaderText) {
            <ng-container matColumnDef="header">
                <th mat-header-cell *matHeaderCellDef>
                    {{ this.tableHeaderText }}
                </th>
            </ng-container>
        }
        <ng-container matColumnDef="fullNotam">
            <td mat-cell *matCellDef="let notam">
                <div class="notam-validity">
                    {{ this.getNotamValidity(notam) }}
                    <mat-icon class="info-icon" title="LT = Browser Time">info_outlined</mat-icon>
                </div>
                <div class="notam-title">
                    {{ this.getNotamTitle(notam) }}
                </div>
                <div class="notam-text" [innerHtml]="this.getNotamText(notam)"></div>
            </td>
        </ng-container>

        @if (this.tableHeaderText) {
            <tr mat-header-row *matHeaderRowDef="['header']" class="header-row"></tr>
        }
        <tr mat-row *matRowDef="let row; let even = even; columns: this.getNotamColumns();" [ngClass]="{ 'odd-row': !even }"></tr>
    </table>
} @else {
    <div class="no-notams-message">
        No NOTAMs found
    </div>
}
