<div class="perf-container">
    <!-- TODO: route picker -->
    <app-aircraft-picker-container
        labelText="Aircraft:"
        [showRegistration]="true"
    />
    <!-- takeoff performance -->
    <app-plan-perf-airport
        [airportPerfState]="this.getDepartureAdPerfState$ | async"
        [isDepartureAirport]="true"
        [isAlternate]="false"
        [pressureUnit]="this.pressureUnit$ | async"
        [temperatureUnit]="this.temperatureUnit$ | async"
        [altitudeUnit]="this.altitudeUnit$ | async"
        [performanceDistanceUnit]="this.performanceDistanceUnit$ | async"
        [speedUnit]="this.speedUnit$ | async"
        (runwayChanged)="this.onDepartureRunwayChanged($event)"
        (weatherFactorsChanged)="this.onDepartureWeatherFactorsChanged($event)"
        (runwayFactorsChanged)="this.onDepartureRunwayFactorsChanged($event)"
    />
    <!-- landing performance -->
    <app-plan-perf-airport
        [airportPerfState]="this.getDestinationAdPerfState$ | async"
        [isDepartureAirport]="false"
        [isAlternate]="false"
        [pressureUnit]="this.pressureUnit$ | async"
        [temperatureUnit]="this.temperatureUnit$ | async"
        [altitudeUnit]="this.altitudeUnit$ | async"
        [performanceDistanceUnit]="this.performanceDistanceUnit$ | async"
        [speedUnit]="this.speedUnit$ | async"
        (runwayChanged)="this.onDestinationRunwayChanged($event)"
        (weatherFactorsChanged)="this.onDestinationWeatherFactorsChanged($event)"
        (runwayFactorsChanged)="this.onDestinationRunwayFactorsChanged($event)"
    />
    <!-- alt landing performance -->
    <app-plan-perf-airport
        [airportPerfState]="this.getAlternateAdPerfState$ | async"
        [isDepartureAirport]="false"
        [isAlternate]="true"
        [pressureUnit]="this.pressureUnit$ | async"
        [temperatureUnit]="this.temperatureUnit$ | async"
        [altitudeUnit]="this.altitudeUnit$ | async"
        [performanceDistanceUnit]="this.performanceDistanceUnit$ | async"
        [speedUnit]="this.speedUnit$ | async"
        (runwayChanged)="this.onAlternateRunwayChanged($event)"
        (weatherFactorsChanged)="this.onAlternateWeatherFactorsChanged($event)"
        (runwayFactorsChanged)="this.onAlternateRunwayFactorsChanged($event)"
    />
</div>
