<div class="perf-container">
    <!-- TODO: route picker -->
    <app-aircraft-picker-container
        labelText="Aircraft:"
        [showRegistration]="true"
    />
    <!-- airport performance list -->
    @for (adPerfState of this.getAirportPerfStates$ | async; track $index) {
        <app-plan-perf-airport
            [airportPerfState]="adPerfState"
            [pressureUnit]="this.pressureUnit$ | async"
            [temperatureUnit]="this.temperatureUnit$ | async"
            [altitudeUnit]="this.altitudeUnit$ | async"
            [performanceDistanceUnit]="this.performanceDistanceUnit$ | async"
            [speedUnit]="this.speedUnit$ | async"
            (runwayChanged)="this.onRunwayChanged($index, $event)"
            (weatherFactorsChanged)="this.onWeatherFactorsChanged($index, $event)"
            (runwayFactorsChanged)="this.onRunwayFactorsChanged($index, $event)"
        />
    }
</div>
