.flightroute-form {
    width: 100%;
    min-width: 200px;
    max-width: 800px;
}

.route-comments {
    flex: 2;
}

.route-fuel {
    flex: 1;
}

/*
.button-load {
    background-color: green;
    color: white;
}

.button-delete {
    background-color: #cc0000;
    color: white;
}

.button-save {
    background-color: cornflowerblue;
    color: white;
}

.button-copy {
    background-color: cornflowerblue;
    color: white;
}
*/