<form class="flightroute-form" [formGroup]="flightrouteForm">
    <!-- load/delete route -->
    <div *ngIf="this.currentUser" class="flex-row">
        <mat-form-field>
            <mat-select
                    #routeListEntry
                    placeholder="Saved Routes">
                <mat-option [value]="-1">--- Select ---</mat-option>
                <mat-option
                        *ngFor="let flightrouteListEntry of this.flightrouteList"
                        [value]="flightrouteListEntry.id">
                    {{ flightrouteListEntry.title }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-mini-fab
                color="accent"
                class="inline-button button-load"
                matTooltip="Load Route"
                matTooltipPosition="above"
                [disabled]="!(routeListEntry?.value > 0)"
                (click)="this.onLoadFlightrouteClicked.emit(routeListEntry.value)">
            <i class="fas fa-upload"></i>
        </button>
        <button mat-mini-fab
                color="accent"
                class="inline-button button-delete"
                matTooltip="Delete Route"
                matTooltipPosition="above"
                [disabled]="!(routeListEntry.value > 0)"
                (click)="this.onDeleteFlightrouteClicked.emit(routeListEntry.value)">
            <i class="fas fa-trash"></i>
        </button>
    </div>
    <!-- save/copy route -->
    <div class="flex-row">
        <mat-form-field>
            <input matInput
                   #routeName
                   type="text"
                   placeholder="Route Name"
                   maxlength="50" formControlName="flightrouteName"
                   (input)="this.onUpdateRouteName.emit(routeName.value)"
            />
        </mat-form-field>
        <button mat-mini-fab
                color="accent"
                class="inline-button button-save"
                matTooltip="Save Route (login required)"
                [disabled]="!this.currentUser || !(routeName.value && routeName.value.length > 0)"
                (click)="onSaveFlightrouteClicked.emit()">
            <i class="fas fa-download"></i>
        </button>
        <button mat-mini-fab
                color="accent"
                class="inline-button button-copy"
                matTooltip="Save Copy of Route"
                [disabled]="!this.currentUser || !(routeName.value && routeName.value.length > 0) || !(this._flightroute && this._flightroute.id > 0)"
                (click)="onSaveFlightrouteCopyClicked.emit()">
            <i class="fas fa-copy"></i>
        </button>
    </div>
    <div class="flex-row">
        <!-- aircraft speed -->
        <mat-form-field>
            <input matInput
                   #aircraftSpeed
                   type="number"
                   formControlName="aircraftSpeed"
                   placeholder="Ground Speed"
                   maxlength="3"
                   size="3"
                   (input)="this.onUpdateAircraftSpeed.emit(aircraftSpeed.value)"
            />
            <span matSuffix>kt</span>
        </mat-form-field>
        <!-- aircraft consumption -->
        <mat-form-field>
            <input matInput
                   #aircraftConsumption
                   type="number"
                   formControlName="aircraftConsumption"
                   placeholder="Fuel Consumption"
                   maxlength="3"
                   size="3"
                   (input)="this.onUpdateAircraftConsumption.emit(aircraftConsumption.value)"
            />
            <span matSuffix>l/h</span>
        </mat-form-field>
    </div>
    <!-- waypoint list -->
    <app-waypoint-list
            [flightroute]="this._flightroute"
            (onEditWaypointClicked)="this.onEditWaypointClicked.emit($event)"
            (onRemoveWaypointClicked)="this.onRemoveWaypointClicked.emit($event)"
            (onReverseWaypointsClicked)="this.onReverseWaypointsClicked.emit($event)">
    </app-waypoint-list>
    <!-- comments & fuel section -->
    <!--<div class="flex-row">-->
        <!-- comments -->
        <mat-form-field class="route-comments">
            <textarea matInput
                      #routeComments
                      formControlName="flightrouteComments"
                      placeholder="Comments"
                      rows="6"
                      maxlength="2048"
                      (input)="this.onUpdateRouteComments.emit(routeComments.value)">
            </textarea>
        </mat-form-field>
        <!-- fuel calculation -->
        <app-fuel-calculation
                class="route-fuel"
                [routeFuel]="this._flightroute?.fuel"
                (onInputExtraTime)="this.onUpdateExtraTime.emit($event)">
        </app-fuel-calculation>
    <!--</div>-->
</form>
