<div class="map-overlay-button">
    <button appIconButton
            [color]="ButtonColor.GREEN"
            [size]="ButtonSize.SMALL"
            [iconClass]="'fas fa-video'"
            (click)="this.onWebcamClicked()"></button>&nbsp;{{ this.webcam.name }}
</div>
<!--
            <p ng-repeat="webcam in globalData.selectedWp.airport.webcams"><a href="{{ webcam.url }}"
                                                                              target="_blank"
                                                                              class="btn btn-success btn-circle"><i
                    class="glyphicon glyphicon-facetime-video"></i></a> {{ webcam.name }}</p>
-->