@use '../../../../../../../node_modules/@angular/material/index' as mat;

.flightroute-list-container {
}

table {
    width: 100%;
}

.mat-mdc-form-field {
    width: 100%;
}


.button-cell {
    text-align: right;
}
