<div #container class="ol-popup card text-white bg-primary mb-3" style="visibility: hidden">
    <div *ngIf="this.navaid">
        <div class="card-header">
            {{ this.navaid.name }} ({{ this.navaid.kuerzel }})
            <app-map-overlay-button-close (click)="this.closeOverlay()"></app-map-overlay-button-close>
        </div>
        <div class="card-body">
            <p>Type: {{ this.navaid.type }}</p>
            <p>{{ this.getPositionString(this.navaid.position) }}</p>
            <p>Elevation: {{ this.getElevationString(this.navaid.elevation_m) }}</p>
            <p>Frequency: {{ this.navaid.frequency }} {{ this.navaid.unit }}</p>
            <p>Morse: <span [innerHtml]="this.getMorseString()"></span></p>
            <div class="text-right small">
                <em><a href="http://www.openaip.net/navaids?field_openaip_navaid_type_value_many_to_one=All&field_openaip_navaid_id_value=&field_openaip_navaid_country_value_many_to_one=All&title={{ this.navaid.name }}"
                       target="_blank">add / correct data</a>
                    <i class="fas fa-info-circle" title="openAIP login is required for editing"></i></em>
            </div>
            <hr/>
            <app-map-overlay-button-add-to-route></app-map-overlay-button-add-to-route>
            <app-map-overlay-button-edit-waypoint></app-map-overlay-button-edit-waypoint>
            <app-map-overlay-button-remove-from-route></app-map-overlay-button-remove-from-route>
        </div>
    </div>
</div>
