<div *ngIf="this.notamList && this.notamList.length > 0">
    <div class="table-notam">
        <table classXXX="table table-striped table-condensed">
            <tr *ngFor="let notam of this.notamList">
                <td>
                    <h5 class="card-title">{{ this.getNotamTitle(notam) }}</h5>
                    <small><i>{{ this.getNotamValidity(notam) }}</i></small>
                    <br />
                    <span [innerHtml]="this.getNotamText(notam)"></span>
                </td>
            </tr>
        </table>
    </div>
</div>
