<div id="notam-popup" class="ol-popup ol-popup-notam" style="visibility: hidden">
    <app-map-overlay-close></app-map-overlay-close>
    <div>
        <h4>NOTAM <span ng-show="selectedNotam.id">{{ selectedNotam.id }}</span><span
                ng-show="selectedNotam.airport_icao">for {{ selectedNotam.airport_icao }} (today &amp; tomorrow)</span>
        </h4>
        <div class="table-notam">
            <table class="table table-striped table-condensed">
                <tr ng-repeat="notam in selectedNotam.notams">
                    <td><span ng-bind-html="getFormatedNotamHtml(notam)"></span></td>
                </tr>
            </table>
        </div>
    </div>
</div>
