<app-auto-complete
    class="aircraft-type-designator-autocomplete"
    [initialValue]="this.getInitialAcTypeDesignator()"
    [searchResults]="this.acTypeDesignatorSearchResultItems$ | async"
    [labelText]="this.labelText"
    [isMandatory]="true"
    [showSearchIcon]="false"
    [minSearchTextLength]="2"
    (searchInputChanged)="this.onSearchInputChanged($event)"
    (searchResultsCleared)="this.onSearchResultsCleared()"
    (searchResultSelected)="this.onSearchResultSelected($event)"
    (blur)="this.onBlur()"
/>
