<div class="tab-page-container">
    <!-- aircraft picker -->
    <app-aircraft-picker-container
        *ngIf="!(this.currentAircraft$ | async)"
        labelText="Aircraft:"
        [showRegistration]="true"
    />

    <!-- details form -->
    <app-aircraft-details-form
        [currentAircraft]="this.currentAircraft$ | async"
        [speedUnit]="this.speedUnit$ | async"
        [consumptionUnit]="this.consumptionUnit$ | async"
        (onVehicleTypeChange)="this.onVehicleTypeChange($event)"
        (onRegistrationChange)="this.onRegistrationChange($event)"
        (onIcaoTypeChange)="this.onIcaoTypeChange($event)"
        (onCruiseSpeedChange)="this.onCruiseSpeedChange($event)"
        (onCruiseFuelChange)="this.onCruiseFuelChange($event)"
        (onFuelTypeChange)="this.onFuelTypeChange($event)"
        (onSaveAircraftClick)="this.onSaveAircraftDetailsClicked()"
    />
</div>
