<div class="tab-page-container">
    <!-- aircraft picker -->
    @if (!(this.currentAircraft$ | async)) {
        <app-aircraft-picker-container
            labelText="Aircraft:"
            [showIcon]="true"
            [showRegistration]="true"
        />
    }

    <!-- details form -->
    <app-aircraft-details-form
        [currentAircraft]="this.currentAircraft$ | async"
        [speedUnit]="this.speedUnit$ | async"
        [consumptionUnit]="this.consumptionUnit$ | async"
        (vehicleTypeChanged)="this.onVehicleTypeChange($event)"
        (registrationChanged)="this.onRegistrationChange($event)"
        (icaoTypeChanged)="this.onIcaoTypeChange($event)"
        (cruiseSpeedChanged)="this.onCruiseSpeedChange($event)"
        (cruiseFuelChanged)="this.onCruiseFuelChange($event)"
        (fuelTypeChanged)="this.onFuelTypeChange($event)"
        (rocSealevelChanged)="this.onRocSealevelChange($event)"
        (serviceCeilingChanged)="this.onServiceCeilingChange($event)"
        (cruiseClimbSpeedChanged)="this.onCruiseClimbSpeedChange($event)"
        (saveAircraftClicked)="this.onSaveAircraftDetailsClicked()"
    />
</div>
