<div class="tab-page-container">
    <!-- aircraft picker -->
    <app-aircraft-picker-container
        *ngIf="!(this.currentAircraft$ | async)"
        labelText="Aircraft:"
        [showRegistration]="true"
    />

    <!-- details form -->
    <app-aircraft-details-form
        [currentAircraft]="this.currentAircraft$ | async"
        [acTypeDesignatorSearchResults]="this.acTypeDesignatorSearchResults$ | async"
        [speedUnit]="this.speedUnit$ | async"
        [consumptionUnit]="this.consumptionUnit$ | async"
        (vehicleTypeChanged)="this.onVehicleTypeChange($event)"
        (registrationChanged)="this.onRegistrationChange($event)"
        (icaoTypeChanged)="this.onIcaoTypeChange($event)"
        (cruiseSpeedChanged)="this.onCruiseSpeedChange($event)"
        (cruiseFuelChanged)="this.onCruiseFuelChange($event)"
        (fuelTypeChanged)="this.onFuelTypeChange($event)"
        (acTypeDesignatorSearchInputChanged)="this.onAcTypeDesignatorSearchInputChanged($event)"
        (saveAircraftClicked)="this.onSaveAircraftDetailsClicked()"
    />
</div>
