.close {
    font-size: 1.25rem;
}

.ol-popup {
    position: absolute;
    user-select: text;
    /*background-color: rgba(39, 43, 48, 0.9);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #000000;*/
    bottom: 12px;
    left: -50px;
    min-width: 300px;
    max-width: 95%;
    opacity: 0.9;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:before {
    /*border-top-color: rgba(39, 43, 48, 0.8);*/
    border-top-color: #3A3F44;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup:after {
    /*border-top-color: rgba(39, 43, 48, 0.9);*/
    border-top-color: #3A3F44;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
