<div id="map-overlay-container" class="ol-popup card text-white bg-primary mb-3" style="visibility: hidden">
    <div class="card-header">
        {{ this.title }}
        <button type="button" class="close" (click)="closeOverlay()"><span class="fas fa-times"></span></button>
    </div>
    <div class="card-body">
        <app-map-overlay-airport></app-map-overlay-airport>
        <app-map-overlay-navaid></app-map-overlay-navaid>
        <app-map-overlay-reportingpoint></app-map-overlay-reportingpoint>
        <app-map-overlay-reportingsector></app-map-overlay-reportingsector>
        <app-map-overlay-userpoint></app-map-overlay-userpoint>
        <app-map-overlay-geoname></app-map-overlay-geoname>
        <app-map-overlay-metar-taf></app-map-overlay-metar-taf>
        <app-map-overlay-notam></app-map-overlay-notam>
        <app-map-overlay-traffic></app-map-overlay-traffic>
        <hr/>
        <app-map-overlay-button-add-to-route *ngIf="!this.currentWaypoint"></app-map-overlay-button-add-to-route>
        <app-map-overlay-button-set-alternate *ngIf="this.isAirport()"></app-map-overlay-button-set-alternate>
        <app-map-overlay-button-edit-waypoint *ngIf="this.currentWaypoint"></app-map-overlay-button-edit-waypoint>
        <app-map-overlay-button-remove-from-route *ngIf="this.currentWaypoint"></app-map-overlay-button-remove-from-route>
        <app-map-overlay-button-edit-userpoint *ngIf="this.isUserpoint()"></app-map-overlay-button-edit-userpoint>
    </div>
</div>
