.flightroute-form {
    width: 100%;
}

.route-comments {
    /*order: 2;
    flex: 2 2 70%;*/
    width: 100%;
}

.route-fuel {
    /*order: 1;
    flex: 1 1 30%;*/
}


.button-load {
    background-color: green;
    color: white;
}

.button-delete {
    background-color: #cc0000;
    color: white;
}

.button-save {
    background-color: #41669c;
    color: white;
}

.button-copy {
    background-color: #41669c;
    color: white;
}
