<div #container class="ol-popup">
    <mat-card *ngIf="this.waypoint">
        <mat-card-header>
            <!--<img mat-card-avatar src="{{ this.getAvatarUrl() }}" />-->
            <mat-card-title>
                {{ this.waypoint.checkpoint }}
            </mat-card-title>
            <mat-card-subtitle>
                Waypoint
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="card-body">
            <p>{{ this.getPositionString(this.waypoint.position) }}</p>
            <p>VAR: {{ this.getVariationString(this.waypoint.position) }}</p>
            <p *ngIf="this.waypoint.alt.alt_ft">
                Altitude:
                {{ (this.waypoint.alt.isminalt ? 'min. ' : 'max. ') + this.waypoint.alt.alt_ft + 'ft' }}
            </p>
            <!--<p *ngIf="this.userpoint.remark">Remark: {{ this.userpoint.remark }}</p>-->
        </mat-card-content>
        <app-map-overlay-waypoint-container [waypoint]="this.waypoint"></app-map-overlay-waypoint-container>
    </mat-card>
</div>
