.precip-temp-graph-container {
    width: 600px;
    height: 50px;
    max-width: calc(90vw);
    border-style: solid;
    border-top-style: none;
    border-width: 1px;
    border-color: green;
    background: whitesmoke; /* For browsers that do not support gradients */
    background: linear-gradient(lightgray, whitesmoke); /* Standard syntax */
}
