<div *ngIf="this.airport">
    <div>
        <h5>{{ this.airport.name }}<span *ngIf="this.airport.icao"> ({{ this.airport.icao }})</span></h5>
        <p>{{ this.getPositionString() }}</p>
        <p>Elevation: {{ this.getElevationString() }}</p>
        <p *ngIf="this.airport.hasRunways()">
            <button class="btn btn-link btn-sm" (click)="onToggleElementClicked('#ad_details')">Runways / Frequencies &raquo;</button>
        </p>
        <div id="ad_details" class="collapse">
            <table class="table table-striped table-condensed">
                <tr>
                    <th>Runway</th>
                    <th>Surface</th>
                    <th>Dimensions</th>
                    <th>TORA[m]</th>
                    <th>LDA[m]</th>
                    <th>PAPI</th>
                </tr>
                <tr *ngFor="let runway of this.airport.runways">
                    <td>{{ runway.name }}</td>
                    <td>{{ runway.surface }}</td>
                    <td>{{ this.getDimensionsString(runway) }}</td>
                    <td>{{ runway.tora1 ? runway.tora1 : '-' }} / {{ runway.tora2 ? runway.tora2 : '-' }}</td>
                    <td>{{ runway.lda1 ? runway.lda1 : '-' }} / {{ runway.lda2 ? runway.lda2 : '-' }}</td>
                    <td>{{ runway.papi1 ? 'y' : '-' }} / {{ runway.papi2 ? 'y' : '-' }}</td>
                </tr>
            </table>
            <table class="table table-striped table-condensed" *ngIf="this.airport.hasRadios()">
                <tr>
                    <th colspan="2">Frequency</th>
                </tr>
                <tr *ngFor="let radio of this.airport.radios">
                    <td>{{ radio.description ? radio.description : radio.type }}</td>
                    <td>{{ radio.frequency }}</td>
                </tr>
            </table>
        </div>
        <!--<p ng-show="globalData.selectedWp.airport.charts && globalData.selectedWp.airport.charts.length > 0">
            <button class="btn btn-link btn-sm" ng-click="onToggleElementClicked('#ad_charts')">Charts &raquo;</button>
        </p>
        <div id="ad_charts" class="collapse">
            <p ng-repeat="chart in globalData.selectedWp.airport.charts" ng-hide="chart.source == 'VFRMxxx'">
                <button type="button" class="btn btn-info btn-circle" ng-click="onDisplayChartClicked(chart.id)"><i class="glyphicon glyphicon-file"></i></button>
                {{ chart.type }}
                <span ng-show="chart.source == 'AVARE'"><i>&copy; by <a href="http://www.avare.ch/" target="_blank">Avare.ch</a></i></span>
                <span ng-show="chart.source == 'VFRM'"><i>&copy; by <a href="https://www.swisstopo.admin.ch/" target="_blank">swisstopo</a></i></span>
            </p>
        </div>-->
        <div class="text-right small">
            <em><a href="http://www.openaip.net/airports?apttype_type_filter=All&country_filter=All&name_filter={{ this.airport.icao ? this.airport.icao : this.airport.name }}"
                   target="_blank">add / correct data</a>
                <i class="fa fa-info-circle info-button"
                   title="openAIP login is required for editing"></i></em>
        </div>
        <hr/>
        <app-map-overlay-button-notam></app-map-overlay-button-notam>
        <app-map-overlay-button-metar-taf></app-map-overlay-button-metar-taf>
        <app-map-overlay-button-meteogram></app-map-overlay-button-meteogram>
        <app-map-overlay-button-webcam></app-map-overlay-button-webcam>
        <hr/>
        <app-map-overlay-button-add-to-route></app-map-overlay-button-add-to-route>
        <app-map-overlay-button-set-alternate></app-map-overlay-button-set-alternate>
        <app-map-overlay-button-edit-waypoint></app-map-overlay-button-edit-waypoint>
        <app-map-overlay-button-remove-from-route></app-map-overlay-button-remove-from-route>
    </div>
</div>
