@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$mat-custom1-text: #ffffff;
$mat-custom1: (
        50: #41669c,
        100: #41669c,
        200: #41669c,
        300: #003c6d,
        400: #003c6d,
        500: #003c6d,
        600: #003c6d,
        700: #001741,
        800: #001741,
        900: #001741,
        A100: #41669c,
        A200: #003c6d,
        A400: #003c6d,
        A700: #001741,
        contrast: (
                50: $mat-custom1-text,
                100: $mat-custom1-text,
                200: $mat-custom1-text,
                300: $mat-custom1-text,
                400: $mat-custom1-text,
                500: $mat-custom1-text,
                600: $mat-custom1-text,
                700: $mat-custom1-text,
                800: $mat-custom1-text,
                900: $mat-custom1-text,
                A100: $mat-custom1-text,
                A200: $mat-custom1-text,
                A400: $mat-custom1-text,
                A700: $mat-custom1-text,
        )
);

$mat-custom2-text: #eeeeee;
$mat-custom2: (
        50: #718792,
        100: #718792,
        200: #718792,
        300: #455a64,
        400: #455a64,
        500: #455a64,
        600: #455a64,
        700: #1c313a,
        800: #1c313a,
        900: #1c313a,
        A100: #718792,
        A200: #455a64,
        A400: #455a64,
        A700: #1c313a,
        contrast: (
                50: $mat-custom2-text,
                100: $mat-custom2-text,
                200: $mat-custom2-text,
                300: $mat-custom2-text,
                400: $mat-custom2-text,
                500: $mat-custom2-text,
                600: $mat-custom2-text,
                700: $mat-custom2-text,
                800: $mat-custom2-text,
                900: $mat-custom2-text,
                A100: $mat-custom2-text,
                A200: $mat-custom2-text,
                A400: $mat-custom2-text,
                A700: $mat-custom2-text,
        )
);

$mat-custom3-text: #000000;
$mat-custom3: (
        50: #c3fdff,
        100: #c3fdff,
        200: #c3fdff,
        300: #90caf9,
        400: #90caf9,
        500: #90caf9,
        600: #90caf9,
        700: #5d99c6,
        800: #5d99c6,
        900: #5d99c6,
        A100: #c3fdff,
        A200: #90caf9,
        A400: #90caf9,
        A700: #5d99c6,
        contrast: (
                50: $mat-custom3-text,
                100: $mat-custom3-text,
                200: $mat-custom3-text,
                300: $mat-custom3-text,
                400: $mat-custom3-text,
                500: $mat-custom3-text,
                600: $mat-custom3-text,
                700: $mat-custom3-text,
                800: $mat-custom3-text,
                900: $mat-custom3-text,
                A100: $mat-custom3-text,
                A200: $mat-custom3-text,
                A400: $mat-custom3-text,
                A700: $mat-custom3-text,
        )
);


$mat-custom4-text: #ffffff;
$mat-custom4: (
        50: #a4a4a4,
        100: #a4a4a4,
        200: #a4a4a4,
        300: #757575,
        400: #757575,
        500: #757575,
        600: #757575,
        700: #494949,
        800: #494949,
        900: #494949,
        A100: #a4a4a4,
        A200: #757575,
        A400: #757575,
        A700: #494949,
        contrast: (
                50: $mat-custom4-text,
                100: $mat-custom4-text,
                200: $mat-custom4-text,
                300: $mat-custom4-text,
                400: $mat-custom4-text,
                500: $mat-custom4-text,
                600: $mat-custom4-text,
                700: $mat-custom4-text,
                800: $mat-custom4-text,
                900: $mat-custom4-text,
                A100: $mat-custom4-text,
                A200: $mat-custom4-text,
                A400: $mat-custom4-text,
                A700: $mat-custom4-text,
        )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
//$candy-app-primary: mat-palette($mat-indigo);
//$candy-app-accent: mat-palette($mat-blue-gray);
$navplan-app-primary: mat-palette($mat-custom1, 500, 100, 900);
$navplan-app-accent: mat-palette($mat-custom2, A200, A100, A700);

// The warn palette is optional (defaults to red).
$navplan-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$navplan-app-theme: mat-light-theme($navplan-app-primary, $navplan-app-accent, $navplan-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($navplan-app-theme);
