html, body {
    height: 100%;
    margin: 0;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
}

iframe {
    border: 0;
}

.content-container,
.content-container-topspacing {
    width: 100%;
    max-width: 1000px;
    margin: auto; /* center content */
    padding-left: 20px;
    padding-right: 20px;
}

.content-container-topspacing {
    margin-top: 30px;
}

.clickable {
    cursor: pointer;
}


/* region: FLEXBOX */

.flex-row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.mat-form-field {
    flex: auto;
    margin-right: 20px;
}

.inline-button {
    flex: none;
    margin-right: 10px !important;
}

/* endregion */


/* region: TABLE */

th.mat-header-cell,
td.mat-cell {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

/* endregion */


/* region: BUTTONS */

button.btn-lg {
    font-size: large;
}

.mat-fab {
    height: 50px !important;
    width: 50px !important;
}

.mat-button {
    font-weight: normal;
}

.mat-button-wrapper {
    padding: 0 !important;
}

.mat-fab.mat-mapbutton-primary,
.mat-mini-fab.mat-mapbutton-primary,
.ol-attribution button,
.ol-full-screen button {
    color: white;
    background-color: rgba(84, 110, 122, 0.7);
}

.mat-fab.mat-mapbutton-status-ok,
.mat-mini-fab.mat-mapbutton-status-ok {
    color: white;
    background-color: rgba(0, 128, 0, 0.8);
}

.mat-fab.mat-mapbutton-status-warn,
.mat-mini-fab.mat-mapbutton-status-warn {
    color: white;
    background-color: rgba(255, 165, 0, 0.8);
}

.mat-fab.mat-mapbutton-status-error,
.mat-mini-fab.mat-mapbutton-status-error {
    color: white;
    background-color: rgba(255, 0, 0, 0.8);
}

/* TODO */
.map-overlay-button {
    margin-bottom: 0.3125rem;
}

/* endregion */


/* region SNACKBAR */

.success-snack-bar {
    color: white;
    /*background-color: #455a64;*/
}

.error-snack-bar {
    color: white;
    background-color: #d50000
}

.mat-simple-snackbar-action {
    color: white !important;
}

/* endregion */


/* region: OPENLAYERS */
.ol-attribution li {
    display: table;
}

.ol-attribution:not(.ol-collapsed) {
    align-items: end;
    background: rgba(255, 255, 255, 0.9)
}

.ol-attribution ul {
    color: inherit;
    text-shadow: none;
}

.ol-overlay-container {
    width: 100%;
}

.ol-popup {
    position: absolute;
    user-select: text;
    /*background-color: rgba(39, 43, 48, 0.9);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #000000;*/
    bottom: 12px;
    left: -50px;
    min-width: 300px;
    max-width: 95%;
    /*max-height: 95%;*/
    /*opacity: 0.9;*/
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:before {
    /* border-top-color: rgba(39, 43, 48, 0.8);*/
    /*border-top-color: #3A3F44;*/
    border-top-color: white;
    border-width: 11px;
    left: 50px;
    margin-left: -11px;
}

.ol-popup:after {
    /*border-top-color: rgba(39, 43, 48, 0.9);*/
    /*border-top-color: #3A3F44;*/
    border-top-color: white;
    border-width: 10px;
    left: 50px;
    margin-left: -10px;
}

/* endregion */
