html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

iframe {
    border: 0;
}

.content-container {
    padding: 20px;
}

/* region: FLEXBOX */

.flex-row {
    width: 100%;
    display: flex;
}

.mat-form-field {
    flex: auto;
    margin-right: 20px;
}

.inline-button {
    flex: none;
    margin-right: 10px !important;
}

/* endregion */


/* region: TABLE */

td.mat-cell {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

/* endregion */


/* region: BUTTONS */

button.btn-lg {
    font-size: large;
}

.mat-fab.mat-status-ok {
    background-color: green;
    color: white;
}

.mat-fab.mat-status-warn {
    background-color: orange;
    color: white;
}

.mat-fab.mat-status-error {
    background-color: red;
    color: white;
}

/* TODO */
.map-overlay-button {
    margin-bottom: 0.3125rem;
}

/* endregion */


/* region: OPENLAYERS */

.ol-attribution li {
    display: table;
}

.ol-attribution:not(.ol-collapsed) {
    background: rgba(39, 43, 48, 0.9)
}

.ol-attribution ul {
    color: inherit;
    text-shadow: none;
}

.ol-overlay-container {
    width: 100%;
}

.ol-popup {
    position: absolute;
    user-select: text;
    /*background-color: rgba(39, 43, 48, 0.9);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #000000;*/
    bottom: 12px;
    left: -50px;
    min-width: 300px;
    max-width: 95%;
    /*max-height: 95%;*/
    /*opacity: 0.9;*/
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:before {
    /* border-top-color: rgba(39, 43, 48, 0.8);*/
    /*border-top-color: #3A3F44;*/
    border-top-color: white;
    border-width: 11px;
    left: 50px;
    margin-left: -11px;
}

.ol-popup:after {
    /*border-top-color: rgba(39, 43, 48, 0.9);*/
    /*border-top-color: #3A3F44;*/
    border-top-color: white;
    border-width: 10px;
    left: 50px;
    margin-left: -10px;
}

/* endregion */
