/* COMPONENT POSITIONS */

.nonmapcontent {
    margin-top: 0.625rem;
}


hr {
    border-top: 1px solid rgba(255,255,255,0.3);
}


button[appStatusButton].btn-lg,
button[appIconButton].btn-lg {
    /* 48px */
    width: 3.0rem;
    height: 3.0rem;
    padding-left: 0;
    padding-right: 0;
}


button[appStatusButton].btn-md,
button[appIconButton].btn-md {
    /* 37px */
    width: 2.3125rem;
    height: 2.3125rem;
    padding-left: 0;
    padding-right: 0;
}


button[appStatusButton].btn-sm,
button[appIconButton].btn-sm {
    /* 29px */
    width: 1.8125rem;
    height: 1.8125rem;
    padding-left: 0;
    padding-right: 0;
}


.map-overlay-button {
    margin-bottom: 0.3125rem;
}


/* region: override of bootstrap styles */

.btn-md, .btn-group-md > .btn {
    padding: 0.375rem 0.75rem;
    /*font-size: 0.99609375rem;*/
    font-size: 1.0rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}


.btn-lg, .btn-group-lg > .btn {
    font-size: 1.0rem;
}

.btn-success.disabled,
.btn-success:disabled,
.btn-danger.disabled,
.btn-danger:disabled,
.btn-info.disabled,
.btn-info:disabled {
    color: #DDDDDD;
    cursor: not-allowed;
}


.col-form-label-md {
    padding-top: calc(0.375rem + 1px);
    padding-bottom: calc(0.375rem + 1px);
    font-size: 0.99609375rem;
    line-height: 1.5;
}

.form-control-md, .input-group-md > .form-control,
.input-group-md > .input-group-prepend > .input-group-text,
.input-group-md > .input-group-append > .input-group-text,
.input-group-md > .input-group-prepend > .btn,
.input-group-md > .input-group-append > .btn {
    padding: 0.375rem 0.75rem;
    font-size: 0.99609375rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}


select.form-control-md:not([size]):not([multiple]), .input-group-md > select.form-control:not([size]):not([multiple]),
.input-group-md > .input-group-prepend > select.input-group-text:not([size]):not([multiple]),
.input-group-md > .input-group-append > select.input-group-text:not([size]):not([multiple]),
.input-group-md > .input-group-prepend > select.btn:not([size]):not([multiple]),
.input-group-md > .input-group-append > select.btn:not([size]):not([multiple]) {
    height: calc(2.244140625rem + 2px);
}


/* endregion */


/* region: override of openlayer styles */

/* region: ol attributions */

.ol-attribution li {
    display: table;
}

.ol-attribution:not(.ol-collapsed) {
    background: rgba(39, 43, 48, 0.9)
}

.ol-attribution ul {
    color: inherit;
    text-shadow: none;
}

.ol-overlay-container {
    width: 100%;
}


.ol-popup {
    position: absolute;
    user-select: text;
    /*background-color: rgba(39, 43, 48, 0.9);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #000000;*/
    bottom: 12px;
    left: -50px;
    min-width: 300px;
    max-width: 95%;
    /*max-height: 95%;*/
    opacity: 0.9;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:before {
    /*border-top-color: rgba(39, 43, 48, 0.8);*/
    border-top-color: #3A3F44;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup:after {
    /*border-top-color: rgba(39, 43, 48, 0.9);*/
    border-top-color: #3A3F44;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

/* endregion */



/* endregion */

