<table mat-table
       class="fuel-table mat-elevation-z6"
       [dataSource]="this.fuelDataSource">

    <ng-container matColumnDef="fuelCalc">
        <th mat-header-cell *matHeaderCellDef>Fuel Calculation</th>
        <td mat-cell *matCellDef="let fuelRow">
            <span *ngIf="!fuelRow.isBlock">
                {{ fuelRow.title }}
            </span>
            <span *ngIf="fuelRow.isBlock">
                <b>{{ fuelRow.title }}</b>
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let fuelRow">
            <span *ngIf="!fuelRow.isBlock">
                {{ this.formatTime(fuelRow.time) }}
            </span>
            <span *ngIf="fuelRow.isBlock">
                <b>{{ this.formatTime(fuelRow.time) }}</b>
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="fuel">
        <th mat-header-cell *matHeaderCellDef>Fuel</th>
        <td mat-cell *matCellDef="let fuelRow">
            <span *ngIf="!fuelRow.isBlock">
                {{ this.formatFuel(fuelRow.fuel) }}
            </span>
            <span *ngIf="fuelRow.isBlock">
                <b>{{ this.formatFuel(fuelRow.fuel) }}</b>
            </span>
        </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="this.visibleColumns"
        class="header-row"
    ></tr>
    <tr mat-row
        *matRowDef="let fuelRow; let even = even; columns: this.visibleColumns"
        [ngClass]="{ 'odd-row': !even }"
    >X</tr>
</table>
