<div [formGroup]="this.aircraftSpeedFormGroup">
    <mat-form-field appearance="outline" color="accent">
        <mat-label>Ground Speed Speed</mat-label>
        <input
            matInput
            formControlName="aircraftSpeedInput"
            #aircraftSpeed
            required
            type="number"
            maxlength="3"
            size="3"
            [value]="this.getAircraftSpeedValue()"
            (input)="this.onAircraftSpeedChanged(aircraftSpeed.value)"
        />
        <span matTextSuffix>{{ Speed.getUnitString(this.speedUnit) }}</span>
        @if (this.aircraftSpeedFormGroup.invalid) {
            <mat-error>Value must be a whole positive number!</mat-error>
        }
    </mat-form-field>
</div>
