<app-navbar
    [currentUser]="this.currentUser$ | async"
    [currentAircraft]="this.currentAircraft$ | async"
    [selectedRouteTab]="this.selectedPlanTab$ | async"
    [selectedAircraftTab]="this.selectedAircraftTab$ | async"
    [selectedTrackTab]="this.selectedTrackTab$ | async"
    (onLogoffClick)="this.onLogoffClick()"
    (onExportPdfClick)="this.onExportPdfClick()"
    (onExportExcelClick)="this.onExportExcelClick()"
    (onExportKmlClick)="this.onExportKmlClick()"
    (onExportGpxClick)="this.onExportGpxClick()"
    (onExportFplClick)="this.onExportFplClick()"
    (onClearClick)="this.openClearDialog()"
/>
