<div class="main-container">
    <app-route-meteo-radius
        [routeMaxMeteoRadius]="this.maxRadius$ | async"
        [distanceUnit]="this.distanceUnit$"
        (onMaxRadiusChanged)="this.onMaxRadiusChanged($event)"
        class="max-radius-field"
    ></app-route-meteo-radius>

    <app-route-meteo-table
        [routeMetarTafList]="this.routeMetarTafs$ | async"
        [showDistance]="false"
        [noDataText]="'(empty)'"
        [distanceUnit]="this.distanceUnit$"
    ></app-route-meteo-table>
</div>
