<div class="main-container">
    <mat-form-field appearance="outline" class="max-radius-field">
        <mat-label>Max. distance from route</mat-label>
        <input matInput
               #maxRadius
               type="number"
               maxlength="3"
               size="3"
               [value]="String(this.maxRadiusValue$ | async)"
               (change)="this.onMaxRadiusChanged(Number(maxRadius.value))">
        <span matTextSuffix>{{ this.maxRadiusUnit$ | async }}</span>
    </mat-form-field>

    <app-route-meteo-table
        [routeMetarTafList]="this.routeMetarTafs$ | async"
        [showDistance]="false"
        [noDataText]="'(empty)'">
    </app-route-meteo-table>
</div>
