<app-route-list-table
    class="tab-page-container"
    [routeList]="this.flightrouteList$ | async"
    [currentFlightroute]="this.currentFlightroute$ | async"
    [speedUnit]="this.horizontalSpeedUnit$ | async"
    [consumptionUnit]="this.consumptionUnit$ | async"
    [altitudeUnit]="this.altitudeUnit$ | async"
    [tableState]="this.tableState$ | async"
    (flightrouteCreated)="this.onRouteCreated($event)"
    (selectFlightrouteClick)="this.onRouteSelected($event)"
    (editFlightrouteClick)="this.onRouteEdited($event)"
    (duplicateFlightrouteClick)="this.onRouteDuplicated($event)"
    (deleteFlightrouteClick)="this.onRouteDeleted($event)"
    (tableStateChanged)="this.onTableStateChanged($event)"
/>
