<div class="layer-selection-container">
    <!-- map bg -->
    <div class="layer-selection-section">
        <label id="mapbg-selection-radio-group-label" class="layer-selection-label">Map Background</label>
        <mat-radio-group
            (change)="this.onMapBgSelected($event)"
            aria-labelledby="mapbg-selection-radio-group-label"
            class="mapbg-selection-radio-group">
            <div>
                <mat-radio-button class="mapbg-selection-radio-button" value="OPENTOPOMAP">OpenTopoMap (default)</mat-radio-button>
            </div>
            <div>
                <mat-radio-button class="mapbg-selection-radio-button" value="SWISSTOPO_ICAO">Aeronautical Chart ICAO Switzerland (swisstopo)</mat-radio-button>
            </div>
            <div>
                <mat-radio-button class="mapbg-selection-radio-button" value="SWISSTOPO_GLIDER">Glider Chart Switzerland (swisstopo)</mat-radio-button>
            </div>
            <div>
                <mat-radio-button class="mapbg-selection-radio-button" value="SWISSTOPO_IMAGE">Aerial Images (swisstopo)</mat-radio-button>
            </div>
        </mat-radio-group>
    </div>
    <!-- map layers -->
    <div class="layer-selection-section">
        <label id="mapfg-selection-radio-group-label" class="layer-selection-label">Map Layers</label>
        <mat-checkbox>Airports / Navaids</mat-checkbox>
        <mat-checkbox>Reporting Points / Sectors</mat-checkbox>
        <mat-checkbox>AD Circuits</mat-checkbox>
        <mat-checkbox>Airspaces</mat-checkbox>
            <ul>
                <li><mat-checkbox>Cat A-G</mat-checkbox></li>
                <li><mat-checkbox>Glider</mat-checkbox></li>
                <li><mat-checkbox>P, D, X</mat-checkbox></li>
            </ul>
        <mat-checkbox>NOTAM</mat-checkbox>
        <mat-checkbox>Webcams</mat-checkbox>
    </div>
</div>
