<div *ngIf="this.distancePerformanceTable">
    <p>Takeoff Weight: {{ this.distancePerformanceTable.takeoffWeight.getValue(this.weightUnit) }}</p>

    <table mat-table [dataSource]="this.displayedValues" class="mat-table">
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
            <td mat-cell *matCellDef="let element">{{ element[displayedColumns.indexOf(column)] }}</td>
        </ng-container>
        <!-- Header Row -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <!-- Data Rows -->
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>        
    </table>
</div>
