<div *ngIf="this.distancePerformanceTable">
    <p>Takeoff Weight: {{ this.distancePerformanceTable.takeoffWeight.getValue(this.weightUnit) }}</p>

    <table mat-table [dataSource]="this.distancePerformanceTable.distanceValues" class="mat-table">
        <ng-container *ngFor="let column of this.displayedColumns; let colIdx = index" [matColumnDef]="column">
            <th mat-header-cell
                *matHeaderCellDef
            >
                {{ this.getTemperatureTitle(colIdx) }}
            </th>
            <td mat-cell
                *matCellDef="let element; let rowIdx = index"
                [ngClass]="{ 'header-row': colIdx === 0 }"
            >
                {{ this.getDistanceText(rowIdx, colIdx) }}
            </td>
        </ng-container>
        <tr mat-header-row
            *matHeaderRowDef="this.displayedColumns"
            class="header-row"
        ></tr>
        <tr mat-row
            *matRowDef="let row; columns: this.displayedColumns; let even = even"
            [ngClass]="{ 'odd-row': !even }"
        ></tr>
    </table>
</div>
