<form [formGroup]="registerForm">
    <div fxLayout="column">
        <mat-form-field appearance="fill">
            <mat-label>E-Mail</mat-label>
            <input matInput
                   type="email"
                   formControlName="email"
                   #email
                   required>
            <mat-error>Not a valid email</mat-error>
        </mat-form-field>
        <div>
            <button mat-raised-button
                    color="primary"
                    (click)="this.onVerifyEmailClick.emit(email.value)"
                    [disabled]="this.registerForm.invalid">Verify E-Mail
            </button>
        </div>
    </div>
</form>
<!-- message if verify email has been sent successfully -->
<mat-error *ngIf="this.verifyEmailSentTo">
    <p>An email has just been sent to <strong>{{ this.verifyEmailSentTo }}</strong>. Please check your inbox and use the enclosed activation link to finish the registration.</p>
</mat-error>
