<form [formGroup]="registerForm">
    <div fxLayout="column">
        <mat-form-field appearance="fill">
            <mat-label>E-Mail</mat-label>
            <input matInput
                   type="email"
                   formControlName="email"
                   #email
                   required>
            <mat-error>Not a valid email</mat-error>
        </mat-form-field>
        <div>
            <button mat-raised-button
                    color="primary"
                    (click)="this.onVerifyEmailClick.emit(email.value)"
                    [disabled]="this.registerForm.invalid">Verify E-Mail
            </button>
        </div>
    </div>
</form>
