<table mat-table
       class="fuel-table mat-elevation-z6"
       [dataSource]="fuelDataSource">

    <ng-container matColumnDef="fuelCalc">
        <th mat-header-cell *matHeaderCellDef>Fuel Calculation</th>
        <td mat-cell *matCellDef="let fuelRow">
            <span *ngIf="!fuelRow.isBlock">
                {{ fuelRow.title }}
            </span>
            <span *ngIf="fuelRow.isBlock">
                <b>{{ fuelRow.title }}</b>
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let fuelRow">
            <span *ngIf="!fuelRow.isExtra && !fuelRow.isBlock">
                {{ this.formatTime(fuelRow.time) }}
            </span>
            <span *ngIf="fuelRow.isExtra">
                <form [formGroup]="extraTimeForm">
                    <input
                            matInput
                            type="text"
                            formControlName="extraTime"
                            maxlength="3"
                            size="3"
                            (input)="this.onInputExtraTime.emit($event.target.value)">
                </form>
            </span>
            <span *ngIf="fuelRow.isBlock">
                <b>{{ this.formatTime(fuelRow.time) }}</b>
            </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="fuel">
        <th mat-header-cell *matHeaderCellDef>Fuel</th>
        <td mat-cell *matCellDef="let fuelRow">
            <span *ngIf="!fuelRow.isBlock">
                {{ this.formatFuel(fuelRow.fuel) }}
            </span>
            <span *ngIf="fuelRow.isBlock">
                <b>{{ this.formatFuel(fuelRow.fuel) }}</b>
            </span>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['fuelCalc', 'time', 'fuel']"></tr>
    <tr mat-row *matRowDef="let fuelRow; columns: ['fuelCalc', 'time', 'fuel']"></tr>
</table>


<!--<table
        class="table table-sm table-bordered table-striped table-nonfluid">
    <thead>
    <tr>
        <th>Fuel Calculation</th>
        <th>Time</th>
        <th>Fuel</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Trip</td>
        <td>{{ formatTime(this._routeFuel?.tripTime) }}</td>
        <td>{{ formatFuel(this._routeFuel?.tripFuel) }}</td>
    </tr>
    <tr>
        <td>Alternate</td>
        <td>{{ formatTime(this._routeFuel?.alternateTime) }}</td>
        <td>{{ formatFuel(this._routeFuel?.alternateFuel) }}</td>
    </tr>
    <tr>
        <td>Reserve</td>
        <td>{{ formatTime(this._routeFuel?.reserveTime) }}</td>
        <td>{{ formatFuel(this._routeFuel?.reserveFuel) }}</td>
    </tr>
    <tr>
        <td>Minimum</td>
        <td>{{ formatTime(this._routeFuel?.minimumTime) }}</td>
        <td>{{ formatFuel(this._routeFuel?.minimumFuel) }}</td>
    </tr>
    <tr>
        <td>Extra fuel</td>
        <td>
            <form [formGroup]="extraTimeForm">
                <input
                        type="text"
                        class="form-control form-control-sm"
                        formControlName="extraTime"
                        maxlength="3"
                        size="3"
                        (input)="this.onInputExtraTime.emit($event.target.value)">
            </form>
        </td>
        <td>
            {{ formatFuel(this._routeFuel?.extraFuel) }}
        </td>
    </tr>
    <tr>
        <td><b>Block fuel</b></td>
        <td><b>{{ formatTime(this._routeFuel?.blockTime) }}</b></td>
        <td><b>{{ formatFuel(this._routeFuel?.blockFuel) }}</b></td>
    </tr>
    </tbody>
</table>
-->