<div>
    <div *ngIf="this.showMeteoLayer$ | async" class="meteo-layer-button-container">
        <app-map-status-button
            [buttonFormat]="'small_round'"
            [tooltipText]="'Station Measurements'"
            [tooltipPosition]="'right'"
            [toggleOnOff]="(this.meteoLayer$ | async) === MeteoLayer.SmaStationsLayer"
            (buttonClickedEventEmitter)="this.onStationsSelected()"
        >
            <i class="fas fa-thermometer-half"></i>
        </app-map-status-button>
        <app-map-status-button
            [buttonFormat]="'small_round'"
            [tooltipText]="'Clouds & Precipitation Forecast'"
            [tooltipPosition]="'right'"
            [toggleOnOff]="(this.meteoLayer$ | async) === MeteoLayer.DwdWeatherLayer"
            (buttonClickedEventEmitter)="this.onWeatherForecastSelected()"
        >
            <i class="fas fa-cloud"></i>
        </app-map-status-button>
        <app-map-status-button
            [buttonFormat]="'small_round'"
            [tooltipText]="'Wind Forecast'"
            [tooltipPosition]="'right'"
            [toggleOnOff]="(this.meteoLayer$ | async) === MeteoLayer.DwdWindLayer"
            (buttonClickedEventEmitter)="this.onWindForecastSelected()"
        >
            <i class="fas fa-wind"></i>
        </app-map-status-button>
    </div>
    <app-map-status-button
        [buttonFormat]="'large'"
        [tooltipText]="'show/hide meteo layers'"
        [tooltipPosition]="'right'"
        [toggleOnOff]="this.showMeteoLayer$ | async"
        (buttonClickedEventEmitter)="this.onMeteoButtonClicked()"
    >
        <i class="fas fa-cloud-sun-rain meteo-dwd-button-icon"></i>
    </app-map-status-button>
</div>
