<div class="wnb-container">
    <app-aircraft-picker-container
        labelText="Aircraft:"
        [showRegistration]="true"
    />
    <app-plan-wnb-table
        *ngIf="this.currentAircraft$ | async"
        [weightItems]="this.weightItems$ | async"
        [routeFuel]="this.routeFuel$ | async"
        [lengthUnit]="this.lengthUnit$ | async"
        [weightUnit]="this.weightUnit$ | async"
        [volumeUnit]="this.volumeUnit$ | async"
        (weightItemChanged)="this.onWeightItemChanged($event)"
    />
    <div *ngIf="this.envelope$ | async">
        <p>W&B Envelope &quot;{{ (this.envelope$ | async).name }}&quot;</p>
        <app-aircraft-wnb-envelope
            [envelope]="this.envelope$ | async"
            [zeroFuelWnbCoordinate]="this.zeroFuelCoordinate$ | async"
            [takeoffWnbCoordinate]="this.takeoffCoordinate$ | async"
            [weightUnit]="this.weightUnit$ | async"
            [lengthUnit]="this.lengthUnit$ | async"
            [isEditable]="false"
        />
    </div>
</div>
