<div class="aircraft-details-container">
    <app-aircraft-details
        [currentAircraft]="this.currentAircraft$ | async"
        [speedUnit]="this.speedUnit$ | async"
        [consumptionUnit]="this.consumptionUnit$ | async"
        (onVehicleTypeChange)="this.onVehicleTypeChange($event)"
        (onRegistrationChange)="this.onRegistrationChange($event)"
        (onIcaoTypeChange)="this.onIcaoTypeChange($event)"
        (onCruiseSpeedChange)="this.onCruiseSpeedChange($event)"
        (onCruiseFuelChange)="this.onCruiseFuelChange($event)"
        (onFuelTypeChange)="this.onFuelTypeChange($event)"
        (onSaveAircraftClick)="this.onSaveAircraftDetailsClicked()"
    />
</div>
