@if (this.currentAircraft) {
    <form [formGroup]="this.aircraftDetailsForm">
        <div class="aircraft-form-content">
            <!-- vehicle type -->
            <mat-radio-group
                color="primary"
                formControlName="vehicleType"
                (change)="this.onVehicleTypeChanged()"
            >
                <mat-radio-button [value]="VehicleType.AIRPLANE">Airplane</mat-radio-button>
                <mat-radio-button [value]="VehicleType.HELICOPTER">Helicopter</mat-radio-button>
            </mat-radio-group>
            <!-- registration -->
            <mat-form-field>
                <mat-label>Registration</mat-label>
                <input
                    matInput
                    formControlName="registration"
                    type="text"
                    required
                    (change)="this.onRegistrationChanged()"
                />
            </mat-form-field>
            <!-- aircraft icao type dropdown -->
            <app-aircraft-type-designator-autocomplete
                labelText="ICAO Aircraft Type"
                [initialValue]="this.getInitialIcaoType()"
                [(isValid)]="this.isIcaoTypeValid"
                (icaoTypeChange)="this.onIcaoTypeChanged($event)"
            />
            <!-- cruise speed -->
            <app-horizontal-speed-input
                [speed]="this.currentAircraft.cruiseSpeed"
                [defaultSpeedUnit]="this.horizontalSpeedUnit"
                (valueChanged)="this.onCruiseSpeedChanged($event)"
            >Cruise Speed</app-horizontal-speed-input>
            <!-- fuel consumption -->
            <app-consumption-input
                [consumption]="this.currentAircraft.cruiseFuel"
                [defaultConsumptionUnit]="this.consumptionUnit"
                [isRequired]="true"
                (valueChanged)="this.onCruiseFuelChanged($event)"
            >Fuel Consumption</app-consumption-input>
            <!-- fuel type -->
            <mat-form-field>
                <mat-label>Fuel Type</mat-label>
                <mat-select
                    formControlName="fuelType"
                    required
                    (selectionChange)="this.onFuelTypeChanged()"
                >
                    <mat-option value="" selected>(select)</mat-option>
                    <mat-option [value]="FuelType.MOGAS">MOGAS</mat-option>
                    <mat-option [value]="FuelType.AVGAS">AVGAS</mat-option>
                    <mat-option [value]="FuelType.JET">JET</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- ROC at sealevel -->
            <app-vertical-speed-input
                [speed]="this.currentAircraft.rocSealevel"
                [defaultSpeedUnit]="this.verticalSpeedUnit"
                (valueChanged)="this.onRocSealevelChanged($event)"
            >ROC at Sealevel</app-vertical-speed-input>
            <!-- service ceiling -->
            <app-altitude-input
                [length]="this.currentAircraft.serviceCeiling"
                [defaultLengthUnit]="this.altitudeUnit"
                [isRequired]="true"
                (valueChanged)="this.onServiceCeilingChanged($event)"
            >Service Ceiling</app-altitude-input>
            <!-- cruise climb speed -->
            <app-horizontal-speed-input
                [speed]="this.currentAircraft.cruiseClimbSpeed"
                [defaultSpeedUnit]="this.horizontalSpeedUnit"
                (valueChanged)="this.onCruiseClimbSpeedChanged($event)"
            >Cruise Climb Speed</app-horizontal-speed-input>

            <app-save-button
                [isEnabled]="this.isFormValid()"
                (saveClicked)="this.onSaveAircraftDetailsClicked()"
            />
        </div>
    </form>
}
