<form *ngIf="this.currentAircraft" [formGroup]="this.aircraftDetailsForm">
    <div class="aircraft-form-content">

        <!-- vehicle type -->
        <mat-radio-group
            color="primary"
            formControlName="vehicleType"
            (change)="this.onVehicleTypeChanged()"
        >
            <mat-radio-button [value]="VehicleType.AIRPLANE">Airplane</mat-radio-button>
            <mat-radio-button [value]="VehicleType.HELICOPTER">Helicopter</mat-radio-button>
        </mat-radio-group>

        <!-- registration -->
        <mat-form-field>
            <mat-label>Registration</mat-label>
            <input
                matInput
                formControlName="registration"
                type="string"
                required
                (change)="this.onRegistrationChanged()"
            />
        </mat-form-field>

        <!-- aircraft icao type -->
        <mat-form-field>
            <mat-label>ICAO Type Designator</mat-label>
            <input
                matInput
                formControlName="icaoType"
                type="string"
                required
                (change)="this.onIcaoTypeChanged()"
            />
        </mat-form-field>

        <!-- aircraft icao type dropdown -->
        <app-aircraft-type-designator-autocomplete
            [icaoType]="this.aircraftDetailsForm.controls.icaoType.value"
            (icaoTypeChanged)="this.onIcaoType2Changed($event)"
        />

        <!-- speed -->
        <mat-form-field>
            <mat-label>Cruise Speed</mat-label>
            <input
                matInput
                formControlName="cruiseSpeed"
                type="number"
                required
                min="1"
                max="999"
                (change)="this.onCruiseSpeedChanged()"
            >
            <span matTextSuffix>{{ Speed.getUnitString(this.speedUnit) }}</span>
            <mat-error>Value must be a positive number between 1 and 999!</mat-error>
        </mat-form-field>

        <!-- fuel consumption -->
        <mat-form-field>
            <mat-label>Cruise Fuel Consumption</mat-label>
            <input
                matInput
                formControlName="cruiseFuel"
                type="number"
                required
                min="1"
                max="999"
                (change)="this.onCruiseFuelChanged()"
            >
            <span matTextSuffix>{{ Consumption.getUnitString(this.consumptionUnit) }}</span>
            <mat-error>Value must be a positive number between 1 and 999!</mat-error>
        </mat-form-field>

        <!-- fuel type -->
        <mat-form-field>
            <mat-label>Fuel Type</mat-label>
            <mat-select
                formControlName="fuelType"
                (selectionChange)="this.onFuelTypeChanged()"
            >
                <mat-option value="" selected>(select)</mat-option>
                <mat-option [value]="FuelType.MOGAS">MOGAS</mat-option>
                <mat-option [value]="FuelType.AVGAS">AVGAS</mat-option>
                <mat-option [value]="FuelType.JET">JET</mat-option>
            </mat-select>
        </mat-form-field>

        <p>
            <button
                mat-raised-button
                color="primary"
                [disabled]="this.aircraftDetailsForm.invalid"
                (click)="this.onSaveAircraftDetailsClicked()"
            >
                Save
            </button>
        </p>

    </div>
</form>
