<div class="step2-container">
    <!-- input fields -->
    @if (this.uploadedChartInfo && this.uploadedChartInfo.success) {
        <div [formGroup]="this.formGroup" class="form-fields">
            <p>File: {{ this.uploadedChartInfo.filename }}</p>

            <!-- chart registration type -->
            <app-chart-upload-registration-type-selector
                [chartRegistrationType]="this.chartRegistrationType"
                (chartRegistrationTypeChanged)="this.onChartRegistrationTypeChanged()"
            />

            <!-- geo coordinate type -->
            <mat-form-field>
                <mat-label>Coordinate System</mat-label>
                <mat-select
                    formControlName="geoCoordinateType"
                    (selectionChange)="this.onGeoCoordinateTypeChanged()"
                >
                    <mat-option [value]="GeoCoordinateType.LON_LAT">WGS84 (Latitude / Longitude)</mat-option>
                    <mat-option [value]="GeoCoordinateType.LV03">Swiss Coordinates LV03 (CH1903)</mat-option>
                    <mat-option [value]="GeoCoordinateType.LV95">Swiss Coordinates LV95 (CH1903+)</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- map reference point 1 -->
            <div class="form-row">
                Reference Point 1:
                <i class="fa-solid fa-crosshairs refPoint1Icon"></i>

                <app-chart-upload-coordinate-selector
                    controlName="mapRefPoint1"
                    [geoCoordinateType]="this.geoCoordinateType"
                    [isRequired]="true"
                    [isDisabled]="this.isCoord1Disabled()"
                    [coordinate]="this.mapRefPoint1"
                    (coordinateChanged)="this.onRefPoint1Changed($event)"
                />

                <i [hidden]="this.mapRefPoint1">(pick on map)</i>
                <span [hidden]="!this.mapRefPoint1">
                        <i class="fa-solid fa-check-circle checkIcon"></i>
                </span>
            </div>

            <!-- map reference point 2 -->
            @if (this.isCoord2Required()) {
                <div class="form-row">
                    Reference Point 2:
                    <i class="fa-solid fa-crosshairs refPoint2Icon"></i>

                    <app-chart-upload-coordinate-selector
                        controlName="mapRefPoint2"
                        [geoCoordinateType]="this.geoCoordinateType"
                        [isRequired]="this.isCoord2Required()"
                        [isDisabled]="false"
                        [coordinate]="this.mapRefPoint2"
                        (coordinateChanged)="this.onRefPoint2Changed($event)"
                    />

                    <i [hidden]="this.mapRefPoint2 || !this.mapRefPoint1">(pick on map)</i>
                    <span [hidden]="!this.mapRefPoint2">
                        <i class="fa-solid fa-check-circle checkIcon"></i>
                    </span>
                </div>
            }

        </div>

        <!-- mini viewer -->
        <app-mini-image-viewer
            class="image-viewer"
            [imageSrc]="'http://localhost:8080/tmp/' + this.uploadedChartInfo.url"
            [isClickable]="false"
            [fitImage]="false"
            [overlayIcons]="this.getOverlayIcons()"
        />
    }
</div>
