<div class="step2-container">
    <!-- input fields -->
    @if (this.uploadedChartInfo && this.uploadedChartInfo.success) {
        <div [formGroup]="this.formGroup" class="form-fields">
            <p>File: {{ this.uploadedChartInfo.filename }}</p>

            <!-- chart registration type -->
            <mat-radio-group
                color="primary"
                formControlName="chartRegistrationType"
                (change)="this.onChartRegistrationTypeChanged()"
            >
                <mat-radio-button [value]="ChartRegistrationType.POS1_POS2">Two reference points</mat-radio-button>
                <mat-radio-button [value]="ChartRegistrationType.POS1_SCALE">One reference point &amp; chart scale
                </mat-radio-button>
                <mat-radio-button [value]="ChartRegistrationType.ARP_SCALE">Aerodrome ARP &amp; chart scale
                </mat-radio-button>
            </mat-radio-group>

            <!-- geo coordinate type -->
            <mat-form-field>
                <mat-label>Coordinate System</mat-label>
                <mat-select
                    formControlName="geoCoordinateType"
                    (selectionChange)="this.onGeoCoordinateTypeChanged()"
                >
                    <mat-option [value]="GeoCoordinateType.LON_LAT">WGS84 (Latitude / Longitude)</mat-option>
                    <mat-option [value]="GeoCoordinateType.LV03">Swiss Coordinates LV03 (CH1903)</mat-option>
                    <mat-option [value]="GeoCoordinateType.LV95">Swiss Coordinates LV95 (CH1903+)</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- map reference point 1 -->
            <div class="form-row">
                Reference Point 1:
                <i class="fa-solid fa-crosshairs refPoint1Icon"></i>

                <mat-form-field class="coordInput">
                    <mat-label>Latitude</mat-label>
                    <input
                        matInput
                        formControlName="refLat1"
                        required
                        (change)="this.onRefPoint1Changed()"
                    >
                    <span matTextSuffix>°N</span>
                </mat-form-field>

                <mat-form-field class="coordInput">
                    <mat-label>Longitude</mat-label>
                    <input
                        matInput
                        formControlName="refLon1"
                        required
                        (change)="this.onRefPoint1Changed()"
                    >
                    <span matTextSuffix>°E</span>
                </mat-form-field>

                <i [hidden]="this.mapRefPoint1">(pick on map)</i>
                <span [hidden]="!this.mapRefPoint1">
                        <i class="fa-solid fa-check-circle checkIcon"></i>
                    </span>
            </div>

            <!-- map reference point 2 -->
            @if (this.chartRegistrationType === ChartRegistrationType.POS1_POS2) {
                <div class="form-row">
                    Reference Point 2:
                    <i class="fa-solid fa-crosshairs refPoint2Icon"></i>

                    <mat-form-field class="coordInput">
                        <mat-label>Latitude</mat-label>
                        <input
                            matInput
                            formControlName="refLat2"
                            required
                            (change)="this.onRefPoint2Changed()"
                        >
                        <span matTextSuffix>°N</span>
                    </mat-form-field>

                    <mat-form-field class="coordInput">
                        <mat-label>Longitude</mat-label>
                        <input
                            matInput
                            formControlName="refLon2"
                            required
                            (change)="this.onRefPoint2Changed()"
                        >
                        <span matTextSuffix>°E</span>
                    </mat-form-field>

                    <i [hidden]="this.mapRefPoint2 || !this.mapRefPoint1">(pick on map)</i>
                    <span [hidden]="!this.mapRefPoint2">
                        <i class="fa-solid fa-check-circle checkIcon"></i>
                    </span>
                </div>
            }

        </div>

        <!-- mini viewer -->
        <app-mini-image-viewer
            class="image-viewer"
            [imageSrc]="'http://localhost:8080/tmp/' + this.uploadedChartInfo.url"
            [isClickable]="false"
            [fitImage]="false"
            [overlayIcons]="this.getOverlayIcons()"
        />
    }
</div>
