.filter-row {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
    margin-top: 20px;
}

table {
    width: 100%;
}

.button-cell {
    text-align: right;
}

mat-paginator {
    margin-top: 20px;
}
