<div>
    <!-- aircraft filter -->
    <div class="filter-row">
        <!-- filter aircraft list -->
        <mat-form-field>
            <input
                matInput
                (keyup)="this.applyFilter($event.target.value)"
                placeholder="Filter"
            >
            <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
    </div>

    <!-- track list -->
    <table
        mat-table
        class="meep"
        [dataSource]="this.dataSource"
        [trackBy]="this.trackByFn"
    >
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Recorded</th>
            <td mat-cell
                *matCellDef="let track"
                class="clickable"
                (click)="this.trackSelected.emit(track.id)">
                {{ this.getDateString(track) }}
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Track</th>
            <td mat-cell
                *matCellDef="let track"
                class="clickable"
                (click)="this.trackSelected.emit(track.id)">
                {{ track.name }}
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell
                *matCellDef="let track"
                class="clickable"
                (click)="this.trackSelected.emit(track.id)">
                saved
            </td>
        </ng-container>

        <ng-container matColumnDef="icons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let entry" class="button-cell">
                <app-icon-button
                    [color]="ButtonColor.GREEN"
                    tooltipText="Edit Track"
                    tooltipPosition="above"
                    (buttonClicked)="this.onEditTrackClick(entry)"
                >
                    <i class="fa-solid fa-pencil"></i>
                </app-icon-button>
                <app-icon-button
                    [color]="ButtonColor.BLUE"
                    tooltipText="Export KML for Google Earth"
                    tooltipPosition="above"
                    (buttonClicked)="this.exportKmlClicked.emit(entry.id)"
                >
                    <i class="fa-solid fa-globe"></i>
                </app-icon-button>
                <app-icon-button
                    [color]="ButtonColor.RED"
                    tooltipText="Delete Track"
                    tooltipPosition="above"
                    (buttonClicked)="this.onDeleteTrackClick(entry)"
                >
                    <i class="fa-solid fa-trash"></i>
                </app-icon-button>
            </td>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="this.visibleColumns"
            class="header-row"
        ></tr>
        <tr mat-row
            *matRowDef="let listEntry; let even = even; columns: this.visibleColumns"
            [ngClass]="{ 'odd-row': !even, 'selected-row': this.selectedTrack?.id === listEntry?.id }"
        ></tr>

        <tr *matNoDataRow>
            <td>&nbsp;</td>
            <td><i>No recorded tracks</i></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </table>

    <mat-paginator
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        showFirstLastButtons="true"
    />
</div>
