<div class="searchbox">
    <div class="input-group">
        <mat-form-field class="example-form-field" style="background-color: white">
            <input
                    #query
                    matInput
                    [matAutocomplete]="auto"
                    type="text"
                    placeholder="search for AD, navaid, city, coordinates or click on map"
                    (input)="this.onSearchInputChange.emit(query.value)"
                    (blur)="this.onSearchInputBlur.emit()">
            <button
                    mat-button
                    *ngIf="query.value"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="query.value=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="getDisplayName"
                (optionSelected)="this.onResultSelected.emit($event.option.value)">
            <mat-option
                    *ngFor="let result of this.searchResults?.items; let idx = index"
                    [value]="result">
                {{ this.getDisplayName(result) }}
            </mat-option>
        </mat-autocomplete>
    </div>
</div>
