<div *ngIf="this.currentAircraft" class="wnb-container">
    <p>Aircraft: {{ this.currentAircraft.registration }}</p>
    <!-- mtow -->
    <div class="weight-fields">
        <mat-form-field>
            <mat-label>MTOW</mat-label>
            <input matInput
                   type="number"
                   [formControl]="this.mtowInput"
                   required
                   size="5"
                   min="1"
                   max="99999"
                   (change)="this.onMtowChange()"
            >
            <span matTextSuffix>{{ Weight.getUnitString(this.weightUnit) }}</span>
            <mat-error>Value must be a positive number between 1 and 99999!</mat-error>
        </mat-form-field>

        <!-- empty aircraft weight -->
        <mat-form-field>
            <mat-label>Empty Aircraft Weight</mat-label>
            <input matInput
                   type="number"
                   [formControl]="this.bewInput"
                   required
                   size="5"
                   min="1"
                   max="99999"
                   (change)="onBewChange()"
            >
            <span matTextSuffix>{{ Weight.getUnitString(this.weightUnit) }}</span>
            <mat-error>Value must be a positive number between 1 and 99999!</mat-error>
        </mat-form-field>
    </div>

    <!-- weight items -->
    <app-aircraft-wnb-table
        [weightItems]="this.currentAircraft.wnbWeightItems"
        [lengthUnit]="this.lengthUnit"
        (addWeightItem)="this.addWeightItem.emit($event)"
        (editWeightItem)="this.editWeightItem.emit($event)"
        (deleteWeightItem)="this.deleteWeightItem.emit($event)"
    />

    <!-- save button -->
    <p>
        <button
            mat-raised-button
            color="primary"
            [disabled]="!this.isValidWnbForm()"
            (click)="this.onSaveAircraftWnbClicked()"
        >
            Save
        </button>
    </p>
</div>

<div *ngIf="!this.currentAircraft">
    <i>No Aircraft selected</i>
</div>
